<form class="form-horizontal">
    <div class="panel-description">
        {{t callBackHelp}}
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{t "templates.socialProviders.endUserCallback"}}</label>
        <div class="col-sm-6">
            <input class="form-control" value="{{enduser}}" disabled="true" type="text" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{t "templates.socialProviders.adminCallback"}}</label>
        <div class="col-sm-6">
            <input class="form-control" value="{{admin}}" disabled="true" type="text" />
        </div>
    </div>
</form>