<div class="column-layout">
    <div class="float-left" style="width: 110px;">
        <img src="images/default_profile_image.gif" alt="default" />
        <a href="#">{{t "common.user.changePhoto" }}</a>
    </div>
    <div class="column2">
        <label name="userName" class="header">--XXX--</label>
        <label name="position">--XXX--</label>
        <label class="inline"><strong>{{t "common.user.SKYPE" }}:</strong></label>
        <label class="inline" name="skype"></label>
        <label class="inline"><strong>{{t "common.user.googlePlus" }}:</strong></label>
        <label class="inline" name=google>--XXX--</label>
    </div>
</div>