<div class="floatLeft" style="width: 110px;">
    <img src="images/default_profile_image.gif" alt="default" />
    <div class="line">
        <a href="#" class="ice">Change photo</a>
    </div>
</div>
<div class="floatLeft">
	<div class="line">
	    <label name="userName" class="head">--XXX--</label>
	</div>
	
	<div class="line">
	    <label name="position">--XXX--</label>
	</div>
	
	<div class="line" style="margin-top: 20px;">
	    <label><strong>SKYPE:</strong></label>
	    <label name="skype">--XXX--</label>
	</div>
	
	<div class="line">
	    <label><strong>Google+:</strong></label>
	    <label name=google>--XXX--</label>
	</div>
</div>
<div class="clear"></div>