<div id='registration' style="width : 1000px;">
	<div id="dashboard" class="center">
	    <div class="floatLeft" style="width : 601px;">
	        <h2 class="underline" style="margin-right: 15px">{{t "common.application.yourFrequentlyUsedApplications" }}</h2>
	        <div id='applicationTable' ></div>
	    </div>
	    <div class="floatRight" style="width : 330px; margin-right: 15px;">
	        <h2 class="underline">{{t "common.notification.notifications" }}</h2>
	        <div id='notifications' style="margin-bottom: 15px;" ></div>
	        <h2 class="underline">{{t "common.user.profile" }}</h2>
	        <div id='profileInfo' ></div>
	    </div>
	    <div class="clear"></div>
	</div>
</div>
<div class='clear'></div>