<div id="dashboard">

    <div class="column-layout">
        <div class="column5">
            <h2 class="header" style="margin-right: 15px">{{t "common.application.yourFrequentlyUsedApplications" }}</h2>
            <div id="applicationTable"></div>
        </div>
        <div class="column3">
            <h2 class="header">{{t "common.notification.notifications" }}</h2>
            <div id="notifications" style="margin-bottom: 15px;" ></div>
            
            <h2 class="header">{{t "common.user.profile" }}</h2>
            <div id="profileInfo" ></div>
        </div>
    
    </div>  

</div>