<div id='registration' style="width : 1000px;">
	<div id="dashboard" class="center">
	    <div class="floatLeft" style="width : 601px;">
	        <h2 class="underline" style="margin-right: 15px">Your frequently used apps</h2>
	        <div id='applicationTable' />
	    </div>
	    <div class="floatRight" style="width : 330px; margin-right: 15px;">
	        <h2 class="underline">Notifications</h2>
	        <div id='notifications' style="margin-bottom: 15px;" />
	        <h2 class="underline">Profile</h2>
	        <div id='profileInfo' />
	    </div>
	    <div class="clear"></div>
	</div>
</div>
<div class='clear'></div>