<div id="mappingLinkQualifiers"></div>

<h3 class="attributesHeader">{{t "templates.mapping.attributes"}}</h3>

<div class="changesPending alert-box warning-message" style="display:none;">
    <div class="alert-message">
        <i class="fa alert-message-icon"></i><span class="message-type">{{t "common.form.warning" }}!</span>
        <span class="message">{{t "templates.mapping.changesPending"}}</span>
    </div>
</div>
<div class="float-left">
    <input type="button" class="addProperty button" value="{{t "templates.mapping.addProperty"}}" />
</div>
<div class="float-right">
    <fieldset>
        <label for="numRepresentativeProps" class="inline">{{t "templates.mapping.numRepresentativeProps"}}:</label> <input type="text" class="small-text-input" id="numRepresentativeProps" value="{{numRepresentativeProps}}">
        <!-- <label for="findSampleSource" class="inline">{{t "templates.mapping.sampleSource"}}:</label> <input type="text" id="findSampleSource" value="{{sampleSource_txt}}"> -->
    </fieldset>
</div>
<br/><br/><br/>
<div>
    <span id="allPropertiesMapped" style="display:none;">{{t "templates.mapping.allPropertiesMapped"}}</span>
    <table id="mappingTable"></table>
    {{#if missingRequiredProperties}}
    <button type="button" id="missingRequiredPropertiesButton"  name="" class="button icon-button pull-left edit-button"><span>{{t "common.form.add"}} {{t "templates.mapping.missingRequiredProperties"}} ({{missingRequiredProperties.length}})</span></button>
    {{/if}}
    <button type="button" id="updateMappingButton"  name="" class="button icon-button pull-right edit-button"><span>{{t "templates.mapping.saveProperties"}}</span><i class="fa fa-lg fa-save"></i></button>
    <button type="button" id="clearChanges"  name="" class="button icon-button pull-right edit-button"><span>{{t "templates.mapping.clearChanges"}}</span><i class="fa fa-lg fa-refresh"></i></button>
</div>