<section>
    <div class="container">
        <div class="page-header">
            <h1>{{t "templates.workflows.processes.processes"}}</h1>
        </div>

        <div id="processTabs" class="tab-menu">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#activeProcesses">{{t "templates.workflows.processes.activeProcesses"}}</a></li>
                <li><a data-toggle="tab" href="#processHistory">{{t "templates.workflows.processes.processesCompleted"}}</a></li>
                <li><a data-toggle="tab" href="#processDefinitions">{{t "templates.workflows.processes.processDefinitions"}}</a></li>
            </ul>
        </div>

        <div class="tab-content" id="processesBody">
            <div id="activeProcesses" class="tab-pane active" role="tabpanel"></div>
            <div id="processHistory" class="tab-pane" role="tabpanel"></div>
            <div id="processDefinitions" class="tab-pane" role="tabpanel"></div>
        </div>
    </div>
</section>