<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1118.5799560546875, 782.8900146484375}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-06-12 08:24:12 +0000</string>
	<key>Creator</key>
	<string>Lana Frost</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{-43, 432.36688613891602}, {64, 34}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>175</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red120\green120\blue120;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\b\fs20 \cf2 Modularity\
Framework}</string>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-55, 303.99997425079346}, {76, 34}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>176</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red120\green120\blue120;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\b\fs20 \cf2 Infrastructure \
Modules}</string>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-56, 210.95413684844971}, {77, 22}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>177</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red120\green120\blue120;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs20 \cf2 Core Services}</string>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-25, 135.58861255645752}, {46, 22}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>178</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red120\green120\blue120;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs20 \cf2 Access}</string>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-23, 68.246129035949707}, {44, 22}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>179</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red120\green120\blue120;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs20 \cf2 Clients}</string>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{380.5425136856469, 105.40612602233887}, {70.55999755859375, 43.200000762939453}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>180</integer>
					<key>Rotation</key>
					<real>90</real>
					<key>Shape</key>
					<string>AdjustableArrow</string>
					<key>ShapeData</key>
					<dict>
						<key>ratio</key>
						<real>0.50000017881393433</real>
						<key>width</key>
						<real>20.000001907348633</real>
					</dict>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.966667</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.983333</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.386526</string>
								<key>g</key>
								<string>0.780273</string>
								<key>r</key>
								<string>0.634358</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.4523809552192688</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.4</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.988889</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.994444</string>
							</dict>
							<key>GapRatio</key>
							<real>0.5</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>TextRelativeArea</key>
					<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
					<key>isConnectedShape</key>
					<true/>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{319.26423072814941, 63.766128540039062}, {193.11652793675211, 30.960000991821289}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>181</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.350408</string>
								<key>g</key>
								<string>0.738381</string>
								<key>r</key>
								<string>0.683879</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 Workflow Design / Modeling Tools}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{248.29570960998535, 100.68432123329075}, {70.60858154296875, 43.200000762939453}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>182</integer>
					<key>Rotation</key>
					<real>90</real>
					<key>Shape</key>
					<string>AdjustableArrow</string>
					<key>ShapeData</key>
					<dict>
						<key>ratio</key>
						<real>0.50000017881393433</real>
						<key>width</key>
						<real>20.000001907348633</real>
					</dict>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.966667</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.983333</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.569766</string>
								<key>g</key>
								<string>0.604811</string>
								<key>r</key>
								<string>0.593895</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.4523809552192688</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.4</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.988889</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.994444</string>
							</dict>
							<key>GapRatio</key>
							<real>0.5</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>TextRelativeArea</key>
					<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
					<key>isConnectedShape</key>
					<true/>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{170.07397270202637, 83.900033950805664}, {40.852081298828125, 43.200000762939453}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>183</integer>
					<key>Rotation</key>
					<real>90</real>
					<key>Shape</key>
					<string>AdjustableArrow</string>
					<key>ShapeData</key>
					<dict>
						<key>ratio</key>
						<real>0.50000017881393433</real>
						<key>width</key>
						<real>20.000001907348633</real>
					</dict>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.966667</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.983333</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.569766</string>
								<key>g</key>
								<string>0.604811</string>
								<key>r</key>
								<string>0.593895</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.4523809552192688</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.4</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.988889</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.994444</string>
							</dict>
							<key>GapRatio</key>
							<real>0.5</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>TextRelativeArea</key>
					<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
					<key>isConnectedShape</key>
					<true/>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{36.773975163405339, 85.900033950805664}, {41.040000915527344, 43.200000762939453}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>184</integer>
					<key>Rotation</key>
					<real>90</real>
					<key>Shape</key>
					<string>AdjustableArrow</string>
					<key>ShapeData</key>
					<dict>
						<key>ratio</key>
						<real>0.50000017881393433</real>
						<key>width</key>
						<real>20.000001907348633</real>
					</dict>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.966667</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.983333</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.386526</string>
								<key>g</key>
								<string>0.780273</string>
								<key>r</key>
								<string>0.634358</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.4523809552192688</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.4</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.988889</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.994444</string>
							</dict>
							<key>GapRatio</key>
							<real>0.5</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>TextRelativeArea</key>
					<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
					<key>isConnectedShape</key>
					<true/>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{176, 63.766128540039062}, {122.40000152587891, 30.960000991821289}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>185</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.414283</string>
								<key>g</key>
								<string>0.435268</string>
								<key>r</key>
								<string>0.407288</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 External Clients}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{32.10882568359375, 123.25806518286026}, {229.89117431640625, 21.25}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>186</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>107</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.142573</string>
								<key>g</key>
								<string>0.698837</string>
								<key>r</key>
								<string>0.641189</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 REST / http(s) - RESTlet}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{32, 63.766128540039062}, {122.40000152587891, 30.960000991821289}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>187</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.350408</string>
								<key>g</key>
								<string>0.738381</string>
								<key>r</key>
								<string>0.683879</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 User Interface}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{32.000000000000028, 154.38307257383622}, {480.38075866490152, 21.25}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>188</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>107</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.142573</string>
								<key>g</key>
								<string>0.698837</string>
								<key>r</key>
								<string>0.641189</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 RESTful Java API}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{111.3628935837595, 183.72984434054365}, {115.00241088867188, 78.632026672363281}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>189</integer>
					<key>Rotation</key>
					<real>359.62887573242188</real>
					<key>Shape</key>
					<string>AdjustableDoubleArrow</string>
					<key>ShapeData</key>
					<dict>
						<key>ratio</key>
						<real>0.50724875926971436</real>
						<key>width</key>
						<real>20.053150177001953</real>
					</dict>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.967859</string>
								<key>g</key>
								<string>0.991965</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.4523809552192688</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.4</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.358154</string>
								<key>g</key>
								<string>0.643216</string>
								<key>r</key>
								<string>0.608153</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs20 \cf0 Mappings\
Synchronization\
Reconciliation}</string>
					</dict>
					<key>TextRelativeArea</key>
					<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
					<key>isConnectedShape</key>
					<true/>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{32.000000000000028, 453.61691045761108}, {480.38075866490152, 21.25}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>190</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.431581</string>
								<key>g</key>
								<string>0.401444</string>
								<key>r</key>
								<string>0.382538</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 Servlet (Optional)}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{32.000000000000028, 425.18344020843506}, {480.38075866490152, 21.25}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>191</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.431581</string>
								<key>g</key>
								<string>0.401444</string>
								<key>r</key>
								<string>0.382538</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 OSGi 4.2}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{32.000000000000028, 380.18343305587769}, {480.38075866490152, 37.816551208496094}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>192</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.350408</string>
								<key>g</key>
								<string>0.738381</string>
								<key>r</key>
								<string>0.683879</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 BPMNv2  Workflow Engine}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{315, 266.18342590332031}, {197.48959350585938, 106.81655883789062}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>193</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.350408</string>
								<key>g</key>
								<string>0.738381</string>
								<key>r</key>
								<string>0.683879</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 Repository Module}</string>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{492.61528212419159, 254.40968169901203}, {98.585985432143389, 29.813665780961866}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>195</integer>
							<key>ImageID</key>
							<integer>3</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{336.35789031877891, 250.40823898524496}, {411.10076904296869, 37.816551208496016}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>196</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.350408</string>
										<key>g</key>
										<string>0.738381</string>
										<key>r</key>
										<string>0.683879</string>
									</dict>
									<key>CornerRadius</key>
									<real>9</real>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>194</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{152, 341.99998474121094}, {146, 31}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>197</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.350408</string>
								<key>g</key>
								<string>0.738381</string>
								<key>r</key>
								<string>0.683879</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 Policy Service}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{152, 265.99998474121094}, {146, 68.816551545707199}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>198</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.350408</string>
								<key>g</key>
								<string>0.738381</string>
								<key>r</key>
								<string>0.683879</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 Audit\
Logging}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{32, 341.99998474121094}, {103, 31}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>199</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.350408</string>
								<key>g</key>
								<string>0.738381</string>
								<key>r</key>
								<string>0.683879</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 Task Scanner}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{32, 303.99998474121094}, {103, 31}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>200</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.350408</string>
								<key>g</key>
								<string>0.738381</string>
								<key>r</key>
								<string>0.683879</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 Scheduler}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{418.6192512512207, 187.54585647583008}, {93.761507413680818, 68.816551545707199}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>201</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.140849</string>
								<key>g</key>
								<string>0.698837</string>
								<key>r</key>
								<string>0.646539</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 Audit Log\
Data}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{32, 265.99998474121094}, {103, 31}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>202</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.350408</string>
								<key>g</key>
								<string>0.738381</string>
								<key>r</key>
								<string>0.683879</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 Script Engine}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{319.26423072814941, 187.54585647583008}, {93.761507413680818, 68.816551545707199}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>203</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.140849</string>
								<key>g</key>
								<string>0.698837</string>
								<key>r</key>
								<string>0.646539</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 BPMN 2.0\
workflow\
definitions}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{220.00000000000003, 187.54585647583008}, {93.761507413680818, 68.816551545707199}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>204</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.142573</string>
								<key>g</key>
								<string>0.698837</string>
								<key>r</key>
								<string>0.641189</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 System\
Objects}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{32, 187.54585647583008}, {93.761507413680818, 68.816551545707199}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>205</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.142573</string>
								<key>g</key>
								<string>0.698837</string>
								<key>r</key>
								<string>0.641189</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs22 \cf0 Managed\
Objects}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{-65, 53.999969482421875}, {634, 434}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>206</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.75</string>
								<key>g</key>
								<string>0.75</string>
								<key>r</key>
								<string>0.75</string>
							</dict>
							<key>CornerRadius</key>
							<real>9</real>
							<key>Pattern</key>
							<integer>2</integer>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>174</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>4</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image3.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>YES</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-07-04 06:34:51 +0000</string>
	<key>Modifier</key>
	<string>Lana Frost</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.28997802734375, 841.8900146484375}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{241, -22}, {814, 838}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<false/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-65, 0}, {786, 684}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
