<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<form class="form-horizontal registration" role="form">
    <div id="processContent"></div>


    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <a href="#" id="closeLinkButton" class="closeLink">{{t "common.form.close"}}</a>
            <input type="submit" name="startProcessButton" value="{{t "common.form.start"}}"  class="btn btn-primary" />
        </div>
    </div>
</form>