<div class="form-group">
    <label class="col-sm-3 control-label">{{t "templates.emailConfig.resetPassword.newPasswordRules"}}</label>
    <div class="col-sm-7">
        <div class="well form-subgroup">
            <span class="help-block">{{t "templates.emailConfig.resetPassword.helpBlock"}}</span>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="" style="margin-top:7px;">{{t "templates.emailConfig.resetPassword.passwordLength"}}</label>
                        <input class="form-control" name="passwordLength" value="{{config.passwordLength}}">
                    </div>
                </div>
                {{#each config.passwordRules}}
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="" style="margin-top:7px;">
                            {{#equals rule "UPPERCASE"}}
                                {{t "templates.emailConfig.resetPassword.UPPERCASE"}}
                            {{/equals}}
                            {{#equals rule "LOWERCASE"}}
                                {{t "templates.emailConfig.resetPassword.LOWERCASE"}}
                            {{/equals}}
                            {{#equals rule "INTEGERS"}}
                                {{t "templates.emailConfig.resetPassword.INTEGERS"}}
                            {{/equals}}
                            {{#equals rule "SPECIAL"}}
                                {{t "templates.emailConfig.resetPassword.SPECIAL"}}
                            {{/equals}}
                        </label>
                        <input class="form-control"  name="passwordRules[{{@index}}].minimum" value="{{minimum}}" data-validator="required" data-validator-event="keyup blur validate"/>
                        <div class="validation-message"></div>
                        <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                        <input type="hidden" name="passwordRules[{{@index}}].rule" value="{{rule}}">
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
