<h1 id="addEditConnectorTitle">{{addEditTitle}}</h1>
<div class="connector-input-body">
    <form id="connectorForm" class="form clearfix" autocomplete="off">

        <fieldset>
            <legend><span>General Connector Details</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
            <div class="group-body">
                <div class="group-field-block group-lead">
                    <div class="separate-message">
                        <label for="connectorName" class="light">{{t "templates.connector.connectorName"}}</label>
                        <input id="connectorName" class="form-size-l" type="text" name="name" value="{{connectorName}}" {{#if editState}} disabled="true" {{else}}data-validator="required" data-validator-event="keyup blur" required autofocus {{/if}}>
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                </div>

                <div class="group-field-block no-validation-block">
                    <label for="connectorEnabled" class="light">{{t "templates.connector.connectorEnabled"}}</label>
                    <select id="connectorEnabled" class="form-size-s" name="enabled">
                        {{#select enabled}}
                            <option value="true">True</option>
                            <option value="false">False</option>
                        {{/select}}
                    </select>
                </div>

                <div class="group-field-block no-validation-block">
                    <label for="connectorType" class="light">{{t "templates.connector.connectorType"}}</label>
                    <select id="connectorType" class="form-size-m" name="connectorType" {{#if editState}} disabled="true" {{/if}}>
                        {{#each connectors}}
                            <option value="{{connectorName}}">{{displayName}}  {{bundleVersion}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </fieldset>

        <div class="connector-details-body" id="connectorDetails">
        </div>

        <div style="display:none;" id="connectorErrorMessage" class="float-left error-box">
            <p class="error-message"></p>
            <button type="button" class="close-button" data-dismiss="alert">
                <span>×</span>
            </button>
        </div>
        <div class="float-right form-button-bar">
            <input type="submit" id="addEditConnector" name="addEditButton" value="{{addEditSubmitTitle}}" class="button" disabled="true">
        </div>
    </form>
</div>
