<section>
    <div class="container">

        <div class="page-header">
            <h1>{{t "config.AppConfiguration.Navigation.links.connectors"}}</h1>
        </div>

        <div class="btn-toolbar" role="toolbar" aria-label="toolbar">
            <div class="btn-group" role="group" aria-label="add connector">
                <a href="#connectors/add/"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>{{t "templates.connector.addConnector"}}</button></a>
            </div>
        </div>

        <div class="section-header">
            <div class="subtitle-bar">
                <h2>{{t "templates.connector.connectorTitle"}}</h2>
                <a target="_blank" href="http://openidm.forgerock.org/doc/integrators-guide/index.html#openidm-openicf">Help <i class="fa fa-question-circle"></i></a>
            </div>
            <div class="clearfix"></div>
            <div class="help-body">
                <p>{{t "templates.connector.whatIsAConnector"}}</p>
            </div>
        </div>

        <div id="resourceConnectorContainer" class="list-grid">
            <div class="row">
                {{#each currentConnectors}}
                <div class="col-sm-6 col-md-3 ">
                    <div class="card-container" style="z-index: 5;">
                        <div  data-resource-type="connector" data-connector-title="{{cleanUrlName}}"  class="card">
                            <div class="card-heading">
                                <!-- Single button -->
                                <div class="btn-group">
                                    <button type="button" id="{{name}}ConnectorToggle" class="btn btn-link fa-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        {{#each objectTypes}}
                                        <li><a href="#resource/system/{{../name}}/{{this}}/list/"><i class="fa fa-database"></i>{{t "templates.admin.ResourceEdit.data"}} ({{this}})</a></li>
                                        {{/each}}
                                        <li><a href="#connectors/edit/{{cleanUrlName}}/"><i class="fa fa-pencil"></i>{{t "common.form.edit"}}</a></li>
                                        <li class="connector-delete"><span><i class="fa fa-times"></i>{{t "common.form.delete"}}</span></li>
                                        <li class="divider"></li>
                                        <li><a href="#mapping/add/connector/{{name}}"><i class="fa fa-plus"></i>{{t "templates.connector.addMapping"}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="#connectors/edit/{{cleanUrlName}}/">
                                    <div class="image circle">
                                        <i class="{{iconClass}}"></i>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">{{name}}</h3>
                                            <p class="cardtype">{{displayName}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-footer">
                                {{#if ok}}
                                <span class="text-success"><i class="fa fa-check"></i> {{t "templates.connector.activeState"}}</span>
                                {{else}}
                                {{#if enabled}}
                                <span title="{{error}}" class="text-danger"><i class="fa fa-check"></i> {{t "templates.connector.errorState"}}</span>
                                {{else}}
                                <span title="{{error}}" class="text-warning"><i class="fa fa-check"></i> {{t "templates.auth.disabled"}}</span>
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="col-sm-6 col-md-3 ">
                    <div class="add-card" style="z-index: 3;">
                        <div class="">
                            <a href="#connectors/add/">
                                <div class="image circle">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <div class="content">
                                    {{t "templates.connector.addConnector"}}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>