<h1>Connectors</h1>
<div>
    {{#each currentConnectors}}
		<div data-connector-title="{{cleanUrlName}}" class="connector-body edit-connector">
			<div class="connector-type-body">
				<div class="connector-tools">
					{{#if editable}}
					<a href="#connectors/edit/{{cleanUrlName}}/"><span class="pull-right connector-edit" title="Edit Connector"><i class="fa fa-pencil"></i></span></a>
					{{/if}}
					<span class="pull-right connector-delete" title="Delete Connector"><i class="fa fa-times-circle-o"></i></span>
				</div>
				<div class="connector-info">
					<span><i class="fa fa-paper-plane fa-4x"></i></span>
					<p class="connector-type-name">{{displayName}}</p>
				</div>
			</div>
			<hr /> 
			<div class="connector-status-body">
				<p class="connector-given-name">{{name}}</p>
				  {{#if ok}}
				    <p class="connector-status connector-available"><i class="fa fa-check-circle-o "></i> {{t "templates.connector.activeState"}}</p>
				  {{else}}
				  	<p title="{{errorMessage}}" class="connector-status connector-unavailable"><i class="fa fa-times-circle"></i> {{t "templates.connector.errorState"}}</p>
				  {{/if}}
			</div>
		</div>
	{{/each}}
    <a class="add-connector-link" href="#connectors/add/">
        <div id="connectorsAdd" class="connector-body add-connector-body">
            <div class="connector-type-inner">
                <div class="connector-info">
                    <span><i class="fa fa-plus-circle fa-3x"></i></span>
                    <p>{{t "templates.connector.addConnectorTitle"}}</p>
                </div>
            </div>
        </div>
    </a>
</div>
