<fieldset>
    <legend><span>{{t "templates.connector.baseTitle"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
    <div class="group-body">
        <div class="group-field-block group-lead">
            <div class="separate-message">
                <label for="quoting" class="light">{{t "templates.connector.databaseTableConnector.quoting"}}</label>
                <input id="quoting" class="form-size-l" data-validator="required" type="text" name="configurationProperties.quoting" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.quoting}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="host" class="light">{{t "templates.connector.databaseTableConnector.host"}}</label>
                <input id="host" class="form-size-l" data-validator="required" type="text" name="configurationProperties.host" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.host}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="port" class="light">{{t "templates.connector.databaseTableConnector.port"}}</label>
                <input id="port" class="form-size-l" data-validator="required" type="text" name="configurationProperties.port" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.port}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="user" class="light">{{t "templates.connector.databaseTableConnector.user"}}</label>
                <input id="user" class="form-size-l" data-validator="required" type="text" name="configurationProperties.user" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.user}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="password" class="light">{{t "templates.connector.databaseTableConnector.password"}}</label>
                <input id="password" class="form-size-l" data-validator="required" type="text" name="configurationProperties.password" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.password}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="database" class="light">{{t "templates.connector.databaseTableConnector.database"}}</label>
                <input id="database" class="form-size-l" data-validator="required" type="text" name="configurationProperties.database" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.database}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="table" class="light">{{t "templates.connector.databaseTableConnector.table"}}</label>
                <input id="table" class="form-size-l" data-validator="required" type="text" name="configurationProperties.table" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.table}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="keyColumn" class="light">{{t "templates.connector.databaseTableConnector.keyColumn"}}</label>
                <input id="keyColumn" class="form-size-l" data-validator="required" type="text" name="configurationProperties.keyColumn" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.keyColumn}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="passwordColumn" class="light">{{t "templates.connector.databaseTableConnector.passwordColumn"}}</label>
                <input id="passwordColumn" class="form-size-l" data-validator="required" type="text" name="configurationProperties.passwordColumn" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.passwordColumn}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="jdcDriver" class="light">{{t "templates.connector.databaseTableConnector.jdcDriver"}}</label>
                <input id="jdcDriver" class="form-size-l" data-validator="required" type="text" name="configurationProperties.jdbcDriver" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.jdbcDriver}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="jdcUrlTemplate" class="light">{{t "templates.connector.databaseTableConnector.jdcUrlTemplate"}}</label>
                <input id="jdcUrlTemplate" class="form-size-l" data-validator="required" type="text" name="configurationProperties.jdbcUrlTemplate" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.jdbcUrlTemplate}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="passwordColumn" class="light">{{t "templates.connector.databaseTableConnector.passwordColumn"}}</label>
                <input id="passwordColumn" class="form-size-l" data-validator="required" type="text" name="configurationProperties.passwordColumn" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.passwordColumn}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block no-validation-block">
            <label for="enableEmptyString" class="light">{{t "templates.connector.databaseTableConnector.enableEmptyString"}}</label>
            <select id="enableEmptyString" class="form-size-s" name="configurationProperties.enableEmptyString" required>
            {{#select connectorDefaults.configurationProperties.enableEmptyString}}
                <option value="true">True</option>
                <option value="false">False</option>
            {{/select}}
            </select>
        </div>
        <div class="group-field-block no-validation-block">
            <label for="rethrowSQL" class="light">{{t "templates.connector.databaseTableConnector.rethrowSQL"}}</label>
            <select id="rethrowSQL" class="form-size-s" name="configurationProperties.rethrowAllSQLExceptions" required>
            {{#select connectorDefaults.configurationProperties.rethrowAllSQLExceptions}}
                <option value="true">True</option>
                <option value="false">False</option>
            {{/select}}
            </select>
        </div>
        <div class="group-field-block no-validation-block">
            <label for="natvieTimestamps" class="light">{{t "templates.connector.databaseTableConnector.natvieTimestamps"}}</label>
            <select id="natvieTimestamps" class="form-size-s" name="configurationProperties.nativeTimestamps" required>
            {{#select connectorDefaults.configurationProperties.nativeTimestamps}}
                <option value="true">True</option>
                <option value="false">False</option>
            {{/select}}
            </select>
        </div>
        <div class="group-field-block no-validation-block">
            <label for="allNative" class="light">{{t "templates.connector.databaseTableConnector.allNative"}}</label>
            <select id="allNative" class="form-size-s" name="configurationProperties.allNative" required>
            {{#select connectorDefaults.configurationProperties.allNative}}
                <option value="true">True</option>
                <option value="false">False</option>
            {{/select}}
            </select>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="validConnectionQuery" class="light">{{t "templates.connector.databaseTableConnector.validConnectionQuery"}}</label>
                <input id="validConnectionQuery" class="form-size-l" data-validator="required" type="text" name="configurationProperties.validConnectionQuery" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.validConnectionQuery}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="changeLogColumn" class="light">{{t "templates.connector.databaseTableConnector.changeLogColumn"}}</label>
                <input id="changeLogColumn" class="form-size-l" data-validator="required" type="text" name="configurationProperties.changeLogColumn" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.changeLogColumn}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="dataSource" class="light">{{t "templates.connector.databaseTableConnector.dataSource"}}</label>
                <input id="dataSource" class="form-size-l" data-validator="required" type="text" name="configurationProperties.datasource" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.datasource}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
        <div class="group-field-block">
            <div class="separate-message">
                <label for="jndiProperties" class="light">{{t "templates.connector.databaseTableConnector.jndiProperties"}}</label>
                <input id="jndiProperties" class="form-size-l" data-validator="required" type="text" name="configurationProperties.jndiProperties" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.jndiProperties}}" required>
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>
    </div>
</fieldset>


