<div class="connector-input-body">
    <div class="group-field-block">
        <label class="light">File Path</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.filePath" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.filePath}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Unique Attribute</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.uniqueAttribute" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.uniqueAttribute}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Name Attribute</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.nameAttribute" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.nameAttribute}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Password Attribute</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.passwordAttribute" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.passwordAttribute}}" required>
    </div>
</div>
