<!-- Copyright 2016 ForgeRock AS.
    License terms: https://forgerock.org/cddlv1-0/ -->
<div class="panel panel-default panel-collapse" id="forDatabaseTableConnector">
    <div class="panel-heading" role="tab" id="connectorSpecificBaseHeading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#connectorSpecificBase" aria-expanded="true" aria-controls="connectorSpecificBaseHeading" class="">{{t "templates.connector.baseTitle"}}</a>
        </h4>
    </div>
    <div id="connectorSpecificBase" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="connectorSpecificBase" aria-expanded="true">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="quoting">{{t "templates.connector.databaseTableConnector.quoting"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="quoting" name="configurationProperties.quoting" value="{{connectorDefaults.configurationProperties.quoting}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="host">{{t "templates.connector.databaseTableConnector.host"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="host" name="configurationProperties.host" value="{{connectorDefaults.configurationProperties.host}}" data-validator-event="keyup blur" data-validator="required" />
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.dbHostnameOrIP"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="port">{{t "templates.connector.databaseTableConnector.port"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="port" name="configurationProperties.port" value="{{connectorDefaults.configurationProperties.port}}" data-validator-event="keyup blur" data-validator="required" />
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="user">{{t "templates.connector.databaseTableConnector.user"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="user" name="configurationProperties.user" value="{{connectorDefaults.configurationProperties.user}}" data-validator-event="keyup blur" data-validator="required" />
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.dbUsername"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="password">{{t "templates.connector.databaseTableConnector.password"}}</label>
                <div class="col-sm-8">
                    <!-- autocomplete="new-password" is required to prevent chrome from auto-completing these form fields -->
                    <input class="form-control" type="password" id="password" autocomplete="new-password" name="configurationProperties.password" value="{{connectorDefaults.configurationProperties.password}}" data-validator-event="keyup blur" data-validator="required" />
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="database">{{t "templates.connector.databaseTableConnector.database"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="database" name="configurationProperties.database" value="{{connectorDefaults.configurationProperties.database}}" data-validator-event="keyup blur" data-validator="required"  />
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>
            <div class="form-group has-feedback has-error">
                <label class="col-sm-3 control-label" for="table">{{t "templates.connector.databaseTableConnector.table"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="table" name="configurationProperties.table" value="{{connectorDefaults.configurationProperties.table}}" data-validator-event="keyup blur" data-validator="required" />
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.tableNameWithAccounts"}}</span>
                </div>
            </div>
            <div class="form-group has-feedback has-error">
                <label class="col-sm-3 control-label" for="keyColumn">{{t "templates.connector.databaseTableConnector.keyColumn"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="keyColumn" name="configurationProperties.keyColumn" value="{{connectorDefaults.configurationProperties.keyColumn}}" data-validator-event="keyup blur" data-validator="required" />
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.uidForTableRows"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="passwordColumn">{{t "templates.connector.databaseTableConnector.passwordColumn"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="passwordColumn" name="configurationProperties.passwordColumn" value="{{connectorDefaults.configurationProperties.passwordColumn}}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="jdbcDriver">{{t "templates.connector.databaseTableConnector.jdbcDriver"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="jdbcDriver" name="configurationProperties.jdbcDriver" data-validator-event="keyup blur" data-validator="required" value="{{connectorDefaults.configurationProperties.jdbcDriver}}" />
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.jdbcDriverHelp"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="jdbcUrlTemplate">{{t "templates.connector.databaseTableConnector.jdbcUrlTemplate"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="jdbcUrlTemplate" name="configurationProperties.jdbcUrlTemplate" data-validator-event="keyup blur" data-validator="required" value="{{connectorDefaults.configurationProperties.jdbcUrlTemplate}}" />
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.jdbcUrlTemplateHelp"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="dataSource">{{t "templates.connector.databaseTableConnector.dataSource"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="dataSource" name="configurationProperties.dataSource" value="{{connectorDefaults.configurationProperties.dataSource}}" />
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.jdbcPath"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="enableEmptyString">{{t "templates.connector.databaseTableConnector.enableEmptyString"}}</label>
                <div class="col-sm-8">
                    <div class="checkbox checkbox-slider-primary checkbox-slider checkbox-slider--b checkbox-slider-md">
                        <label>
                            <input class="toggleBoolean" id="enableEmptyString" type="checkbox" name="configurationProperties.enableEmptyString" value="true" {{#if connectorDefaults.configurationProperties.enableEmptyString}} checked {{/if}}>
                            <span></span>
                        </label>
                    </div>
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.emptyStringHelp"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="rethrowAllSQLExceptions">{{t "templates.connector.databaseTableConnector.rethrowSQL"}}</label>
                <div class="col-sm-8">
                    <div class="checkbox checkbox-slider-primary checkbox-slider checkbox-slider--b checkbox-slider-md">
                        <label>
                            <input class="toggleBoolean" id="rethrowAllSQLExceptions" type="checkbox" name="configurationProperties.rethrowAllSQLExceptions" value="true" {{#if connectorDefaults.configurationProperties.rethrowAllSQLExceptions}} checked {{/if}}>
                            <span></span>
                        </label>
                    </div>
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.rethrowSqlHelp"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="nativeTimestamps">{{t "templates.connector.databaseTableConnector.nativeTimestamps"}}</label>
                <div class="col-sm-8">
                    <div class="checkbox checkbox-slider-primary checkbox-slider checkbox-slider--b checkbox-slider-md">
                        <label>
                            <input class="toggleBoolean" id="nativeTimestamps" type="checkbox" name="configurationProperties.nativeTimestamps" value="true" {{#if connectorDefaults.configurationProperties.nativeTimestamps}} checked {{/if}} >
                            <span></span>
                        </label>
                    </div>
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.nativeTimestampsHelp"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="allNative">{{t "templates.connector.databaseTableConnector.allNative"}}</label>
                <div class="col-sm-8">
                    <div class="checkbox checkbox-slider-primary checkbox-slider checkbox-slider--b checkbox-slider-md">
                        <label>
                            <input class="toggleBoolean" id="allNative" type="checkbox" name="configurationProperties.allNative" value="true" {{#if connectorDefaults.configurationProperties.allNative}} checked {{/if}} >
                            <span></span>
                        </label>
                    </div>
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.allNativeHelp"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="validConnectionQuery">{{t "templates.connector.databaseTableConnector.validConnectionQuery"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="validConnectionQuery" name="configurationProperties.validConnectionQuery" value="{{connectorDefaults.configurationProperties.validConnectionQuery}}" />
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.validConnectionQueryHelp"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="changeLogColumn">{{t "templates.connector.databaseTableConnector.changeLogColumn"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="changeLogColumn" name="configurationProperties.changeLogColumn" value="{{connectorDefaults.configurationProperties.changeLogColumn}}" />
                    <span class="help-block">{{t "templates.connector.databaseTableConnector.dbChangeTime"}}</span>
                </div>
            </div>
           <div class="form-group">
               <label class="col-sm-3 control-label" for="jndiProperties">{{t "templates.connector.databaseTableConnector.jndiProperties"}}</label>
               <div class="col-sm-8">
                   <input class="form-control" type="text" id="jndiProperties" name="configurationProperties.jndiProperties" value="{{connectorDefaults.configurationProperties.jndiProperties}}" />
                   <span class="help-block">{{t "templates.connector.databaseTableConnector.jndiPropertiesHelp"}}</span>
               </div>
           </div>
        </div>
    </div>
</div>
