<div class="connector-input-body">
    <div class="group-field-block">
        <label class="light">Classpath</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.classpath" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.classpath}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Authenticate Script File Name</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.authenticateScriptFileName" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.authenticateScriptFileName}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Create Script File Name</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.createScriptFileName" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.createScriptFileName}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Delete Script File Name</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.deleteScriptFileName" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.deleteScriptFileName}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Resolve Username Script File Name</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.resolveUsernameScriptFileName" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.resolveUsernameScriptFileName}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Schema Script File Name</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.schemaScriptFileName" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.schemaScriptFileName}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Script On Resource Script File Name</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.scriptOnResourceScriptFileName" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.scriptOnResourceScriptFileName}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Search Script File Name</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.searchScriptFileName" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.searchScriptFileName}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">SYNC Script File Name</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.syncScriptFileName" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.syncScriptFileName}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Test Script File Name</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.testScriptFileName" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.testScriptFileName}}" required>
    </div>
    <div class="group-field-block">
        <label class="light">Update Script File Name</label>
        <input class="form-size-l" data-validator="required" type="text" name="configurationProperties.updateScriptFileName" data-validator-event="keyup blur" value="{{connectorDefaults.configurationProperties.updateScriptFileName}}" required>
    </div>
</div>
