<div class="back-bar">
    <div class="container">
        <a href="#managed/">{{t "templates.managed.backToManaged"}}</a>
    </div>
</div>

{{#if addState}}
    <div class="container">
        <div class="page-header">
            <h1>{{addEditTitle}}
                <div  class="pull-right help-link">
                    <a href="{{docHelpUrl}}integrators-guide/index.html#chap-users-groups-roles" target="_blank">{{t "templates.connector.help"}} <i class="fa fa-question-circle"></i></a>
                </div>
            </h1>
        </div>
    </div>
{{else}}
    <div class="container">
        <div class="page-header clearfix">
            <span class="header-icon pull-left"><i class="fa {{#if currentManagedObject.schema.icon}}{{currentManagedObject.schema.icon}}{{else}}fa-database{{/if}}"></i></span>
            <h4 class="page-type">Managed Object</h4>
            <div class="page-header-button-group">
                <a href="#mapping/add/managed/{{currentManagedObject.name}}">
                    <button type="button" class="btn btn-primary btn-actions">
                        <i class="fa fa-plus"></i> {{t "templates.connector.addMapping"}}
                    </button>
                </a>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-secondary dropdown-toggle btn-actions" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-v fa-lg"></i>
                    </button>
                    <ul class="dropdown-menu pull-rightAd" role="menu">
                        <li class="data-link"><a href="#resource/managed/{{currentManagedObject.name}}/list/"><i class="fa fa-database"></i>{{t "templates.admin.ResourceEdit.data"}} ({{currentManagedObject.name}})</a></li>
                        <li class="divider"></li>
                        <li id="deleteManaged"><a href="#"><i class="fa fa-times"></i>{{t "common.form.delete"}}</a></li>
                    </ul>
                </div>
            </div>
            <h1>{{currentManagedObject.name}}</h1>
        </div>
    </div>
{{/if}}
<div class="container">
    <div class="panel panel-default panel-content panel-collapse-group has-border">
        <form id="managedObjectForm" class="form-horizontal" role="form" autocomplete="off">
            <div id="managedForm2JS">
                <div class="panel panel-default panel-collapse">
                    <div class="panel-heading" role="tab" id="generalDetailsHeading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#generalDetails" aria-expanded="true" aria-controls="ldapSelectionHeading">{{t "common.form.generalDetails"}}</a>
                        </h4>
                    </div>
                    <div id="generalDetails" class="collapse in" role="tabpanel" aria-labelledby="generalDetails" aria-expanded="true">
                        <div class="panel-body">
                            <div class="form-group has-feedback">
                                <label for="managedObjectName" class="col-sm-3 control-label">{{t "templates.managed.managedObjectName"}}</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="managedObjectName" name="name" value="{{currentManagedObject.name}}" data-validator="whitespace" data-validator-event="keyup blur" required autofocus/>
                                    <div class="validation-message"></div>
                                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="managedObjectIcon" class="col-sm-3 control-label">{{t "templates.managed.managedObjectIcon"}}</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="managedObjectIcon" value="{{currentManagedObject.schema.icon}}" required autofocus/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default panel-collapse">
                    <div class="panel-heading" role="tab" id="managedScriptsHeading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#managedScripts" aria-expanded="true" aria-controls="managedScriptsHeading" class="">Managed Scripts</a>
                        </h4>
                    </div>
                    <div id="managedScripts" class="panel-body collapse in" role="tabpanel" aria-labelledby="managedScripts" aria-expanded="true"></div>
                </div>


                <div class="panel panel-default panel-collapse">
                    <div class="panel-heading" role="tab" id="managedPropertiesHeading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#managedProperties" aria-expanded="true" aria-controls="managedPropertiesHeading" class="">{{t "templates.managed.managedProperties"}}</a>
                        </h4>
                    </div>
                    <div id="managedProperties" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="managedProperties" aria-expanded="true">
                        <div class=" col-sm-11">
                            <label>{{t "templates.managed.managedPropertyMessage"}}</label>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" id="addManagedProperties" name="addManagedProperties" class="btn btn-primary btn-block"><i class="fa fa-lg fa-plus"></i> <span>{{t "templates.managed.addProperty"}}</span></button>
                        </div>
                        <div class="panel-body">
                            <div id="managedPropertyWrapper">
                                <div style="display:none;" id="managed-object-hidden-property" class="col-sm-11 managed-property small-field-block">
                                    <div class="separate-message add-remove-block form-inline">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <button type="button" title="" class="clean-btn property-remove remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                                            </div>
                                            <input  class="form-control" autocomplete="off" type="text" name="" value=""/>
                                            <span></span>
                                            <label class="inline-label">
                                                <input autocomplete="off" type="checkbox" class="checkbox" name="" value="true">
                                                {{t "templates.managed.encrypted"}}
                                            </label>
                                            <label class="inline-label">
                                                <input autocomplete="off" type="checkbox" class="checkbox" name="" value="true">
                                                {{t "templates.managed.private"}}
                                            </label>
                                            <label class="inline-label">
                                                <input autocomplete="off" type="checkbox" class="checkbox" name="" value="true">
                                                {{t "templates.managed.virtual"}}
                                            </label>
                                        </div>
                                        <div class="validation-message"></div>
                                    </div>
                                    <div class="managedPropertyEvents"></div>

                                </div>
                                {{#if currentManagedObject.properties.length}}
                                {{#each_with_index currentManagedObject.properties}}
                                <div class="col-sm-11 managed-property small-field-block">
                                    <div class="separate-message add-remove-block form-inline">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <button type="button" title="" class="clean-btn property-remove remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                                            </div>
                                            <input data-validator-event="keyup blur" data-validator="required" class="form-control" autocomplete="off" type="text" name="properties[{{index}}].name" value="{{value.name}}"/>
                                            <span></span>
                                            <label class="inline-label">
                                                <input autocomplete="off" type="checkbox" class="checkbox" name="properties[{{index}}].encryption" {{#if value.encryption}} checked {{/if}}>
                                                {{t "templates.managed.encrypted"}}
                                            </label>
                                            <label class="inline-label">
                                                <input autocomplete="off" type="checkbox" class="checkbox" name="properties[{{index}}].scope" {{#if value.scope}} checked {{/if}}>
                                                {{t "templates.managed.private"}}
                                            </label>
                                            <label class="inline-label">
                                                <input autocomplete="off" type="checkbox" class="checkbox" name="properties[{{index}}].type" {{#if value.type}} checked {{/if}}>
                                                {{t "templates.managed.virtual"}}
                                            </label>
                                        </div>
                                        <div class="validation-message"></div>
                                    </div>
                                    <div class="managedPropertyEvents"></div>
                                </div>
                                {{/each_with_index}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="panel panel-connector panel-collapse">
            <div class="schema-panel">
                <div class="panel-heading" role="tab" id="managedSchemaHeading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#managedSchema" aria-expanded="true" aria-controls="managedSchemaHeading" class="">{{t "templates.managed.managedSchema"}}</a>
                    </h4>
                </div>
                <div id="managedSchema" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="managedSchema" aria-expanded="true">
                    <div class="panel-body">
                        <div class="schemaEditor jsonEditor"></div>
                    </div>
                </div>
            </div>
            <div style="display:none;" id="managedErrorMessage" class="alert-box warning-message">
                <p class="alert-message">
                    <i class="fa alert-message-icon"></i><span class="message-type">{{t "common.form.warning" }}!</span>
                    <span class="message"></span>
                </p>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <a href="#managed/"><input type="button" id="addEditCancel" name="cancel" value="{{t 'common.form.cancel'}}" class="btn btn-default"></a>
                <input type="submit" id="addEditManaged" name="addEditButton" value="{{addEditSubmitTitle}}" class="btn btn-primary" disabled="true">
            </div>
        </div>
    </div>
</div>