<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div class="back-bar">
    <div class="container">
        <a href="#managed/" class="backToList">{{t "templates.managed.backToManaged"}}</a>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>{{t "templates.managed.addManagedTitle"}}</h1>
    </div>
</div>

<div class="container">
    <div class="panel no-margin-bottom">
        <form id="addManagedObjectForm" class="form-horizontal">
            <div class="panel-body">
                <div class="form-group has-feedback">
                    <label for="managedObjectName" class="col-sm-3 control-label">{{t "templates.managed.managedObjectName"}}</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" id="managedObjectName" name="name" value="" data-validator="whitespace" data-validator-event="keyup blur" required autofocus/>
                        <div class="validation-message"></div>
                        <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="managedObjectIcon" class="col-sm-3 control-label">{{t "templates.managed.managedObjectIcon"}}</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" id="managedObjectIcon" value="" />
                    </div>
                </div>
                <div style="display:none;" role="alert" id="managedErrorMessage" class="changesPending alert alert-warning" style="">
                    <i class="fa fa-exclamation-circle"></i><strong>{{t "common.form.warning" }}!</strong>
                    <span class="message"></span>
                </div>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <a href="#managed/" class="btn btn-default">{{t "common.form.cancel"}}</a>
                    <input type="submit" id="addManagedObject" name="addManagedObject" value='{{t "common.form.save"}}' class="btn btn-primary" disabled="true">
                </div>
            </div>
        </form>
    </div>
</div>