<section>
    <div class="container">
        <div class="page-header">
            <h1>{{t "config.AppConfiguration.Navigation.links.managedObjects"}}
                <div  class="pull-right help-link">
                    <a href="{{docHelpUrl}}integrators-guide/index.html#chap-users-groups-roles" target="_blank">{{t "templates.connector.help"}} <i class="fa fa-question-circle"></i></a>
                </div>
            </h1>
        </div>
        <div class="toolbar page-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-left" role="group" aria-label="...">
                <a href="#managed/add/"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>{{t "templates.connector.addManagedObject"}}</button></a>
            </div>
            <div class="pull-right">
                <div class="btn-group btn-icon" data-toggle="btns">
                    <a class="btn toggle-view-btn fr-btn-secondary active" href="#managedCardContainer" data-toggle="tab"><i class="fa fa-th"></i></a>
                    <a class="btn toggle-view-btn fr-btn-secondary" href="#managedGridContainer" data-toggle="tab"><i class="fa fa-list"></i></a>
                </div>
                <div class="toolbar-search">
                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" class="form-control filter-input" aria-label="Connector Filter" placeholder="Filter...">
                        <div class="form-control-feedback "><i class="fa fa-search"></i></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="section-header">
            <div class="help-body">
                <p>{{t "templates.connector.whatIsAManagedObject"}}</p>
            </div>
        </div>
        <div class="tab-content tab-content-transparent">
            <div id="managedCardContainer" class="tab-pane active">
                <div class="row">
                    {{#each currentManagedObjects}}
                    <div class="col-sm-6 col-md-3 card-spacer" data-managed-title="{{name}}">
                        <div class="card-container">
                            <div class="card">
                                <div class="front">
                                    <div class="card-heading">
                                        <!-- Single button -->
                                        <div class="btn-group">
                                            <button type="button" id="{{name}}ManagedToggle" class="btn btn-link fa-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="#resource/managed/{{name}}/list/"><i class="fa fa-database"></i>{{t "templates.admin.ResourceEdit.data"}}</a></li>
                                                <li><a href="#managed/edit/{{name}}/"><i class="fa fa-pencil"></i>{{t "common.form.edit"}}</a></li>
                                                <li class="managed-delete"><span><i class="fa fa-times"></i>{{t "common.form.delete"}}</span></li>
                                                <li class="divider"></li>
                                                <li><a href="#mapping/add/managed/{{name}}"><i class="fa fa-plus"></i>{{t "templates.connector.addMapping"}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <a href="#managed/edit/{{name}}/">
                                            <div class="image circle">
                                                <i class="{{#if schema.icon}} fa {{schema.icon}} {{else}} icon-database {{/if}}"></i>
                                            </div>
                                            <div class="content">
                                                <div class="main">
                                                    <h3 class="name">{{name}}</h3>
                                                    <p class="cardtype">{{t "templates.connector.managedObjectType"}}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="col-sm-6 col-md-3 ">
                        <div class="add-card" style="z-index: 3;">
                            <div class="">
                                <a href="#managed/add/">
                                    <div class="image circle">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                    <div class="content">
                                        {{t "templates.connector.addManagedObject"}}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="managedGridContainer" class="tab-pane">
                <div class="panel panel-default">
                    <div class="panel-body" id="managedGrid"></div>
                </div>
            </div>
        </div>
    </div>
</section>