<div class="container">
    <div class="page-header">
        <div class='btn-toolbar no-bottom-border pull-right' style="border-bottom:none;">
            <div class='btn-group'>
                <a class="pull-right" id="passwordChangeLink" href="{{url 'adminUserChangePassword' user.userName}}"><button class="btn btn-primary" type="button" name="changePassword">{{t "common.user.changePassword"}}</button></a>
            </div>
        </div>
        <h3>{{t 'openidm.ui.admin.users.AdminUserProfileView.profileOwnership' profileName}}</h3>
    </div>

    <div id="profile">
        <form role="form" class="form-horizontal registration">
            <input type="hidden" name="_id">

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="userName">{{t "common.user.username"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="userName" name="userName" value="" autofocus />
                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="givenName">{{t "common.user.givenName"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="givenName" name="givenName" value="" autofocus />
                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="sn">{{t "common.user.familyName"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="sn" name="sn" value="" autofocus />
                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="mail">{{t "common.user.emailAddress"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="email" id="mail" name="mail" value="" autofocus />
                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">{{t "common.user.role"}}</label>
                <div class="checkbox col-sm-6">
                    <div>
                        {{checkbox roles "roles"}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="accountStatus">{{t "common.user.accountStatus"}}</label>
                <div class="col-sm-6">
                    <select class="form-control" id="accountStatus" name="accountStatus">
                        <option value="active">{{t "common.user.active"}}</option>
                        <option value="inactive">{{t "common.user.inactive"}}</option>
                    </select>
                    <div class="validation-message"></div>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="telephoneNumber">{{t "common.user.phoneNumber"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="tel" id="telephoneNumber" name="telephoneNumber" value="" />
                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="postalAddress">{{t "common.user.address1"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="postalAddress" name="postalAddress" value="" autofocus />
                    <div class="validation-message"></div>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="address2">{{t "common.user.address2"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="address2" name="address2" value="" autofocus />
                    <div class="validation-message"></div>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="city">{{t "common.user.city"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="city" name="city" value="" autofocus />
                    <div class="validation-message"></div>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="postalCode">{{t "common.user.postalCode"}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="postalCode" name="postalCode" value="" autofocus />
                    <div class="validation-message"></div>
                </div>
            </div>


            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="country">{{t "common.user.country"}}</label>
                <div class="col-sm-6">
                    <select class="form-control" id="country" name="country"></select>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="stateProvince">{{t "common.user.stateProvince"}}</label>
                <div class="col-sm-6">
                    <select class="form-control" id="stateProvince" name="stateProvince"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="manager">{{t "common.user.manager"}}</label>
                <div class="col-sm-6 manager-search">
                    <select class="form-control" id="manager" name="manager"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9 pull-right">
                    <input type="button" name="backButton" value="{{t "common.form.back"}}"  class="btn btn-default" />
                    <input type="button" name="deleteButton" value="{{t "common.form.delete"}}"  class="btn btn-primary" />
                    <input type="submit" name="saveButton" value="{{t "common.form.update"}}"  class="btn btn-primary" disabled />
                    <input type="text" name="oldUserName" style="display: none" />
                </div>
            </div>
        </form>

        <div id="reportsHolder">
            <ul class="nav nav-tabs">
                <li class="nav active"><a href="#reportsList" data-toggle="tab">Reports List</a></li>
                <li class="nav"><a href="#reportsGraph" data-toggle="tab">Reports Graph</a></li>
                <li class="nav"><a href="#linkedSystems" data-toggle="tab">Linked Systems</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="reportsList">
                    <div class="panel">
                        <div class="panel-body table-responsive">
                            {{#if reports.length}}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="col-sm-3">{{t "common.user.username"}}</th>
                                    <th class="col-sm-2">{{t "common.user.name"}}</th>
                                    <th class="col-sm-3">{{t "common.user.emailAddress"}}</th>
                                    <th class="col-sm-2">{{t "common.user.accountStatus"}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each reports}}
                                <tr data-href="{{../host}}/openidmui/index.html#users/show/{{this.userName}}/">
                                    <td>{{this.userName}}</td>
                                    <td>{{this.givenName}}  {{this.sn}}</td>
                                    <td>{{this.mail}}</td>
                                    <td>{{this.accountStatus}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                            {{else}}
                            <h3>No Reports</h3>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="reportsGraph">
                    <div class="panel">
                        <div id="reportsGraphBody" class="panel-body">
                            {{#if reports.length}}

                            {{else}}
                            <h3>No Reports</h3>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="linkedSystems">
                    <div class="panel">
                        <div class="panel-body" id="linkedViewBody"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>