<div id="profile" class="content-bg">

    <h1>{{t 'openidm.ui.admin.users.AdminUserProfileView.profileOwnership' profileName}}</h1>
    
    <form class="form clearfix" autocomplete="off">

        <input type="hidden" name="_id">

        <div class="clearfix">

            <ul class="float-right link-box">
                <li><a href="{{url 'adminUserChangePassword' user.userName}}" id="passwordChangeLink" class="ice hrefInput">{{t "common.user.changePassword"}}</a></li>
            </ul>

            <div class="group-field-block col2">
                <label for="userName" class="light align-right">{{t "common.user.username"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="text" id="userName" name="userName" autofocus >
                        <span class="error"></span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>

        </div>


        <div class="clearfix">

            <div class="group-field-block col2">
                <label for="givenName" class="light align-right">{{t "common.user.givenName"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="text" id="givenName" name="givenName" value="" />
                        <span class="error"></span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>

            <div class="group-field-block col2">
                <label for="sn" class="light align-right">{{t "common.user.familyName"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="text" id="sn" name="sn" value="" />
                        <span class="error"></span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>
   
        </div>

        <div class="clearfix">

            <div class="group-field-block col2">
                <label for="mail" class="light align-right">{{t "common.user.emailAddress"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="email" id="mail" name="mail" value="" />
                        <span class="error"></span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>


            <div class="group-field-block col2" >
                <label class="light align-right">{{t "common.user.role"}}</label> 
                {{checkbox roles "roles"}}
            </div>

        </div>


        <div class="clearfix">

             <div class="group-field-block col2">
                <label for="sn" class="light align-right">{{t "common.user.accountStatus"}}</label>
                <select name="accountStatus" >
                    <option value="active">{{t "common.user.active"}}</option>
                    <option value="inactive">{{t "common.user.inactive"}}</option>
                </select>    
                <div class="validation-message"></div>
            </div>

            <div class="group-field-block col2">
                <label for="telephoneNumber" class="light align-right">{{t "common.user.phoneNumber"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="tel" id="telephoneNumber" name="telephoneNumber" value="" />
                        <span class="error"></span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>

        </div>  

        <div class="clearfix">

            <div class="group-field-block col2">
                <label for="postalAddress" class="light align-right">{{t "common.user.address1"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="text" id="postalAddress" name="postalAddress" value=""  />
                        <span class="error"></span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>

            <div class="group-field-block col2">
                <label for="address2" class="light align-right">{{t "common.user.address2"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="text" id="address2" name="address2" value=""  />
                        <span class="error"></span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>

        </div>

        <div class="clearfix">

            <div class="group-field-block col2">
                <label for="city" class="light align-right">{{t "common.user.city"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="text" id="city" name="city" value=""  />
                        <span class="error"></span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>

            <div class="group-field-block col2">
                <label for="postalCode" class="light align-right">{{t "common.user.postalCode"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="text" id="postalCode" name="postalCode" value=""  />
                        <span class="error"></span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>

        </div>

        <div class="clearfix">

            <div class="group-field-block col2">
                <label for="country" class="light align-right">{{t "common.user.country"}}</label>
                <div class="group-input-span">
                    <select id="country" name="country"></select>  
                    <span class="error"></span>
                </div>
            </div>

            <div class="group-field-block col2">
                <label for="stateProvince" class="light align-right">{{t "common.user.stateProvince"}}</label>
                <div class="group-input-span">
                    <select id="stateProvince" name="stateProvince"></select>  
                    <span class="error"></span>
                </div>
            </div>

        </div>

        <div id="linkedViewBody"></div>

        <div class="float-right group-actions-block"> 
            <input type="submit" name="saveButton" value="{{t "common.form.update"}}" class="button" disabled />
            <input type="button" name="deleteButton" value="{{t "common.form.delete"}}" class="button"/>
            <input type="button" name="backButton" value="{{t "common.form.back"}}" class="button"/>
            <input type="text" name="oldUserName" style="display: none" />
        </div>
        
    </form>

</div>

