<div class="container">
    <div class="page-header">
        <h3>{{t "common.user.createNewUser"}}</h3>
    </div>
    <form class="form-horizontal registration">
        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label" for="userName">{{t "common.user.username"}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="userName" name="userName" value="" data-validation-dependents="password" autofocus />
                <div class="validation-message"></div>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label" for="mail">{{t "common.user.emailAddress"}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="email" id="mail" name="mail" value="" />
                <div class="validation-message"></div>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label" for="givenName">{{t "common.user.givenName"}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="givenName" name="givenName" value="" data-validation-dependents="password" />
                <div class="validation-message"></div>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label" for="sn">{{t "common.user.familyName"}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="sn" name="sn" value="" data-validation-dependents="password" />
                <div class="validation-message"></div>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label" for="telephoneNumber">{{t "common.user.phoneNumber"}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="tel" id="telephoneNumber" name="telephoneNumber" value="" />
            </div>
        </div>
        <div class="form-group no-bottom-margin">
            <label class="col-sm-3 control-label">{{t "common.user.role"}}</label>
            <div class="checkbox col-sm-6">
                <div>
                    {{checkbox roles "roles"}}
                </div>
            </div>
        </div>

        <hr class="col-sm-6 col-sm-offset-3" />

        <div style="clear:both;"></div>
        <!-- This hidden input is a work around for Chrome's lack of autocomplete functionality.  The field directly preceding a password field may be autopopulated if the user has a saved username and password on the current domain. -->
        <input style="display:none;" />

        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label" for="password">{{t "common.user.password"}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="password" id="password" name="password" value="" data-validation-dependents="passwordConfirm" />
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="col-sm-3 control-label" for="passwordConfirm">{{t "common.user.confirmPassword"}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="password" id="passwordConfirm" name="passwordConfirm" value="" data-validator="passwordConfirm" data-validator-event="keyup change" required/>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="group-field-errors validationRules col-sm-6 col-sm-offset-3 well" data-for-validator="password passwordConfirm">
            <div class="field-rule">
                <span class="error"><i class="fa validation-icon"></i></span><span data-for-validator="passwordConfirm">{{t "common.form.validation.confirmationMatchesPassword"}}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" name="createButton" class="btn btn-primary" value="{{t 'common.form.create'}}" disabled/>
                <input type="button" name="backButton" value="{{t "common.form.back"}}" class="btn btn-default"/>
            </div>
        </div>
    </form>
</div>