<form id="passwordChange" action="" role="form" class="form-horizontal" method="post" onsubmit="return false">
    <fieldset class="fieldset">
        <p>{{t "templates.user.ChangeSecurityDataDialogTemplate.enterNewPasswordToChange"}}</p>

        <div class="col-md-5">
            <div class="form-group has-feedback">
                <label for="password">{{t "common.user.password"}}</label>
                <input class="form-control" type="password" name="password" value="" data-validation-dependents="passwordConfirm" id="password" required autofocus/>
                <input type="hidden" name="oldPassword"/>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
            <div class="form-group has-feedback">
                <label for="passwordConfirm">{{t "common.user.confirmPassword"}}</label>
                <input class="form-control" type="password" name="passwordConfirm" value="" data-validator="passwordConfirm" data-validator-event="keyup change" id="passwordConfirm" required/>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="col-md-6 validationRules well" data-for-validator="password passwordConfirm">
            <div class="field-rule">
                <span class="error"><i class="fa validation-icon"></i></span><span data-for-validator="passwordConfirm">{{t "common.form.validation.confirmationMatchesPassword"}}</span>
            </div>
        </div>
    </fieldset>
</form>