<div class="container">
    <div id="users" class="content-bg managedObjectsContainer">
        <div class="page-header">
            <h1>{{t "common.user.usersList"}}</h1>
        </div>

        <div class="btn-toolbar" role="toolbar" aria-label="toolbar">
            <div class="btn-group" role="group" aria-label="add resource">
                <a href="#users/add/"><button class="btn btn-primary" type="button">{{t "common.form.addUser"}}</button></a>
            </div>
            <div class="btn-group" role="group" aria-label="reload grid">
                <button type="button"  class="btn btn-primary"  id="reloadGridBtn">{{t 'common.form.reloadGrid'}}</button>
            </div>
            <div class="btn-group" role="group" aria-label="clear filters">
                <button type="button"  class="btn btn-primary"  id="clearFiltersBtn" disabled>{{t 'common.form.clearFilters'}}</button>
            </div>
        </div>

        <div  class="resourcesContainer">
            <table id="usersTable"></table>
        </div>
    </div>
</div>