<div class="container">
    <div id="users" class="content-bg managedObjectsContainer">
        <div class="page-header">
            <div style="border-bottom:none;" class='btn-toolbar pull-right'>
                <div>
                    <a href="#users/add/"><button class="btn btn-primary" type="button">{{t "common.form.addUser"}}</button></a>
                    <button type="button"  class="btn btn-primary"  id="reloadGridBtn">{{t 'common.form.reloadGrid'}}</button>
                    <button type="button"  class="btn btn-primary"  id="clearFiltersBtn" disabled>{{t 'common.form.clearFilters'}}</button>
                </div>
            </div>
            <h3>{{t "common.user.usersList"}}</h3>
        </div>

        <div class="managedObjectsContainer">
            <table id="usersTable"></table>
        </div>
    </div>
</div>