<!-- Copyright 2016 ForgeRock AS.
    License terms: https://forgerock.org/cddlv1-0/ -->
<div class="temporalConstraint well detailTable">
    <div class="row">
        <div class="form-group">
          <label class="col-sm-2 control-label text-right temporalConstraintsLabel">{{t "templates.admin.RoleEdit.startDate"}}</label>
          <div class="col-sm-10">
              <div class="control-group">
                  <input class="form-control datetimepicker temporalConstraintStartDate" value="{{temporalConstraint.start}}">
              </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          <label class="col-sm-2 control-label text-right temporalConstraintsLabel">{{t "templates.admin.RoleEdit.endDate"}}</label>
          <div class="col-sm-10">
              <div class="control-group">
                  <input class="form-control datetimepicker temporalConstraintEndDate" value="{{temporalConstraint.end}}">
              </div>
          </div>
        </div>
    </div>
</div>
