<!-- Copyright 2016 ForgeRock AS.
    License terms: https://forgerock.org/cddlv1-0/ -->
<div id="temporalConstraintsForm" class="conditionFilter">
  <div class="row">
      <label for="selectEnabled" class="col-sm-2 control-label text-right conditionFilterLabel">{{t "templates.admin.RoleEdit.temporalConstraints"}}</label>
      <div class="col-sm-10">
          <div class="control-group">
              <div class="checkbox checkbox-slider checkbox-slider-md checkbox-slider--b-flat checkbox-slider-primary" id="enableTemporalConstraints">
                  <label>
                      <input type="checkbox" id="enableTemporalConstraintsCheckbox"><span></span>
                  </label>
              </div>
          </div>
          <span class="help-block">{{t "templates.admin.RoleEdit.temporalConstraintsDescription"}}</span>
      </div>
  </div>
  <div id="temporalConstraintsFields" style="display:none;">
      <div class="temporalConstraint well detailTable">
          <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label text-right temporalConstraintsLabel">{{t "templates.admin.RoleEdit.startDate"}}</label>
                <div class="col-sm-10">
                    <div class="control-group">
                        <input class="form-control datetimepicker temporalConstraintStartDate" value="{{temporalConstraints.[0].start}}">
                    </div>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label text-right temporalConstraintsLabel">{{t "templates.admin.RoleEdit.endDate"}}</label>
                <div class="col-sm-10">
                    <div class="control-group">
                        <input class="form-control datetimepicker temporalConstraintEndDate" value="{{temporalConstraints.[0].end}}">
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
