#reconContainer {
    #reconTabs {
        position: relative;
        div.actionContainer { 
            display: none;
            position: absolute;
            z-index: 2;
            background: white;
            width: 882px;
            top: 50px;
            padding: 5px 0;
            margin-left: 10px;
            margin-right: 10px;
        }

        div ul {
            width:  100%;
            height: 40px;  
            li {
                display: block;
                width: 25%;
                float: left;
                text-align: center;    
            }
        }
    }
}

.reconProgressContainer {
    position: relative;
    width: 600px;
    margin: 0 auto;
    min-height: 30px;

}
#analyzeNowProgress {
    display:none;
}
.progress-label {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
.ui-jqgrid .ui-pg-input {
    height: 16px;
    padding: 0px 10px;
}

.ui-jqgrid .ui-pg-selbox {
    width: 50px;
    font-size: 1em;
    height: 20px;
    padding: 0;
    margin: 0;
}

.ui-jqgrid .jqgrow .attrTabBtn {
    max-height: 100px;
    overflow-y: auto;
    display: inline-block;
}

tr.ui-search-toolbar th {
    vertical-align: middle;
}

#analysisGridContainer {
    margin-top: 10px;
}