.expressionTree {
  margin-left:0px;
}

.selectize-dropdown-content div:hover {
  background-color:@base-theme-color;
  color:white;
}

.filter-form {
  ul {
    padding-left:10px;
    min-height:35px;
    border-left: 3px solid #ddd;
  }

  .well {
    padding: 8px;
  }

  .select-filter {
    width: 50%;
    display: inline-block;
    margin-right:5px;
  }

  li {
    list-style: none;
  }

  .btn-default .fa {
    width:inherit;
  }

  .op-body {
    width:50%;
    display: inline-block;
  }

  .node {
    margin-top:10px;
  }

  .filter-group input,
  .filter-group select {
    margin-top:10px;
  }

  .type-form-group {
    margin-bottom:5px;
  }
}

.filter-form  .form-group {
  margin-left:0px;
  margin-right:0px;
}

@media (min-width: 992px) {

  .expressionTree {
    margin-left:15px;
  }

  .filter-form {

    .select-filter {
      width: 80%;
      display: inline-block;
      margin-right:5px;
    }

    .type-form-group {
      margin-bottom:15px;
    }

    .node > div {
      padding-left:0px;
    }

    .form-group {
      margin-bottom:5px;
    }

    .tag-body {
      padding-left:5px;
    }

    .value-body {
      padding-left:5px;
    }

    .op-body {
      margin-right:5px;
      padding-right:5px;
    }

    .filter-group {
      margin-top:10px;
    }

    .filter-group input,
    .filter-group select {
      margin-top:0px;
    }
  }
}