#resourceMappingBody {
  width:960px;
  padding-top:20px;
  height: 210px;
  background-color:#eee;
  position:relative;
}
  
#resourceMappingBody.attached {
  z-index:3;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.mapping-body {
  height: 325px;

}

.mapping-resource-body {
  width:425px;
  height:150px;
  display:inline-block;

  h4 {
    margin-bottom:10px;
  }
}

.mapping-resource {
  border: 2px solid #ddd;
  height: 125px;
  width: 425px;
  background-color: #fff;
  color: #ddd;

  .fa-times {
    float:right;
    margin-top:10px;
    margin-right:10px;
  }

  .fa-times:hover {
    color: #5D6871;
    cursor:pointer;
  }

  hr {
    border-top: 1px solid #ddd;
  }

  .mapping-resource-empty {
    width: 100%;
    height: 100%;
    background-color:#f9f9f9;
    text-align: center;
  }

  .mapping-resource-empty .mapping-resource-empty-details {
    position: relative;
    top: 25px;
  }

  .mapping-resource-details {
    height:100%;
    width:100%;
  }
}

.mapping-body {
  height:185px;

  .mapping-swap-holder {
    position: relative;
    top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px;
  }

  .mapping-swap {
    width: 50px;
    height: 35px;
  }
}

.mapping-swap-holder p {
  text-align: center;
  margin-top: 10px;
}

.mapping-resource-details {
  .resource-info {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .resource-type-icon {
    float:left;
    margin: 2px 20px 0px 10px;
  }

  .resource-given-name {
    color: #5D6871;
  }

  .resource-type-name {
    padding:0px;
  }

  .object-type-name{
    color: #bbb;
    width: 100%;
    text-align: center;
    margin-right: 10px;
    float: left;
  }

  select {
    width: 410px;
    height: 30px;
    position: relative;
    left: 8px;
    bottom: 4px;
  }
}

.no-connectors-message {
  margin-top:75px;
  text-align:center;
}

.add-mapping {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.add-mapping-button {
    margin-bottom: 10px;
}

.mapping-create-body {
  text-align:center;
  clear:both;
}

.arrow-breaker {
  border-bottom: 1px solid #bbb;
  margin-top:35px;
}

.arrow_box {
  position: relative;
  top:1px;
  z-index:2;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #eee;
  border-width: 30px;
  margin-left: -30px;
}
.arrow_box:before {
  border-color: rgba(187, 187, 187, 0);
  border-bottom-color: #bbb;
  border-width: 31px;
  margin-left: -31px;
}

.arrow_box .fa-arrow-up {
  position: absolute;
  bottom: -20px;
  z-index: 2;
  left: 461px;
  color:#5fa595;
}

/*
  Mapping List View
*/

#mappingName {
  width:315px;
  margin-bottom:15px;
}

#mappingConfigHolder{
  clear:both;
  margin-top: 15px;

  .mapping-body {
    height:80px;
  }

  .mapping-body p {
    padding-bottom:5px;
  }
}

.mapping-config-body {
  width:965px;
  border:1px solid #ddd;
  margin-bottom:15px;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;

  .mapping-icon {
    display: inline-block;
    height:38px;
    width:30px;
    padding:25px 30px 10px 30px;
    float:left;
  }
}

.mapping-config-body:hover {
    border-color: #888;
    cursor:pointer;
}

.left-icon {
  margin-left:25px;
}

.mapping-target,
.mapping-source {
  padding:7px 0px 5px 5px;
  display:inline-block;
  float:left;
  width:367px;
}

.mapping-source {
  border-right: 1px solid #ccc;
}

.mapping-bottom-bar {
  border-top:1px solid #ccc;
  height:40px;
  padding-right: 8px;
  
  div.inline{
    padding-left:15px;
    margin-top: 10px;
    font-style: italic;
  }
}

.mapping-arrow {
  position: relative;
  top:40px;
}

.arrow-box {
  position: relative;
  background: #fff;
  float:left;
  right:1px;
}

.arrow-box:after, .arrow-box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 20px;
  margin-top: -20px;
}
.arrow-box:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #ddd;
  border-width: 21px;
  margin-top: -21px;
}

.arrow-box .fa-arrow-right {
  position: absolute;
  z-index: 50;
  bottom: -6px;
}

.mapping-header {
  color:#777;
  font-weight:700;
  font-size:16px;
}

.mapping-title {
  color:#2A2F32;
  font-size:21px;
  font-weight:700;
}

.edit-button,
.delete-button {
  margin-top:5px;
}

.edit-button {
  margin-right:10px;
}

.icon-button span{
  margin-right:10px;
}

#noMappingsDefined{
  clear:both;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  margin-top:15px;
}

input.addProperty {
    margin-left: 0px;
}

#submenu { display:none; }
#submenuClone {
    margin-bottom: 15px;
    border-left: 0px;
    border-right: 0px;
    
    li.active {
        border-bottom: 5px solid @color-active;
    }
    
    li a {
        text-decoration: none;
        color: @inactive-menu-color;
        font-weight: bold;
    }
    
    li a:hover, .active a {
        .rounded-corners(5px);
        background-color: transparent;
    }
    
    li a:hover {
        background-color: transparent;
        color: @color-active;
    }
}

.changesPending{
    margin-top: 15px;
}