
#resourceMappingBody {
  width:960px;
}

.mapping-body {
  height: 325px;
}

.mapping-resource-body {
  width:425px;
  height:365px;
  display:inline-block;

  h4 {
    margin-bottom:10px;
  }
}

.mapping-body {
  .mapping-swap-holder {
    position: relative;
    top: 140px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 7px;
  }

  .mapping-swap {
    width: 50px;
    height: 35px;
  }
}

.mapping-swap-holder p {
  text-align: center;
  margin-top: 10px;
}

.mapping-resource {
  border:1px solid #ddd;
  height:270px;
  width:425px;

  hr {
    border-top: 1px solid #ddd;
  }

  .mapping-resource-empty {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .mapping-resource-empty .mapping-resource-empty-details {
    position: relative;
    top: 90px;
  }

  .mapping-resource-details {
    background-color:white;
    height:100%;
    width:100%;
  }
}

.mapping-resource-details {
  .resource-info {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 60px;
  }

  .object-type-name{
    color:#bbb;
    display:inline-block;
    margin-right:10px;
  }
}

.mapping-resource-body .select-resource {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:15px;
}

.add-mapping {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.add-mapping-button {
    margin-bottom: 10px;
}

.mapping-create-body {
  text-align:center;
  clear:both;
}

/*
  Mapping List View
*/

#mappingName {
  width:315px;
  margin-bottom:15px;
}

#mappingConfigHolder{
  clear:both;
  margin-top: 15px;

  .mapping-body {
    height:80px;
  }

  .mapping-body p {
    padding-bottom:5px;
  }
}

.mapping-config-body {
  width:965px;
  border:1px solid #ddd;
  margin-bottom:15px;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;

  .mapping-icon {
    display: inline-block;
    height:38px;
    width:30px;
    padding:25px 30px 10px 30px;
    float:left;
  }
}

.mapping-config-body:hover {
    border-color: #888;
    cursor:pointer;
}

.left-icon {
  margin-left:25px;
}

.mapping-target,
.mapping-source {
  padding:7px 0px 5px 5px;
  display:inline-block;
  float:left;
  width:367px;
}

.mapping-source {
  border-right: 1px solid #ccc;
}

.mapping-bottom-bar {
  border-top:1px solid #ccc;
  height:40px;
  padding-right: 8px;
  
  div.inline{
    padding-left:15px;
    margin-top: 10px;
    font-style: italic;
  }
}

.mapping-arrow {
  position: relative;
  top:40px;
}

.arrow-box {
  position: relative;
  background: #fff;
  float:left;
  right:1px;
}

.arrow-box:after, .arrow-box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 20px;
  margin-top: -20px;
}
.arrow-box:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #ddd;
  border-width: 21px;
  margin-top: -21px;
}

.arrow-box .fa-arrow-right {
  position: absolute;
  z-index: 50;
  bottom: -6px;
}

.mapping-header {
  color:#777;
  font-weight:700;
  font-size:16px;
}

.mapping-title {
  color:#2A2F32;
  font-size:21px;
  font-weight:700;
}

.edit-button,
.delete-button {
  margin-top:5px;
}

.icon-button span{
  margin-right:10px;
}

#noMappingsDefined{
  clear:both;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  margin-top:15px;
}

input.addProperty {
    margin-left: 0px;
}