#objectTypesForm button,
#objectTypesForm .ui-buttonset {
  width: auto;
  margin: 0 !important;
  font-size: 12px;
}

#objectTypesForm button {
  margin-right:10px !important;
}

#objectTypesForm {
  margin:0;
  padding:0;
}

#objectTypesForm .selectPanel {
  height: 100%;
  width: 240px;
  margin: 15px;
  display: inline-block;
  float: left;
}

#objectTypesForm .selectPanel #newObjectType{
  margin-bottom: 15px;
  width: 100%;
}
#objectTypesForm .selectPanel #objectTypesList {
  height: 100%;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
#objectTypesForm .objectTypeForm {
  display: inline-block;
  float: right;
  margin: 7px 15px 15px 0;
  position: absolute;
}

#objectTypesForm .objectTypeForm label {
  display: inline-block !important;
  width: 140px;
}

#objectTypesForm .objectTypeForm input {
  display: inline;
}

#objectTypesForm .objectTypeForm select {
  height:29px;
}

#objectTypesForm .objectTypeForm h3 > span {
  display: inline-block;
  margin-right:15px;
}

#objectTypesForm .content {
  padding: 0;
}

#objectTypesForm .content > div {
  margin: 0 !important;
}

#objectTypesForm .tabs > div span {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  padding: 0 5px;
}

#objectTypesForm .form-control > select {
  width:252px;
}

#objectTypesForm .ui-widget-content {
  background-color: rgba(128, 183, 171, .03);
  background-image: none;
}

.objectTypeEditor {
  top: 20px;
  left: 20px;
  position: fixed;
}
