.schedule-input-body {
  display:none;

  .group-field-block-inline {
    padding: 10px 15px 0 0;
    margin: 5px 0;
    display: inline-block;
    vertical-align: top;
  }

  .misfirePolicyBlock {
    padding-top:4px;

    label {
      display:inline-block;
    }
  }

  .systemObjectMessage {
    display:inline-block;

    .liveSyncSeconds {
      display:inline;
    }
  }

  #addNew {
    border: dashed 1px #999;
    color: #bbb;
    text-align: center;
    padding: 20px;
    cursor: pointer;

    &:hover {
      border-color: #5a646d;
      color: #5a646d;
    }
  }
}

.live-sync-footer {
  height:30px;
}