#schedules {
  .schedulerBody{
    background: white;
    padding: 10px;
    border: 1px solid #5a646d;
    font-size: 13px;

    .group-field-block {
      padding: 10px 15px 0 0;
      margin: 5px 0;
      display: inline-block;
      vertical-align: top;

      label {
        width: initial;
        padding: 4px;
      }

      select, input {
        padding: 0 5px;
        height: 24px;
        font-size: 13px;
      }

      select {
        width: 140px;
      }
    }
    .misfireHidden {
      display: none;
    }
    input[type="checkbox"] {
      font-size: 25px;
    }
  }
}