.schedule-input-body {
  .group-field-block-inline {
    padding: 10px 15px 0 0;
    margin: 5px 0;
    display: inline-block;
    vertical-align: top;

    label {
      width: initial;
      padding: 4px 4px 4px 0;
    }

    input[type="checkbox"] {
      font-size: 25px;
      padding: 0 5px;
    }
  }

  .misfirePolicyBlock {
    label {
      display:inline-block;
    }
  }

  .systemObjectMessage {
    display:inline-block;

    .liveSyncSeconds {
      display:inline;
    }
  }

  #addNew {
    border: dashed 1px #999;
    color: #bbb;
    text-align: center;
    padding: 20px;
    cursor: pointer;

    &:hover {
      border-color: #5a646d;
      color: #5a646d;
    }
  }

  .liveSyncContainer{
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 17px;
    margin: 10px 0;
    position: relative;

    .managedLiveSyncEnabled {
      display:block;
      color: @color-success;
    }
    .managedLiveSyncDisabled {
      display:block;
      color: @color-error;
    }

    .saveLiveSync {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}