/*
  Gives the code dialog a larger size
*/
@media (min-width: 768px) {
  .script-large-dialog .modal-dialog {
    width:600px;
    margin: 30px auto;
  }
}

@media (min-width: 1024px) {
  .script-large-dialog .modal-dialog {
    width:1024px;
  }
}

.event-hook-window {
  .panel {
    border: none;
    box-shadow:none;
    -webkit-box-shadow: none;
    margin-left: 6px;
  }
  .panel-heading {
    padding-top:0px;
    padding-bottom: 5px;
  }

  .event-hook-title {
    margin-top:0px;
  }

  .panel-body {
    padding: 0 0 0 15px;
  }

  .CodeMirror-empty {
    color:#aaa;
  }

  .script-accordions {
    .inline-code {
      .codemirror-holder {
        padding: 0;
      }
      .CodeMirror {
        border: 1px solid #ddd;
      }
    }
  }

  .script-variables {
    .panel-body {
      padding: 0;
    }

    .passed-variable-block {
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
      margin-bottom: 15px;

      .textContainer {
        padding-right: 0;
      }
    }
  }
}

/*
  Preview Pane
*/
.preview-pane {
  margin-top:15px;

  .preview-button {
    position: relative;
    bottom: 10px;
    left: 10px;
    cursor:pointer;
    opacity:.5;
    float:right;
    margin-bottom:10px;
  }

  .preview-button:hover {
    opacity:1;
    float:right;
    margin-bottom:10px;
  }

  .preview-results {
    margin-top:10px;

    pre {
      background-color:white;
    }

  }

  .script-eval-message {
    margin-top:30px;
  }
}

.scripts-container .group-field-block .border-bottom:first-child {
  border-bottom: 2px solid #ddd;
}

/**
  Styles for Script Editor base
*/
.event-hook-body {
  margin-bottom:10px;

  .event-hook-status {
    font-weight:normal;
    font-size:16px;
    padding-right:15px;
    padding-left:15px;
  }

  .icon-button {
    padding-right:5px;
    cursor:pointer;
    color:black;
  }

  .icon-button:hover {
    color:#5e887f;
  }
}

@media (max-width: 992px) {
  .event-hook-window .script-variables .passed-variable-block .col-sm-2 {
    width: 100%;
    .btn-group {
      margin-right: 5px;
      padding: 6px 0;
    }

  }
  .event-hook-window .script-variables .passed-variable-block .textContainer {
    padding-right: 15px;
    width: 100%;
    padding-bottom: 5px;
  }
}