.wide-card {
  &.disabled {
    cursor:default;

    &:hover {
      border-color:#ddd;
    }

    h3 {
      color:#777;
    }

    .btn-link {
      cursor:default;

        &:hover {
          color:#777;
        }
    }

    label {
      span {
        cursor: default;
      }
    }
  }

  .switch-holder {
    display: inline-block;
    width: 90px;

    .checkbox-slider {
      position: relative;
      top: 5px;
      left: 15px;
    }
  }

  .details {
    display: inline-block;
    margin-top:5px;
    margin-bottom:5px;

    h3 {
      font-size: 18px;
      text-align: left;
      margin-bottom: 5px;
    }
  }

  .btn-link {
    padding: 0px;
    margin-top: 10px;
  }

  .fa {
    text-align: right;
    margin-right: 10px;
  }
}

.selfservice-holder {
  position:relative;

  .shim {
    height:100%;
    width:100%;
    position:absolute;
    opacity:.4;
    background-color: #fff;
    z-index:10;
    top:0;
    bottom:0;
  }
}



.nav-tabs>li.disabled {
  >a {
    color: #a1a1a1;

    &:hover,
    &:active,
    &:focus {
      cursor:not-allowed;
      color:#a1a1a1;
    }
  }
}

