/**
 * The contents of this file are subject to the terms of the Common Development and
 * Distribution License (the License). You may not use this file except in compliance with the
 * License.
 *
 * You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
 * specific language governing permission and limitations under the License.
 *
 * When distributing Covered Software, include this CDDL Header Notice in each file and include
 * the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
 * Header, with the fields enclosed by brackets [] replaced by your own identifying
 * information: "Portions copyright [year] [name of copyright owner]".
 *
 * Copyright 2016 ForgeRock AS.
 */
.email-message-code-mirror-disabled+.CodeMirror {
  height: 80px;
  background-color: #f7f7f7;
}

.email-message-code-mirror+.CodeMirror {
  height:140px;
}

.translationMapGroup {
    ul {
        p {
            display: inline;
        }
    }
}

#options {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.disabled.card .image.circle.self-service-icon {
  background-color: #ddd;
}
.card .image.circle.self-service-icon {
  margin: 8px 0 0 16px;
  width: 50px;
  font-size: 22px;
  height: 50px;
  .fa {
    text-align: center;
  }
}

.gu-mirror.self-service-card .panel-footer {
  background-color: #eee;
}

.selfservice-holder {
  .simple-section {
    margin-bottom: 10px;

    .wide-card {
      overflow: auto;
      margin-bottom: 10px;

      .details {
        padding-bottom: 0px;
      }

      .logo-details {
        float: none;
        margin-left: 80px;
      }
    }
  }
}

.selfservice-holder .wide-card,
.gu-mirror.self-service-card, {
  height:125px;

  .panel-heading {
    padding: 5px 15px 0 0;
  }

  .panel-body {
    padding-left:90px;
    padding-top:5px;
  }

  .panel-body.no-toggle {
    padding-left:0px;
  }

  .panel-footer {
    position: absolute;
    right: 10px;
    top: 1px;
    border:0;
    padding:0;

    .btn-drag {
      display: none;

      .fa-arrows {
        margin-right: 0px;
      }
    }

    .btn-link:hover {
      background-color:inherit;
    }
  }

  .switch-holder {
    position:absolute;

    .checkbox-slider {
      position: relative;
      top: 5px;
      left: 15px;
    }
  }

  .details {
    h3 {
      font-size: 18px;
      text-align: left;
      margin-bottom: 5px;
    }
  }

  .btn-link {
    padding: 0px;
    margin-top: 10px;
  }

  .fa {
    text-align: right;
    margin-right: 10px;
  }

  .social-logo {
    max-width:100px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .logo-holder {
    float:left;
  }

  .logo-details {
    float:left;
    margin-left:20px;
  }

  &.disabled {
    cursor:default;

    button {
      display:none;
    }

    &:hover {
      border-color:#ddd;
    }

    h3 {
      color:#777;
    }

    .btn-link {
      cursor:default;

      &:hover {
        color:#777;
      }
    }

    label {
      span {
        cursor: default;
      }
    }

    .social-logo {
      opacity: .5;
    }
  }
}

.nav-tabs>li.disabled {
  >a {
    color: #a1a1a1;

    &:hover,
    &:active,
    &:focus {
      cursor:not-allowed;
      color:#a1a1a1;
    }
  }
}

@media (min-width: 768px) {
  .gu-mirror.self-service-card,
  .selfservice-holder .wide-card {
    height: 75px;

    .panel-footer {
      .btn-drag {
        display:inline;
      }
    }

    &.disabled {
      .btn-drag {
        display: none;
      }
    }

    &.dragged {
      .btn-drag {
        display:none;
      }
    }
  }
}
