{{#unless editState}}
<fieldset>
    <legend><span>{{t "templates.connector.ldapConnector.ldapType"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
    <div class="group-body">
        <div class="group-field-block group-lead no-validation-block">
            <label for="ldapTemplateType" class="light">{{t "templates.connector.ldapConnector.ldapType"}}</label>
            <select data-validator="required" data-validator-event="changed" id="ldapTemplateType" class="form-size-m">
                {{#each ldapSelector}}
                <option value="{{fileName}}">{{displayName}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</fieldset>
{{/unless}}
<fieldset>
    <legend><span>{{t "templates.connector.baseTitle"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
    <div class="group-body">
        <div class="group-field-block group-lead">
            <div class="separate-message">
                <label for="host" class="light">{{t "templates.connector.ldapConnector.host"}}</label>
                <input id="host" autocomplete="off" data-validator-event="keyup blur" data-validator="required" type="text" class="form-size-l" name="configurationProperties.host" value="{{connectorDefaults.configurationProperties.host}}" />
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>

        <div class="group-field-block" style="display:none" id="certContainer">
            <div class="separate-message">
                <textarea id="certificate" name="certificate" class="certificate" placeholder="{{t "templates.connector.ldapConnector.certificateHint"}}" data-validator="certificate" data-validator-event="keyup change blur">{{publicKey}}</textarea>
                <div class="validation-message"></div>
            </div>
        </div>

        <div class="group-field-block">
            <div class="separate-message small-outside-element">
                <div class="inline">
                    <label for="port" class="light">{{t "templates.connector.ldapConnector.port"}}</label>
                    <input id="port" data-validator-event="keyup blur" data-validator="required" class="form-size-s inline-right" autocomplete="off" type="text" name="configurationProperties.port" value="{{connectorDefaults.configurationProperties.port}}" />
                    <span></span>
                </div>
                <div class="inline ssl-radio">
                    <input id="ssl" autocomplete="off" type="checkbox" class="checkbox" name="configurationProperties.ssl" {{#if connectorDefaults.configurationProperties.ssl}} checked{{/if}} value="true">
                    <label for="ssl" class="label-size-s light">{{t "templates.connector.ldapConnector.ssl"}}</label>
                </div>
                <div class="inline inline-link">
                    <a href="#" id="toggleCert" style="display:none;">{{t "templates.connector.ldapConnector.showCert"}}</a>
                </div>
                <div class="validation-message"></div>
            </div>
        </div>

        <div class="group-field-block">
            <div class="separate-message">
                <label for="principal" class="light">{{t "templates.connector.ldapConnector.username"}}</label>
                <input id="principal" data-validator-event="keyup blur" data-validator="required" class="form-size-l" autocomplete="off" type="text" name="configurationProperties.principal" placeholder="{{t "templates.connector.ldapConnector.usernamePlaceholder"}}" value="{{connectorDefaults.configurationProperties.principal}}" />
                <span></span>
                <div class="validation-message"></div>
            </div>
        </div>

        <div class="group-field-block no-validation-block">
            <div class="separate-message">
                <label for="credentials" class="light">{{t "templates.connector.ldapConnector.password"}}</label>
                <input id="credentials" autocomplete="off" class="form-size-l" type="password" name="configurationProperties.credentials" value="" {{#if connectorDefaults.configurationProperties.credentials}} placeholder="********" {{/if}} />
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend><span>{{t "templates.connector.ldapConnector.baseContextTitle"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
    <div class="group-body connector-array-component" id="baseContextWrapper">
        <div class="group-field-block group-note-lead">
            <p class="note">{{t "templates.connector.ldapConnector.baseContextNote"}}</p>
            <button type="button" field_type="baseContext" id="addBaseContextButton" name="addBaseContextButton" class="button add-btn"><span>{{t "templates.connector.ldapConnector.baseContextAdd"}}</span><i class="fa fa-lg fa-plus"></i></button>
        </div>
        {{#if connectorDefaults.configurationProperties.baseContexts.length}}
        {{#each_with_index connectorDefaults.configurationProperties.baseContexts}}
        <div class="field group-field-block">
            <div class="separate-message outside-element">
                <label class="light">{{t "templates.connector.ldapConnector.baseContext"}}</label>
                <div class="inline">
                    <button type="button" field_type="baseContext" class="clean-btn remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                    <input class="form-size-m" data-validator-event="keyup blur" data-validator="required" autocomplete="off" field_type="baseContext" type="text" name="configurationProperties.baseContexts[]" placeholder="cn=Users,dc=company,dc=com" value="{{value}}"  />
                    <span></span>
                </div>
                <div class="validation-message"></div>
            </div>
        </div>
        {{/each_with_index}}
        {{else}}
        <div class="field group-field-block">
            <div class="separate-message outside-element">
                <label class="light">{{t "templates.connector.ldapConnector.baseContext"}}</label>
                <div class="inline">
                    <button type="button" field_type="baseContext" class="clean-btn remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                    <input class="form-size-m" data-validator-event="keyup blur" data-validator="required" autocomplete="off" field_type="baseContext" type="text" name="configurationProperties.baseContexts[]" placeholder="cn=Users,dc=company,dc=com" value=""  />
                    <span></span>
                </div>
                <div class="validation-message"></div>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="group-field-block group-note-lead">
        <p class="note">{{t "templates.connector.ldapConnector.syncMessage"}} <input {{#if baseContextsSameResults}}checked{{/if}} type="checkbox" id="syncBaseContext"></p>
    </div>
</fieldset>
<fieldset id="baseContextsToSynchronizeHolder" {{#if baseContextsSameResults}} style="display:none;" {{/if}}>
    <legend><span>{{t "templates.connector.ldapConnector.baseContextSyncTitle"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
    <div class="group-body connector-array-component" id="baseContextsToSynchronizeWrapper">
        <div class="group-field-block group-note-lead">
            <button type="button" field_type="baseContextsToSynchronize" id="addBaseContextToSynchronizeButton" name="addBaseContextToSynchronizeButton" class="button add-btn"><span>{{t "templates.connector.ldapConnector.baseContextAdd"}}</span><i class="fa fa-lg fa-plus"></i></button>
        </div>
        {{#if connectorDefaults.configurationProperties.baseContextsToSynchronize.length}}
        {{#each_with_index connectorDefaults.configurationProperties.baseContextsToSynchronize}}
        <div class="field group-field-block">
            <div class="separate-message outside-element">
                <label class="light">{{t "templates.connector.ldapConnector.baseContextToSync"}}</label>
                <div class="inline">
                    <button type="button" field_type="baseContextsToSynchronize" class="clean-btn remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                    <input class="form-size-m" data-validator-event="keyup blur" data-validator="required" autocomplete="off" field_type="baseContextsToSynchronize" type="text" name="configurationProperties.baseContextsToSynchronize[]" placeholder="cn=Users,dc=company,dc=com" value="{{value}}"  />
                    <span></span>
                </div>
                <div class="validation-message"></div>
            </div>
        </div>
        {{/each_with_index}}
        {{else}}
        <div class="field group-field-block">
            <div class="separate-message outside-element">
                <label class="light">{{t "templates.connector.ldapConnector.baseContextToSync"}}</label>
                <div class="inline">
                    <button type="button" field_type="baseContextsToSynchronize" class="clean-btn remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                    <input class="form-size-m" data-validator-event="keyup blur" data-validator="required" autocomplete="off" field_type="baseContextsToSynchronize" type="text" name="configurationProperties.baseContextsToSynchronize[]" placeholder="cn=Users,dc=company,dc=com" value=""  />
                    <span></span>
                </div>
                <div class="validation-message"></div>
            </div>
        </div>
        {{/if}}
    </div>
</fieldset>
<fieldset>
    <legend><span>{{t "templates.connector.ldapConnector.addUsersTitle"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
    <div class="group-body">
        <div class="group-field-block group-lead no-validation-block">
            <label class="light">{{t "templates.connector.ldapConnector.accountSearchFilter"}}</label>
            <input autocomplete="off" class="filter form-size-l" type="text" id="accountSearchFilter" name="configurationProperties.accountSearchFilter" value="{{connectorDefaults.configurationProperties.accountSearchFilter}}" />
        </div>
        <div class="connector-array-component" id="accountObjectClassesWrapper">
            <div class="group-field-block group-field-buttons">
                <button type="button" field_type="accountObjectClasses" id="addAccountObjectClassesButton" name="addAccountObjectClassesButton" class="button add-btn"><span>{{t "templates.connector.ldapConnector.addAccountObjectClasses"}}</span><i class="fa fa-lg fa-plus"></i></button>
            </div>
            {{#if connectorDefaults.configurationProperties.accountObjectClasses.length}}
                {{#each_with_index connectorDefaults.configurationProperties.accountObjectClasses}}
                    <div class="group-field-block field">
                        <div class="separate-message outside-element">
                            <label class="light">{{t "templates.connector.ldapConnector.accountObjectClasses"}}</label>
                            <div class="inline">
                                <button type="button" field_type="accountObjectClasses" class="clean-btn remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                                <input data-validator-event="keyup blur" data-validator="required" class="form-size-m" autocomplete="off" type="text" name="configurationProperties.accountObjectClasses[]" placeholder="user" value="{{value}}"/>
                                <span></span>
                            </div>
                            <div class="validation-message"></div>
                        </div>
                    </div>
                {{/each_with_index}}
            {{else}}
                <div class="group-field-block field">
                    <div class="separate-message outside-element">
                        <label class="light">{{t "templates.connector.ldapConnector.accountObjectClasses"}}</label>
                        <div class="inline">
                            <button type="button" field_type="accountObjectClasses" class="clean-btn remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                            <input data-validator-event="keyup blur" data-validator="required" class="form-size-m" autocomplete="off" type="text" name="configurationProperties.accountObjectClasses[]" placeholder="user" value=""/>
                            <span></span>
                        </div>
                        <div class="validation-message"></div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend><span>{{t "templates.connector.ldapConnector.addGroupTitle"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
    <div class="group-body">
        <div class="group-field-block group-lead no-validation-block">
            <label class="light">Group Filter</label>
            <input autocomplete="off" class="filter form-size-l" type="text" id="groupSearchFilter" name="configurationProperties.groupSearchFilter" value="{{connectorDefaults.configurationProperties.groupSearchFilter}}" />
        </div>
        <div class="connector-array-component" id="groupObjectClassesWrapper">
            <div class="group-field-block">
                <button type="button" field_type="groupObjectClasses" id="addGroupObjectClassesButton" name="addGroupObjectClassesButton" class="button add-btn"><span>{{t "templates.connector.ldapConnector.addGroupObjectClasses"}}</span><i class="fa fa-lg fa-plus"></i></button>
            </div>
            {{#if connectorDefaults.configurationProperties.groupObjectClasses.length}}
                {{#each_with_index connectorDefaults.configurationProperties.groupObjectClasses}}
                    <div class="group-field-block field">
                        <div class="separate-message outside-element">
                            <label class="light">{{t "templates.connector.ldapConnector.groupObjectClasses"}}</label>
                            <div class="inline">
                                <button type="button" field_type="groupObjectClasses" class="clean-btn remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                                <input data-validator-event="keyup blur" data-validator="required"  class="form-size-m" autocomplete="off" type="text" name="configurationProperties.groupObjectClasses[]" placeholder="group" value="{{value}}"/>
                                <span></span>
                            </div>
                            <div class="validation-message"></div>
                        </div>
                    </div>
                {{/each_with_index}}
            {{else}}
                <div class="group-field-block field">
                    <div class="separate-message outside-element">
                        <label class="light">{{t "templates.connector.ldapConnector.groupObjectClasses"}}</label>
                        <div class="inline">
                            <button type="button" field_type="groupObjectClasses" class="clean-btn remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                            <input class="form-size-m" autocomplete="off" type="text" name="configurationProperties.groupObjectClasses[]" placeholder="group" value=""/>
                            <span></span>
                        </div>
                        <div class="validation-message"></div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</fieldset>

