<div class="audit-input-body tab-pane-body">
    <form id="auditForm" class="form clearfix panel-collapse-group" autocomplete="off">

        <div class="panel panel-default panel-collapse auditModules">
            <div class="panel-heading" role="tab" id="eventTypesHeader">
                <div class="row">
                    <div class="col-xs-10">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#eventTypes" aria-expanded="true" aria-controls="eventTypes" class="collapsed in">
                                {{t "templates.audit.eventTypes"}}
                            </a>
                        </h4>
                    </div>
                    <div class="col-xs-2">
                        <a href="{{docHelpUrl}}integrators-guide/index.html#audit-log-types" target="_blank" class="pull-right"><span class="hidden-xs">Help</span> <i class="fa fa-question-circle"></i></a>
                    </div>
                </div>
            </div>

            <div id="eventTypes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="eventTypesHeader" aria-expanded="true">
                <div class="panel-body">
                    <p class="panel-description">
                        {{t "templates.audit.eventTypesDesc"}}
                    </p>

                    <div class="list-table">
                        <ul class="list-group">

                            <li class="list-group-header">
                                <div class="row">
                                    <div class="col-xs-9">
                                        {{t "templates.audit.events"}}
                                    </div>
                                </div>
                            </li>

                            {{#each audit.eventTypes}}
                            <li class="list-group-item" eventName="{{@key}}">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <a href="#" class="edit-event text-capitalize">{{@key}}</a>
                                    </div>

                                    <div class="col-xs-4">
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-link edit-event"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-link delete-event"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>

                        <div class="add-item-inline">
                            <div role="alert" class="alert alert-warning" style="display: none">
                                <i class="fa fa-exclamation-circle"></i><strong> {{t "templates.audit.warning"}}</strong>
                                <span class="message">
                                    {{t "templates.audit.changesPending"}}
                                    <a href="#" class="undoEvents">{{t "templates.audit.undo"}}</a>
                                </span>
                            </div>

                            {{#if unaddedEvents}}

                            <div class="row">
                                <div class="col-sm-4">
                                    <select class="form-control eventList text-capitalize">
                                        {{#each unaddedEvents}}
                                        <option value="{{this}}" class="text-capitalize">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-default add-event blockButton"><i class="fa fa-plus"></i>{{t "templates.audit.addEvent"}} </button>
                                </div>
                            </div>

                            {{else}}

                            <div role="alert" class="alert alert-info" style="display: block;">
                                <i class="fa fa-exclamation-circle"></i><strong> {{t "templates.audit.notice"}}</strong>
                                <span class="message">
                                    {{t "templates.audit.noMoreEvents"}}
                                </span>
                            </div>

                            {{/if}}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-collapse auditModules">
            <div class="panel-heading" role="tab" id="logToHeader">
                <div class="row">
                    <div class="col-xs-10">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#logTo" aria-expanded="true" aria-controls="logTo" class="collapsed in">
                                {{t "templates.audit.logTo"}}
                            </a>
                        </h4>
                    </div>
                    <div class="col-xs-2">
                        <a href="{{docHelpUrl}}integrators-guide/index.html#directing-log-output" target="_blank" class="pull-right"><span class="hidden-xs">Help</span> <i class="fa fa-question-circle"></i></a>
                    </div>
                </div>
            </div>

            <div id="logTo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="logToHeader" aria-expanded="true">
                <div class="panel-body">
                    <p class="panel-description">
                        {{t "templates.audit.logToDesc"}}
                    </p>

                    <div class="list-table">
                        <ul class="list-group">

                            <li class="list-group-header">
                                <div class="row">
                                    <div class="col-xs-2">
                                        {{t "templates.audit.logType"}}
                                    </div>
                                    <div class="col-xs-10">
                                        {{t "templates.audit.logDetails"}}
                                    </div>
                                </div>
                            </li>

                            {{#each audit.logTo}}
                            <li class="list-group-item log" data-index="{{@index}}">
                                <div class="row">
                                    <div class="col-xs-2 type">
                                        <span>{{this.logType}}</span>
                                    </div>
                                    <div class="col-xs-9 form-inline">
                                        {{#if this.csv}}
                                        <label>{{t "templates.audit.logDelimiter"}}: <input type="text" data-field="recordDelimiter" class="form-control delimiter small" value="{{this.recordDelimiter}}"/></label>
                                        {{/if}}

                                        {{#unless this.repository}}
                                        <label>{{t "templates.audit.logLocation"}}: <input type="text" data-field="location" class="form-control location" value="{{this.location}}" /></label>
                                        {{/unless}}

                                        <label>{{t "templates.audit.logBuffer"}}: <input type="text" data-field="bufferSize" class="form-control bufferSize small" value="{{this.bufferSize}}"/></label>

                                        <label>{{t "templates.audit.logMaxFlushDelay"}}: <input type="text" data-field="maxFlushDelay" class="form-control maxFlushDelay small" value="{{this.maxFlushDelay}}"/></label>

                                        <label class="form-control">
                                            {{t "templates.audit.logUsedForQueries"}}
                                            <input type="radio" data-field="useForQueries" data-type="boolean" class="useForQueries" name="usedForQueries" {{#if this.useForQueries}} checked{{/if}} />
                                        </label>
                                        <label class="form-control">
                                            {{t "templates.audit.logIgnoreLoggingFailures"}}
                                            <input type="checkbox" data-field="ignoreLoggingFailures" data-type="boolean" class="ignoreLoggingFailures" name="ignoreLoggingFailures" {{#if this.ignoreLoggingFailures}} checked{{/if}}/>
                                        </label>
                                    </div>

                                    <div class="col-xs-1 text-center">
                                        <button class="btn btn-link deleteLogType pull-right">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            {{/each}}

                        </ul>
                    </div>

                    <div class="add-item-inline">
                        <div class="row">
                            <div class="col-sm-4">
                                <select class="form-control logTypes">
                                    <option value="router">{{t "templates.audit.router"}}</option>
                                    <option value="csv">{{t "templates.audit.csv"}}</option>
                                    {{#unless repoAdded}}<option value="repository">{{t "templates.audit.repository"}}</option>{{/unless}}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-default addLog blockButton"><i class="fa fa-plus"></i>{{t "templates.audit.addLog"}}</button>
                            </div>
                        </div>
                    </div>

                    <div role="alert" class="alert alert-warning" style="display: none">
                        <i class="fa fa-exclamation-circle"></i><strong> {{t "templates.audit.changesPending"}}</strong>
                        <span class="message">
                            {{t "templates.audit.changesPending"}}
                            <a href="#" class="undoLogs">{{t "templates.audit.undo"}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-collapse auditModules">
            <div class="panel-heading" role="tab" id="exceptionFormatterHeader">
                <div class="row">
                    <div class="col-xs-10">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#exceptionFormatter" aria-expanded="true" aria-controls="exceptionFormatter" class="collapsed in">
                                {{t "templates.audit.exceptionFormatter"}}
                            </a>
                        </h4>
                    </div>
                    <div class="col-xs-2">
                        <a href="{{docHelpUrl}}integrators-guide/index.html#audit-exception-formatter" target="_blank" class="pull-right"><span class="hidden-xs">Help</span> <i class="fa fa-question-circle"></i></a>
                    </div>
                </div>
            </div>

            <div id="exceptionFormatter" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="exceptionFormatterHeader" aria-expanded="true">
                <div class="panel-body">
                    <p class="panel-description">
                        {{t "templates.audit.exceptionFormatterDesc"}}
                    </p>

                    <div id="exceptionFormatterScript" class="col-md-12"></div>

                    <div role="alert" class="alert alert-warning" style="display: none">
                        <i class="fa fa-exclamation-circle"></i><strong> {{t "templates.audit.changesPending"}}</strong>
                        <span class="message">
                            {{t "templates.audit.changesPending"}}
                            <a href="#" class="undoExceptions">{{t "templates.audit.undo"}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="panel-footer">
    <div style="display:none;" id="auditErrorMessage" class="float-left error-box">
        <p class="error-message">{{t "templates.auth.errorsmsg"}}</p>
    </div>

    <div class="clearfix form-button-bar">
        <input type="button" name="submit"  class="btn btn-primary pull-right" id="submitAudit" value={{t "common.form.submit"}}>
    </div>
</div>
