<p class="panel-description">{{note}}</p>

<div id="policySettingsTabs" class="tab-menu">
    <ul class="nav nav-tabs">
        <li class="{{#if actionsTab}}active{{/if}}" id="actionsTab"><a data-toggle="tab" href="#filterActionsPane">{{t "templates.audit.dialog.filterActions"}}</a></li>
        <li class="{{#if fieldsTab}}active{{/if}}" id="fieldsTab"><a data-toggle="tab" href="#filterFieldsPane">{{t "templates.audit.dialog.filterFields"}}</a></li>
        <li class="{{#if scriptTab}}active{{/if}}" id="scriptTab"><a data-toggle="tab" href="#filterScriptPane">{{t "templates.audit.dialog.filterScript"}}</a></li>
        <li class="{{#if watchedTab}}active{{/if}}" id="watchedFieldsTab"><a data-toggle="tab" href="#watchedFieldsPane">{{t "templates.audit.dialog.watchedFields"}}</a></li>
        <li class="{{#if passwordTab}}active{{/if}}" id="passwordFieldsTab"><a data-toggle="tab" href="#passwordFieldsPane">{{t "templates.audit.dialog.passwordFields"}}</a></li>
    </ul>
</div>

<div class="tab-content no-border panel-body">

    <div id="filterActionsPane" class="tab-pane{{#if actionsTab}} active{{/if}}" role="tabpanel">
        <p class="panel-description">{{t "templates.audit.dialog.filterActionsDesc"}}</p>
        <ul class="list-group checked-list-box">
            {{#each setActions}}
            <li class="list-group-item">
                <label>
                    <input class="filterAction" value="{{@key}}" type="checkbox"{{#if this}} checked{{/if}}/>
                    <span>{{@key}}</span>
                </label>
            </li>
            {{else}}

            <div role="alert" class="alert alert-info" style="display: block;">
                <i class="fa fa-exclamation-circle"></i><strong> {{t "templates.audit.notice"}}</strong>
            <span class="message">
                {{t "templates.audit.dialog.noActions"}}
            </span>
            </div>

            {{/each}}
        </ul>


    </div>

    <div id="filterFieldsPane" class="tab-pane{{#if fieldsTab}} active{{/if}}" role="tabpanel">
        <p class="panel-description"></p>

        {{#each defaults.event.filter.fields}}
        <div class="well" data-filter-name="{{this.name}}">
            <span class="headerItem">
                <button class="btn btn-link filterFieldsCollapse" >
                    <i class="fa {{#if this.collapsed}}fa-caret-up{{else}}fa-caret-down{{/if}}"></i>
                </button>
                <label><input type="text" placeholder="Field Name" class="form-control filterFieldName" value="{{this.name}}"/></label>
                <button class="btn btn-link deleteFilterField" type="button">{{t "templates.audit.dialog.filterFieldDelete"}}</button>
            </span>
            <ul class="list-group checked-list-box filterFieldValues" style="{{#if this.collapsed}}display:none;{{/if}}">
                {{#each this.values}}
                <li class="list-group-item filterField" data-filter-value="{{this}}">
                    <label>{{this}}</label>
                    <button class="btn btn-link deleteFilterFieldValue pull-right"><i class="fa deleteFilterFieldValue fa-times"></i></button>
                </li>
                {{/each}}
                <li class="list-group-item">
                    <div class="input-group">
                        <input type="text" class="form-control newFilterValue">
                    <span class="input-group-btn">
                        <button class="btn btn-default addFilterFieldValue" id="addFilterFieldValue" type="button">{{t "templates.audit.dialog.filterFieldAdd"}}</button>
                    </span>
                    </div>
                </li>
            </ul>
        </div>
        {{/each}}

        <button class="btn btn-default addFilterField blockButton" id="addFilterField"><i class="fa fa-plus"></i>{{t "templates.audit.dialog.filterFieldAddField"}}</button>

    </div>

    <div id="filterScriptPane" class="tab-pane{{#if scriptTab}} active{{/if}}" role="tabpanel">
        <p class="panel-description">{{t "templates.audit.dialog.filterScriptDesc"}} <a href="{{docHelpUrl}}integrators-guide/index.html#audit-filter-scripts" target="_blank">{{t "templates.audit.dialog.readMore"}}</a></p>

        <div id="filterScript"></div>
    </div>

    <div id="watchedFieldsPane" class="tab-pane{{#if watchedTab}} active{{/if}}" role="tabpanel">
        <p class="panel-description">{{t "templates.audit.dialog.watchedFieldsDesc"}}</p>

        <ul class="list-group checked-list-box">
            {{#each defaults.event.watchedFields}}
            <li class="list-group-item">
                <label>{{this}}</label>
                <button class="btn btn-link deleteWatchedField pull-right"><i class="fa deleteWatchedField fa-times"></i></button>
            </li>
            {{/each}}

            <li class="list-group-item">
                <div class="input-group">
                    <input type="text" class="form-control watchedField">
                        <span class="input-group-btn">
                            <button class="btn btn-default addWatchedField" type="button">{{t "common.form.add"}}</button>
                        </span>
                </div>
            </li>
        </ul>
    </div>

    <div id="passwordFieldsPane" class="tab-pane{{#if passwordTab}} active{{/if}}" role="tabpanel">
        <p class="panel-description">{{t "templates.audit.dialog.passwordFieldsDesc"}}</p>

        <ul class="list-group checked-list-box">
            {{#each defaults.event.passwordFields}}
            <li class="list-group-item">
                <label>{{this}}</label>
                <button class="btn btn-link deletePasswordField pull-right"><i class="fa deletePasswordField fa-times"></i></button>
            </li>
            {{/each}}

            <li class="list-group-item">
                <div class="input-group">
                    <input type="text" class="form-control passwordField">
                    <span class="input-group-btn">
                        <button class="btn btn-default addPasswordField" id="addPasswordField" type="button">{{t "common.form.add"}}</button>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>