<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div id="AuthenticationContainer" class="form clearfix panel-collapse-group">

    <!--Session Module-->
    <div class="panel panel-default panel-collapse">
        <div class="panel-heading" role="tab" id="SessionModuleHeader">
            <a class="pull-right" href="{{docHelpUrl}}integrators-guide/index.html#supported-session-modules" target="_blank">{{t "templates.connector.help"}} <i class="fa fa-question-circle"></i></a>

            <h4 class="panel-title">
                <a data-toggle="collapse" href="#SessionModuleBody" aria-expanded="true" aria-controls="SessionModuleHeader">
                    {{t "templates.auth.sessionFieldsetName"}}
                </a>
            </h4>
        </div>

        <div id="SessionModuleBody" class="collapse in" role="tabpanel" aria-labelledby="SessionModuleHeader" aria-expanded="true">
            <div class="panel-body">
                <div class="group-body">
                    <p class="panel-description">{{t "templates.auth.sessionInfo"}}</p>
                    <div id="sessionModuleView"></div>
                </div>
            </div>
        </div>
    </div>


    <!--Authentication Module-->
    <div class="panel panel-default panel-collapse">
        <div class="panel-heading" role="tab" id="AuthenticationModuleHeader">
            <a class="pull-right" href="{{docHelpUrl}}integrators-guide/index.html#supported-auth-modules" target="_blank">{{t "templates.connector.help"}} <i class="fa fa-question-circle"></i></a>

            <h4 class="panel-title">
                <a data-toggle="collapse" href="#AuthenticationModuleBody" aria-expanded="true" aria-controls="AuthenticationModuleHeader">
                    {{t "templates.auth.authFieldsetName"}}
                </a>
            </h4>
        </div>

        <div id="AuthenticationModuleBody" class="collapse in" role="tabpanel" aria-labelledby="AuthenticationModuleHeader" aria-expanded="true">
            <div class="panel-body">
                <div class="group-body">
                    <p class="panel-description">{{t "templates.auth.authInfo"}}</p>
                    <div id="authenticationModuleView"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="panel-footer">
    <div style="display:none;" id="authErrorMessage" class="float-left error-box">
        <p class="error-message">{{t "templates.auth.errorsmsg"}}</p>
    </div>

    <div class="clearfix form-button-bar">
        <input type="button" name="submit" value={{t "common.form.save"}} class="btn btn-primary pull-right" id="submitAuth">
    </div>
</div>

