<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<form id="systemConfigForm" class="form clearfix panel-collapse-group" autocomplete="off">
    <div id="urlConfigBody" class="panel-body">
        <a class="pull-right" href="{{docHelpUrl}}integrators-guide/index.html#ui-path" target="_blank">{{t "templates.connector.help"}} <i class="fa fa-question-circle"></i></a>

        <div class="group-body">
            <p class="panel-description">
                {{t "templates.selfService.urlDesc"}}
            </p>

            <div class="form-horizontal">
                <div class="form-group has-feedback">
                    <label for="selfServiceURL" class="col-sm-3 control-label">{{t "templates.selfService.url"}}</label>
                    <div class="col-sm-6">
                        <input id="selfServiceURL" type="text" class="form-control" name="selfServiceURL" value="{{selfServiceURL}}" data-validator="requiredURL" data-validator-event="keyup blur"/>
                        <div class="validation-message"></div>
                        <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="clearfix form-button-bar">
            <input type="submit" name="saveSelfServiceURL" class="btn btn-primary pull-right" id="saveSelfServiceURL" value="Save"/>
        </div>
    </div>
</form>