<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div id="settingsBody">

    <div class="container">
        <div class="page-header">
            <h1>{{t "config.AppConfiguration.Navigation.links.systemPref"}}</h1>
        </div>
    </div>

    <div id="settingsTabs" class="tab-menu">
        <div class="container">
            <ul class="nav nav-tabs">

                <li class="{{#if maintenanceMode}}disabled{{/if}}{{#sw tabName "authentication"}}active{{/sw}}">
                <a data-toggle="tab" data-route="authentication" href="#authenticationContainer">{{t "config.AppConfiguration.Navigation.links.authentication"}}</a>
                </li>

                <li class="{{#if maintenanceMode}}disabled{{/if}}{{#sw tabName "audit"}}active{{/sw}}">
                <a data-toggle="tab" data-route="audit" href="#auditContainer">{{t "templates.audit.audit"}}</a>
                </li>

                <li class="{{#if maintenanceMode}}disabled{{/if}}{{#sw tabName "selfService"}}active{{/sw}}">
                <a data-toggle="tab" data-route="selfService" href="#selfServiceContainer">{{t "templates.selfService.title"}}</a>
                </li>

                <li class="{{#if maintenanceMode}}disabled{{/if}}{{#sw tabName "email"}}active{{/sw}}">
                <a data-toggle="tab" data-route="email" href="#emailContainer">{{t "templates.emailConfig.title"}}</a>
                </li>

                <li {{#if maintenanceMode}}class="active"{{else}}{{#sw tabName "update"}}class="active"{{/sw}}{{/if}}>
                <a data-toggle="tab" data-route="update" href="#updateContainer">{{t "templates.update.title"}}</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="container">
        <div class="tab-content" id="settings">
            <div id="authenticationContainer" class="tab-pane{{#sw tabName "authentication"}} active{{/sw}}" role="tabpanel"></div>
            <div id="auditContainer" class="tab-pane{{#sw tabName "audit"}} active{{/sw}}" role="tabpanel"></div>
            <div id="selfServiceContainer" class="tab-pane{{#sw tabName "selfService"}} active{{/sw}}" role="tabpanel"></div>
            <div id="emailContainer" class="tab-pane{{#sw tabName "email"}} active{{/sw}}" role="tabpanel"></div>
            <div id="updateContainer" class="tab-pane {{#if maintenanceMode}} active{{else}}{{#sw tabName "update"}} active{{/sw}}{{/if}}" role="tabpanel"></div>
        </div>
    </div>

</div>

<div id="install"></div>