<div class="container">
    <div class="page-header">
        <h1>{{t "common.form.settings"}}</h1>
    </div>
</div>

<div id="settingsTabs" class="tab-menu">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#authenticationContainer">{{t "config.AppConfiguration.Navigation.links.authentication"}}</a></li>
            <!--<li><a data-toggle="tab" href="#auditContainer">{{t "templates.audit.audit"}}</a></li>-->
            <li><a data-toggle="tab" href="#selfServiceContainer">{{t "templates.selfService.title"}}</a></li>
            <li><a data-toggle="tab" href="#emailConfigContainer">{{t "templates.emailConfig.title"}}</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="tab-content" id="settings">
        <div id="authenticationContainer" class="tab-pane active" role="tabpanel"></div>
        <!--<div id="auditContainer" class="tab-pane" role="tabpanel"></div>-->
        <div id="selfServiceContainer" class="tab-pane" role="tabpanel"></div>
        <div id="emailConfigContainer" class="tab-pane" role="tabpanel"></div>
    </div>
</div>
