<div class="tab-pane-body">
    <form id="systemConfigForm" class="form clearfix panel-collapse-group" autocomplete="off">

        <!-- URL Config-->
        <div class="panel panel-default panel-collapse">
            <div class="panel-heading" role="tab" id="urlConfigHeader">
                <a class="pull-right" href="{{docHelpUrl}}integrators-guide/index.html#ui-path" target="_blank">{{t "templates.connector.help"}} <i class="fa fa-question-circle"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#urlConfigBody" aria-expanded="true" aria-controls="urlConfigHeader">
                        {{t "templates.sysConfig.endUserConfigTitle"}}
                    </a>
                </h4>
            </div>

            <div id="urlConfigBody" class="collapse in" role="tabpanel" aria-labelledby="urlConfigHeader" aria-expanded="true">
                <div class="panel-body">
                    <div class="group-body">
                        <p class="panel-description">
                            {{t "templates.sysConfig.urlDesc"}}
                        </p>

                        <div class="form-horizontal">
                            <div class="form-group has-feedback">
                                <label for="selfServiceURL" class="col-sm-3 control-label">{{t "templates.sysConfig.url"}}</label>
                                <div class="col-sm-6">
                                    <input id="selfServiceURL" type="text" class="form-control" name="selfServiceURL" value="{{selfServiceURL}}" data-validator="requiredURL" data-validator-event="keyup blur"/>
                                    <div class="validation-message"></div>
                                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                                </div>
                            </div>
                        </div>

                        <input type="button" name="saveSelfServiceURL" class="btn btn-primary pull-right" id="saveSelfServiceURL" value="Save"/>

                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
