<!-- Copyright 2015-2016 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div id="updateView" class="form clearfix">
    <div id="versionHistoryGroup" class="panel-collapse-group hidden">
        <div id="versionsView" class="panel panel-default panel-collapse"></div>
        <div id="historyView" class="panel panel-default panel-collapse"></div>
    </div>
    <div id="maintenanceModeView"></div>
    <div id="installationPreviewView" class="group-body"></div>
    <div id="repoUpdatesView" class="group-body"></div>
    <div id="installationReportView" class="group-body"></div>

</div>
