<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div class="panel-collapse-group">
    <div class="panel panel-default panel-collapse">
        <div class="panel-heading correlationBody" role="tab" id="reconQueriesBaseHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#reconQueriesBase" aria-expanded="false" aria-controls="reconQueriesBaseHeading" class="">{{t "templates.correlation.reconQueries"}}</a>
            </h4>
        </div>
        <div id="reconQueriesBase" class="collapse" role="tabpanel" aria-labelledby="reconQueriesBase" aria-expanded="false">
            <div id="reconQueriesView"></div>
        </div>
    </div>

    <div class="panel panel-default panel-collapse">
        <div class="panel-heading correlationBody" role="tab" id="objectFiltersBaseHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#objectFiltersBase" aria-expanded="false" aria-controls="objectFiltersBaseHeading" class="">{{t "templates.correlation.objectFilters"}}</a>
            </h4>
        </div>
        <div id="objectFiltersBase" class="collapse" role="tabpanel" aria-labelledby="objectFiltersBase" aria-expanded="false">
            <div id="objectFiltersView"></div>
        </div>
    </div>

    <div class="panel panel-default panel-collapse">
        <div class="panel-heading correlationBody" role="tab" id="correlationQueryBaseHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#correlationQueryBase" aria-expanded="true" aria-controls="correlationQueryBaseHeading" class="">{{t "templates.correlation.associationRules"}}</a>
            </h4>
        </div>
        <div id="correlationQueryBase" class="collapse in" role="tabpanel" aria-labelledby="correlationQueryBase" aria-expanded="true">
            <div id="correlationQueryView"></div>
        </div>
    </div>

    <div class="panel panel-default panel-collapse">
        <div class="panel-heading correlationBody" role="tab" id="analysisBaseHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#analysisBase" aria-expanded="true" aria-controls="analysisBaseHeading" class="">{{t "templates.correlation.dataAssociationManagment"}}</a>
            </h4>
        </div>
        <div id="analysisBase" class="collapse in" role="tabpanel" aria-labelledby="correlationQueryBase" aria-expanded="true">
            <p class="panel-description inline-description">{{t "templates.correlation.dataAssociationManagmentInfo"}}</p>
            <div id="analysisView"></div>
        </div>
    </div>
</div>

