<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div class="panel-collapse-group">

    <div id="linkQualifierPanel" class="panel panel-default panel-collapse">
        <div class="panel-heading" role="tab" id="linkQualifierHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#linkQualifierBody" {{#if hasLinkQualifiers}} aria-expanded="true" {{else}} aria-expanded="false" {{/if}} aria-controls="linkQualifierHeading">{{t "templates.mapping.linkQualifier"}}</a>
            </h4>
        </div>
        <div id="linkQualifierBody" class="collapse {{#if hasLinkQualifiers}} in {{/if}}" role="tabpanel" aria-labelledby="linkQualifierHeading">
            <div id="mappingLinkQualifiers"></div>
        </div>
    </div>

    <div id="attributesGridPanel" class="panel panel-connector panel-default panel-collapse">
        <div class="panel-heading" role="tab" id="attributesHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#attributesBody" aria-expanded="true" aria-controls="attributesHeading" class="">{{t "templates.mapping.attributesGrid"}}</a>
            </h4>
        </div>
        <div id="attributesBody" class="collapse in" role="tabpanel" aria-labelledby="attributesHeading" aria-expanded="true" style="">
            <div id="attributesGrid"></div>
        </div>
    </div>

    <div id="assignmentsPanel" class="panel panel-default panel-collapse">
        <div class="panel-heading" role="tab" id="assignmentsHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#assignmentsBody" aria-expanded="false" aria-controls="roleEntitlementsHeading">{{t "templates.admin.AssignmentTemplate.assignment"}}</a>
            </h4>
        </div>
        <div id="assignmentsBody" class="collapse" role="tabpanel" aria-labelledby="assignmentsHeading">
            <div id="mappingAssignments"></div>
        </div>
    </div>
</div>