<form id="forgottenPassword" role="form" action="" class="form-horizontal" method="post" onsubmit="return false">
    <p id="resetMessages"></p>

    <input type="hidden" name="_id" />
    <fieldset class="fieldset">
        <div class="form-group col-md-12 has-feedback">
            <label for="resetUsername">{{t "common.user.username"}}</label>
            <input class="form-control" type="text" name="resetUsername" value=""  data-validator="resetPasswordCorrectLogin" id="resetUsername" required autofocus/>
            <div class="validation-message"></div>
            <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
        </div>

        <div style="clear:both;"></div>
        <div class="form-group dialogActions">
            <div class="pull-right">
                <input type="button" name="submitUsername" value="{{t 'common.form.submit'}}" class="btn btn-primary">
            </div>
        </div>
    </fieldset>

    <fieldset id="fgtnAnswerDiv" class="fieldset" style="display: none">
        <div class="col-md-9">
            <label for="fgtnSecurityQuestion" class="pull-right">{{t "common.user.securityQuestion"}}</label>
            <div>
                <div id="fgtnSecurityQuestion"></div>
            </div>
        </div>

        <div class="form-group col-md-9 has-feedback">
            <label for="fgtnSecurityAnswer">{{t "common.user.securityAnswer"}}</label>
            <input class="form-control" type="text" name="fgtnSecurityAnswer" value=""  data-validator="securityAnswer" data-validator-event="validate" id="fgtnSecurityAnswer" required autofocus/>
            <div class="validation-message"></div>
            <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
        </div>

        <div style="clear:both;"></div>
        <div class="form-group dialogActions">
            <div class="pull-right">
                <input type="button" name="submitAnswer" value="{{t 'common.form.submit'}}" class="btn btn-primary">
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset" id="fgtnPasswordDiv" style="display: none">
        <div class="col-md-6">
            <div class="form-group has-feedback">
                <label for="password">{{t "common.user.password"}}</label>
                <input class="form-control" type="password" name="password" value="" data-validation-dependents="passwordConfirm" id="password" required autofocus/>
                <input type="hidden" name="oldPassword"/>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
            <div class="form-group has-feedback">
                <label for="passwordConfirm">{{t "common.user.confirmPassword"}}</label>
                <input class="form-control" type="password" name="passwordConfirm" value="" data-validator="passwordConfirm" data-validator-event="keyup change" id="passwordConfirm" required/>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="col-md-6 validationRules" data-for-validator="password passwordConfirm">
            <div class="field-rule">
                <span class="error"><i class="fa validation-icon"></i></span><span data-for-validator="passwordConfirm">{{t "common.form.validation.confirmationMatchesPassword"}}</span>
            </div>
        </div>
    </fieldset>
</form>