{{#if recon}}
<div class="schedulerBody">
    <h3>{{t "templates.scheduler.scheduler"}} - {{scheduleType}}</h3>
    <ul class="nav nav-tabs">
        <li id="basicTab"><a data-toggle="tab" href="#{{id}}_basic">{{t "templates.scheduler.basicCron"}}</a></li>
        <li id="advancedTab"><a data-toggle="tab" href="#{{id}}_advanced">{{t "templates.scheduler.advanced"}}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="{{id}}_basic">
            <div class="cronField panel-body"></div>
        </div>
        <div class="tab-pane" id="{{id}}_advanced">
            <div class="panel-body">
                <input type="text" class="complexExpression"/>
                <span class="advancedText">{{t "templates.scheduler.complex"}}</span>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if liveSync}}
<div class="schedulerBody" id="{{sourceCleaned}}">

    <h3>{{scheduleType}} {{t "templates.scheduler.scheduler"}} - {{source}}</h3>

    <div class="group-field-block group-lead no-validation-block">
        <div class="schedule">
        <span class='cron-block cron-block-nseconds'>
            {{t "templates.scheduler.fireEvery"}}<select class="liveSyncSchedule"></select>
            <span class='cron-block'>{{t "templates.scheduler.seconds"}}</span>
        </span>
        </div>
    </div>
    {{/if}}

    <div class="group-field-block-inline no-validation-block">
        <label class="light">
            <input type="checkbox" value="true" class="enabled"/>
            {{t "templates.scheduler.enabled"}}
        </label>
    </div>

    <div class="group-field-block-inline no-validation-block">
        <label class="light">
            <input type="checkbox" value="false" class="persisted"/>
            {{t "templates.scheduler.persisted"}}
        </label>
    </div>

    <div style="display:none;" class="group-field-block-inline misfirePolicyBlock no-validation-block">
        <label class="light">{{t "templates.scheduler.misfirePolicy"}}</label>
        <select class="misfirePolicy form-control">
            <option value="fireAndProceed">{{t "templates.scheduler.fireAndProceed"}}</option>
            <option value="doNothing" selected>{{t "templates.scheduler.doNothing"}}</option>
        </select>
    </div>

    <div class="clearfix">
        {{#if add}}
        <input type="button" class="btn btn-primary pull-right addSchedule" value="{{t "templates.scheduler.addSchedule"}}" />
        <input style="display:none;" type="button" class="btn btn-primary pull-right saveSchedule" value="{{t "templates.scheduler.saveSchedule"}}" />

        {{else}}
        <input type="button" class="btn btn-primary pull-right saveSchedule" value="{{t "templates.scheduler.saveSchedule"}}" />
        {{/if}}
        <input type="button" class="btn btn-default pull-right deleteSchedule" value="{{t "templates.scheduler.deleteSchedule"}}" />
    </div>
</div>
