<div class="event-hook-window">
    <div class="event-hook-piece event-type">
        <label>{{t "templates.scriptEditor.type"}}</label>
        <select class="event-select">
            <option value="text/javascript">{{t "templates.scriptEditor.javascript"}}</option>
            <option value="groovy">{{t "templates.scriptEditor.groovy"}}</option>
        </select>
    </div>
    <div class="event-hook-piece file-code">
        <div>
            <input type="radio" name="scriptType" value="file-code" {{#unless scriptData.source}} checked {{/unless}}><span class="event-hook-title">{{t "templates.scriptEditor.filePath"}}</span>
        </div>
        <input id="scriptFilePath" autocomplete="off" type="text" name="fileName" {{#if scriptData.source}} value="" disabled="true" {{else}} value="{{scriptData.file}}" data-validator-event="keyup blur" data-validator="required"{{/if}}/>
        <span></span>
        <div class="validation-message"></div>
    </div>
    <div class="event-hook-piece inline-code">
        <div>
            <input type="radio" name="scriptType" value="inline-code" {{#if scriptData.source}} checked {{/if}}><span class="event-hook-title">{{t "templates.scriptEditor.inline"}}</span>
        </div>
        {{#if scriptData.source}}
            <textarea id="scriptSourceCode" data-validator-event="keyup blur" data-validator="required" name="sourceCode">{{scriptData.source}}</textarea>
        {{else}}
            <textarea id="scriptSourceCode" name="sourceCode" disabled="true"></textarea>
        {{/if}}
        <span></span>
        <div class="validation-message"></div>
    </div>

    <div class="group-field-block group-note-lead">
        <p class="note">{{t "templates.scriptEditor.passedVariables"}}</p>
        <button type="button" field_type="baseContext" id="addPassedVariables" name="addPassedVariables" class="button add-btn"><span>{{t "templates.scriptEditor.addVariable"}}</span><i class="fa fa-lg fa-plus"></i></button>
    </div>
    <div id="passedVariablesHolder">
        <div style="display:none;" id="hiddenPassedVariable" class="passed-variable-block group-field-block variable-block">
            <div class="separate-message outside-element">
                <div class="s-form-holder">
                    <button type="button" class="clean-btn remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                    <input class="form-size-s" autocomplete="off" type="text" placeholder="{{t "templates.scriptEditor.variableName"}}" value="{{this.[0]}}" />
                    <input class="form-size-s" autocomplete="off" type="text" placeholder="{{t "templates.scriptEditor.variableValue"}}" value="{{this.[1]}}" />
                    <span></span>
                </div>
                <div class="validation-message"></div>
            </div>
        </div>
        {{#each passedVariables}}
        <div class="passed-variable-block group-field-block variable-block">
            <div class="separate-message outside-element">
                <div class="s-form-holder">
                    <button type="button" class="clean-btn remove-btn"><i class="fa fa-lg fa-times-circle"></i></button>
                    <input class="form-size-s" data-validator-event="keyup blur" data-validator="bothRequired" autocomplete="off" type="text" placeholder="{{t "templates.scriptEditor.variableName"}}" value="{{this.[0]}}" required/>
                    <input class="form-size-s" data-validator-event="keyup blur" data-validator="bothRequired" autocomplete="off" type="text" placeholder="{{t "templates.scriptEditor.variableValue"}}" value="{{this.[1]}}" required />
                    <span></span>
                </div>
                <div class="validation-message"></div>
            </div>
        </div>
        {{/each}}
    </div>
</div>