<div class="panel-body">
    <div class="scripts-container" style="display:none;">
        <table class="group-field-block table">
            <tr>
                <th>
                    {{t "templates.util.scriptList.event"}}
                </th>
                <th>
                    {{t "templates.util.scriptList.hook"}}
                </th>
                <th></th>
            </tr>
            {{#each eventHooks}}
            <tr data-script-type="{{@key}}" class="event-hook">
            <td>
                {{@key}}
            </td>
            <td>
                {{#if workflow}}
                {{workflow}}
                {{/if}}

                {{#unless workflow}}
                {{#if scriptData.file}} {{scriptData.file}} {{else}} {{t "templates.scriptEditor.inline"}} {{/if}} <span class="lightenColor">({{scriptData.type}})</span>
                {{/unless}}
            </td>
            <td class="text-right event-hook-body">
                <span class="icon-button edit-btn"><i class="fa fa-pencil"></i></span>
                <span class="icon-button remove-btn script-remove"><i class="fa fa-times-circle"></i></span></label>
            </td>
            </tr>
            {{/each}}
        </table>
    </div>
    <label class="control-label">{{label}}</label>
    <div class="row">
        <div class="col-sm-5">
            <select class="form-control btn-block scriptSelection">
                {{#each selectEvents}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class=" col-sm-3">
            <button type="button" class="btn btn-primary addScriptButton"><i class="fa fa-plus"></i> <span>{{t "templates.util.scriptList.addScript"}}</span></button>
        </div>
    </div>
</div>
