<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div>
    <form class="filter-form form-horizontal">
        <div class="filter well">{{filterString}}</div>

        <div class="expressionTree">
            <fieldset>
                <div class="row">

                    <ul>
                        <li  index="" class="node">

                            {{#filterDisplay filter config}}

                            {{#if isExpr}}

                            <div class="form-group type-form-group">
                                <div class="col-md-4 type-group">
                                    <select class="op select-filter form-control">
                                        {{#each options}}
                                        <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                                        {{/each}}
                                    </select>
                                    <button type="button" field_type="baseContext" title="" class="btn btn-default remove-btn"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>

                            <div class="form-group filter-group">
                                <div class="col-md-3 name-body">
                                    {{#if extensible}}
                                    <input type="text" value="{{extensible.matchType}}" class="name form-control">
                                    {{else}}
                                    <input type="text" value="{{name}}" class="name form-control">
                                    {{/if}}
                                </div>
                                <div class="col-md-4 tag-body">
                                    <select class="tag form-control">
                                        {{#each tags}}
                                        <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-md-3 value-body"{{#if unary}} style="display:none"{{/if}}>
                                    <input type="text" value="{{value}}" class="value form-control">
                                </div>
                            </div>
                            {{else}}

                            <div class="col-md-4 op-body">
                                <select class="op form-control">
                                    {{#each options}}
                                    <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            {{#if isMultiValueType}}

                            <button type="button" field_type="baseContext" title="" class="btn btn-default add-btn"><i class="fa fa-plus"></i></button>

                            {{/if}}
                            {{/if}}

                            {{#if children.length}}

                            <ul class="subgroup">

                                {{#each children}}

                                <li index="{{index}}" class="node">

                                    {{{filterDisplay this ../../config}}}

                                    {{#unless lastChild}}
                                    {{../../delimiter}}
                                    {{/unless}}

                                </li>

                                {{/each}}

                            </ul>

                            {{/if}}

                            {{/filterDisplay}}

                        </li>
                    </ul>

                </div>
            </fieldset>
        </div>
        {{#if showSubmitButton}}
        <div class="clearfix">
            <div class="pull-right">
                <input type="submit" value="{{t 'common.form.save'}}" class="btn btn-primary">
            </div>
        </div>
        {{/if}}
    </form>
</div>