<div class="container">
    <div class="page-header resourcesContainer">
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a href="#"><button class="btn btn-primary" id="saveBtn">{{t "common.form.save"}}</button></a>
                {{#unless newObject}}
                    <a href="#"><button class="btn btn-primary" id="resetBtn">{{t "common.form.reset"}}</button></a>
                    <a href="#"><button class="btn btn-primary" id="deleteBtn">{{t "common.form.delete"}}</button></a>
                {{/unless}}
                <a href="#"><button class="btn btn-primary" id="backBtn">{{t "templates.admin.ResourceEdit.backToList"}}</button></a>
            </div>
        </div>
        <h3>
        {{#if newObject}}
            {{t "common.form.add"}}
        {{else}}
            {{t "common.form.edit"}}
        {{/if}}
        </h3>
    </div>
    <div id="resource" class="jsonEditor"></div>
</div>
