<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div id="{{grid_id}}_container" class="container">
    {{#if validObject}}
        <div class="page-header">
            <h1>{{pageTitle}} {{t "common.form.list"}}</h1>
        </div>

        <div class="btn-toolbar" role="toolbar" aria-label="toolbar">
            {{#unless isSystemResource}}
            <div class="btn-group" role="group" aria-label="add resource">
                <a href="{{addLinkHref}}" title="{{t "templates.admin.ResourceEdit.new"}} {{pageTitle}}"><button class="btn btn-primary" type="button"><span class="fa fa-plus"></span> {{t "templates.admin.ResourceEdit.new"}} {{pageTitle}}</button></a>
            </div>
            <div class="btn-group pull-right" role="group" aria-label="delete selected">
                <button type="button"  class="btn btn-default"  id="deleteSelected" disabled><span class="fa fa-trash"></span>{{t 'common.form.deleteSelected'}}</button>
            </div>
            {{/unless}}
            <div class="btn-group pull-right" role="group" aria-label="clear filters">
                <button type="button"  class="btn btn-default"  id="clearFiltersBtn" disabled><span class="fa fa-times"></span>{{t 'common.form.clearFilters'}}</button>
            </div>
            <div class="btn-group pull-right" role="group" aria-label="reload grid">
               <a href="#"><button type="button"  class="btn btn-default"  id="reloadGridBtn"><span class="fa fa-refresh"></span>{{t 'common.form.reloadGrid'}}</button></a>
            </div>
        </div>
    {{else}}
        <div class="page-header">
            <h1>{{t "templates.admin.ResourceList.invalidObject"}}</h1>
        </div>
    {{/if}}

    <div class="resourcesContainer panel panel-default">
        <div class="panel-body">
	        <div id="{{grid_id}}" class="table-responsive"></div>
	        <div id="{{grid_id}}-paginator"></div>
        </div>
    </div>
</div>