<div class="correlationBody">
    <fieldset>
        <legend><span>{{t "templates.correlation.reconQueries"}}</span><i class="fa fa-lg {{#if hideReconQueries}}fa-plus-square-o{{else}}fa-minus-square-o{{/if}}"></i></legend>
        <div class="group-body" id="reconQueriesView" {{#if hideReconQueries}}style="display: none;"{{/if}}></div>
</fieldset>

<fieldset>
    <legend><span>{{t "templates.correlation.objectFilters"}}</span><i class="fa fa-lg {{#if hideObjectFilters}}fa-plus-square-o{{else}}fa-minus-square-o{{/if}}"></i></legend>
    <div class="group-body" id="objectFiltersView" {{#if hideObjectFilters}}style="display: none;"{{/if}}></div>
</fieldset>

<fieldset>
    <legend><span>{{t "templates.correlation.associationRules"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
    <div class="group-body" id="correlationQueryView"></div>
</fieldset>

<fieldset>
    <legend><span>{{t "templates.correlation.dataAssociationManagment"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
    <div class="group-body" id="analysisView"></div>
</fieldset>
</div>
