<div class="queries">
    <div class="addScriptContainer group-field-block no-validation-block">
        <p class="allAdded">{{t "templates.mappingScripts.allAdded"}}</p>
        <label class="light">{{t "templates.mappingScripts.scriptEvents"}}</label>
        <select class="scriptEvents"></select>
        <button type="button" class="addScript button add-btn"><span>{{t "templates.mappingScripts.addScript"}}</span><i class="fa fa-lg fa-plus"></i></button>
    </div>

    <div class="scriptContainer group-field-block no-validation-block"></div>

    <input type="submit" class="saveScripts button" value="{{t "common.form.save"}}"/>
</div>


