<h1>Wanna reset password?</h1>
<div id="fgtnMessages"></div>
<div id="fgtnEmailDiv">
	<p>Please enter your your email in the field below to reset your password.</p>
	<form action='' method='post'>
		<fieldset>
			<div class="groupField">
				<div class="groupFieldInputs floatLeft">
					<div class='field'>
						<label>*Email/login</label> <input name='forgottenEmail' value='' />
						<div class='validationMessage'></div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div id="fgtnAnswerDiv">
	<form action='' method='post'>
		<fieldset>
			<div class="groupField">
				<div class="groupFieldInputs floatLeft">
					<div class='field'>
						<label>Security question</label> <div id='fgtnSecurityQuestion'></div>
					</div>
					<div class='field'>
						<label>*Security answer</label> <input name='fgtnSecurityAnswer' value='' /><div class='validationMessage'></div>
						
					</div>
					<div class='field'>
						<label>Password</label> <input type='password' name='password' value='' />
					</div>
					<div class='field'>
						<label>Confirm Password</label> <input type='password' name='passwordConfirm' value='' />
					</div>
				</div>
			 	<div class="groupFieldErrors floatRight radious" id="frgtnPasswordValidatorHint">
					<span class='error'>x</span> <label id="one-capital">At least one capital letter</label>
					<span class='error'>x</span> <label id="one-number">At least one number</label>
					<span class='error'>x</span> <label id="min-8">At least 8 characters</label>
					<span class='error'>x</span> <label id="not-equal-username">Cannot match login</label>				
					<span class='error'>x</span> <label id="same">Confirmation matches password</label>
				</div>
				<div class="clear"></div>
			</div>
		</fieldset>
	</form>
</div>
<!-- <div id="answerRemember">
	<a href="#" id="passwordResetLink" title="password forgot" class="ice">Forgot your security answer?</a>
</div> -->