<h1>New password</h1>
<p>Please enter your new password in the fields below to change your
	password.</p>
<form action='' method='post'>
	<fieldset>
		<div class="groupField">
			<div class="groupFieldInputs floatLeft">
				<div class='field'>
					<label>Old Password</label> <input type='password' name='passwordOld' value='' />
				</div>
				
				<div class='field'>
					<label>Password</label> <input type='password' name='password' value='' />
				</div>

				<div class='field'>
					<label>Confirm Password</label> <input type='password' name='passwordConfirm' value='' />
				</div>
			</div>
			<div class="groupFieldErrors floatRight radious">
				<span class='error'>x</span> <label id="old-password">Correct old password</label>
				<span class='error'>x</span> <label id="new">Cannot match old password</label>
				<span class='error'>x</span> <label id="one-capital">At least one capital letter</label>
				<span class='error'>x</span> <label id="one-number">At least one number</label>
				<span class='error'>x</span> <label id="min-8">At least 8 characters</label>
				<span class='error'>x</span> <label id="not-equal-username">Cannot match login</label>				
				<span class='error'>x</span> <label id="same">Confirmation matches password</label>
			</div>
			<div class="clear"></div>
	</fieldset>
</form>

