
<div id="profile" class="center">
	<div class="shadowFrame">

		<form class="form">

			<div id="profileInfo" class="floatLeft">
				<h1></h1>
			</div>
			<!-- #profilePhoto -->

			<div id="profileData" class="floatRight">
				<div class="fields">
					<h2>Account info</h2>
					<div class="field">
						<label class="light">Email address</label> <input type="text" name="email"
							class="readOnly" disabled="disabled" /> <span></span>
						<div class="validationMessage"></div>
					</div>
					<div class="field">
						<label class="light">Password</label> <a href="#" id="passwordChangeLink"
							class="ice hrefInput">Change Password</a>
					</div>
					<div class="field">
						<label class="light">Security question</label>
						<select name="securityQuestion" class="readOnly" disabled='disabled'>
						</select>
						<span></span>
                        <div class="validationMessage"></div>
					</div>
					<div class="field">
						<label class="light">Security answer</label> <input type="text" name="securityAnswer"
							class="readOnly" disabled="disabled" /> <span></span>
						<div class="validationMessage"></div>
					</div>
					<h2>Personal info</h2>
								<div class="field">
									<label class="light">First Name</label>
									<input type="text" name="firstName" class="readOnly" disabled='disabled'/>
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">Last Name</label>
									<input type="text" name="lastName" class="readOnly" disabled='disabled'/>
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">Address</label>
									<input type="text" name="address1" class="readOnly" disabled='disabled'/>
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">Address</label>
									<input type="text" name="address2" class="readOnly" disabled='disabled'/>
									<span></span>
                                     <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">Country</label>
									<select name="country" class="readOnly" disabled='disabled'>
									</select>
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">State/Province</label>
									<select name="stateProvince" class="readOnly" disabled='disabled'>
									</select>
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">City</label>
									<input type="text" name="city" class="readOnly" disabled='disabled'/>
									<span></span>
                                     <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">Postal Code</label>
									<input type="text" name="postalCode" class="readOnly" disabled='disabled'/>
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">Phone Number</label>
									<input type="text" name="phoneNumber" class="readOnly" disabled='disabled'/>
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<input type="button" name="editButton" value="Edit Profile" class="button orange floatRight " />
								<div id="actions">
									<input type="button" name="cancelButton" value="Cancel" class="button orange floatRight marginLeft" />
									<input type="button" name="saveButton" value="Save changes" class="button ashy floatRight" disabled="disabled"/>
								</div>
				</div>

			</div>
			<!-- #profileData -->

			<div class="clear"></div>

		</form>

	</div>

</div>
&nbsp;

