	<div id="profile" class="center">
		<div class="shadowFrame">

					<form class="form">

						<div id="profileInfo" class="floatLeft">
								<h1></h1>
								<img src="images/profileDefault.png" alt="profile photo" width="220" height="225" />
						</div><!-- #profilePhoto -->

						<div id="profileData" class="floatRight">
								<div class="fields">
								<h2>Account info</h2>
								<div class="field">
									<label class="light">Email address</label>
									<input type="text" name="email" class="readOnly" />
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">Password</label>
									<input type="password" name="password" class="readOnly" value="" />
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<!--<h2>Personal info</h2>
								<div class="field">
									<label class="light">Phone</label>
									<input type="text" name="phone" class="readOnly" />
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">IM</label>
									<input type="text" name="im" class="readOnly" />
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">Website</label>
									<input type="text" name="website" class="readOnly" />
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<h2>Professional info</h2>
								<div class="field">
									<label class="light">Company name</label>
									<input type="text" name="companyName" class="readOnly" />
									<span></span>
                                     <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">Job title</label>
									<input type="text" name="jobTitle" class="readOnly" />
									<span></span>
                                     <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">Department</label>
									<input type="text" name="department" class="readOnly" />
									<span></span>
                                    <div class="validationMessage"></div>
								</div>
								<div class="field">
									<label class="light">Location</label>
									<input type="text" name="location" class="readOnly" />
									<span></span>
                                    <div class="validationMessage"></div>
								</div>-->
								<input type="button" name="editButton" value="Edit Profile" class="button orange floatRight " />
								<div id="actions">
									<input type="button" name="cancelButton" value="Cancel" class="button gray floatRight marginLeft" />
									<input type="button" name="saveButton" value="Save changes" class="button gray floatRight" />
								</div>
							</div>

						</div><!-- #profileData -->

						<div class="clear"></div>

					</form>

				</div>

			</div>
&nbsp;

