<div id='registration'>
        <h2 class='floatLeft'>Register your account</h2><span class='floatRight'>Already have account? <a href='#' class='orange bold' title='Log in'>Log in</a></span>

        <div class='clear'></div>

        <div class='shadowFrame'>
          <form action='' method='post'>
            <fieldset>
              <p class='alignRight'>*Required</p>

              <div class='fields'>
                <div class='field'>
                  <label>*First name</label>
                  <input type='text' name='firstName' />
                  <span></span>
                  <div class='validationMessage'></div>
                </div>

                <div class='field'>
                  <label>*Last name</label> <input type='text' name='lastName' />
                  <span></span>
                  <div class='validationMessage'></div>
                </div>

                <div class='field'>
                  <label>*Your email</label> <input type='text' name='email' />
                  <span></span>
                  <div class='validationMessage'></div>
                </div>

                <div class='field'>
                  <label>*Confirm email</label> <input type='text' name='emailConfirm' />
                  <span></span>
                  <div class='validationMessage'></div>
                </div>

                <div class='field'>
                  <label>*Password</label> <input type='password' name='password' value='' />
                  <span></span>
                  <div class='validationMessage'></div>
                </div>

                <div class='field'>
                  <label>*Confirm password</label> <input type='password' name='passwordConfirm' value='' />
                  <span></span>
                  <div class='validationMessage'></div>
                </div>

                <div class='field'>
                  <input type='checkbox' class='check' name='terms' value='yes' />
                  <label class='check'>I agree to the <a href='#' class='ice' title='terms'>terms of use</a></label>
                </div>
              </div><input type='submit' name='register' class='button gray' value='Register my account' />
            </fieldset>
          </form>
        </div>

