<div class="column-layout" id="apps">
    <div class="column">
        <div id="userAppsView">
            <div class="title sortableWidth">
            
                <div class="column-layout column-header">
                    <div class="float-left">
                        <h2 class="header">{{t "common.application.applicationsYouHaveAdded" }}</h2>
                    </div>
                    <div class="float-right">
                        <a href="#applications/addmore/" class="active bold inline" style="margin-top: 5px;">Add more apps</a>    
                    </div>
                </div>
                
            </div>
            <div id="userApps"></div>
            <div class="clear"></div>
        </div>
        <div>
            <h2 class="header">{{t "common.application.addMoreApplications" }}</h2>
            <div id="defaultAppsTable"></div>
            <div class="clear"></div>
        </div>    
    </div>
</div>
