    <div id="apps" class="center">
        <div id="userAppsView" class="appsBoxMarginBottom">
            <div class="underline sortableWidth">
                <h2 class="floatLeft head bold">Apps you've added</h2>
                <a href="#applications/addmore/" class="orange bold floatRight" style="margin-top: 5px;">Add more apps</a>
                <div class="clear"></div>
            </div>
            <div id='userApps'></div>
            <div class="clear"></div>
        </div>
        <div class="appsBoxMarginBottom">
            <h2 class="underline sortableWidth">Default apps</h2>
            <div id='defaultAppsTable'></div>
            <div class="clear"></div>
        </div>
    </div>
    