    <div id="apps" class="center">
        <div id="userAppsView" class="appsBoxMarginBottom">
            <div class="underline sortableWidth">
                <h2 class="floatLeft head bold">{{t "common.application.applicationsYouHaveAdded" }}</h2>
                <a href="#applications/addmore/" class="orange bold floatRight" style="margin-top: 5px;">{{t "common.application.addMoreApplications" }}</a>
                <div class="clear"></div>
            </div>
            <div id='userApps'></div>
            <div class="clear"></div>
        </div>
        <div class="appsBoxMarginBottom">
            <h2 class="underline sortableWidth">{{t "common.application.defaultApplications" }}</h2>
            <div id='defaultAppsTable'></div>
            <div class="clear"></div>
        </div>
    </div>
    