<li class="ui-state-default {{privilagesClass}}">
    <div class="ui-state-item gradientLinearGray" >
        <a href="#" class="ui-item-href">
	        {{#closable}}
	        <div class="ui-state-close">x</div>
	        {{/closable}}
	    </a>
        {{#clickable}}
        {{#item.link}}
            <a href="{{item.link}}">
        {{/item.link}}
        {{/clickable}}        
	        <img src="{{item.iconPath}}"/>
	        <span class="link">{{item.description}}</span>        
	    {{#clickable}}
        {{#item.link}}
            </a>
        {{/item.link}}
        {{/clickable}}

        <input type="hidden" name="id" value="{{item._id}}" />
        <input type="hidden" name="state" value="{{itemObject.state}}" />
        <input type="hidden" name="lnkId" value="{{itemObject._id}}" />
    </div>
</li>