    <div id="apps" class="center">
        <div class="appsBoxMarginBottom">
            <h2 class="underline sortableWidth">All available apps</h2>
            <div id='appsTable' />
            <div class="clear"></div>
        </div>
        <div id="userAppsView" class="appsBoxMarginBottom">
            <h2 class="underline sortableWidth">Apps you've added</h2>
            <div id='userApps'>
                <div class="itemize">
                    <div class="appItem gradientLinearGray">+ drop apps here</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="appsBoxMarginBottom">
            <h2 class="underline sortableWidth">Default apps</h2>
            <div id='defaultAppsTable' />
            <div class="clear"></div>
        </div>
    </div>
    