<div id="apps">

    <div class="column-layout">
        <div class="column">
            <h2 class="header">{{t "common.application.allAvailableApps" }}</h2>
            <div id="appsTable"></div>
        </div>
    </div>
    
    <div class="column-layout">    
        <div class="column" id="userAppsView">
            <h2 class="header">{{t "common.application.applicationsYouHaveAdded" }}</h2>
            <div id="userApps">
                <div class="itemize">
                    <div class="appItem gradientLinearGray">+ {{t "common.application.dropApplicationsHere" }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="column-layout">
        <div class="column">
            <h2 class="header">{{t "common.application.defaultApplications" }}</h2>
            <div id="defaultAppsTable"></div>
        </div>
    </div>

</div>