<!-- Copyright 2015-2016 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
{{#unless simpleWidget}}
{{> dashboard/_widgetHeader}}
<div class="panel-body widget-body">
    <div style="display:none;" class="dashboard-loading-message">{{t "dashboard.loading"}}</div>
    <div style="display:none;" class="dashboard-details">
        <div class="widget-header">

        </div>
        <div class="widget-chart">

        </div>

        {{#if widgetTextDetails}}
        <div class="widget-title">
            {{widgetTextDetails}}
        </div>
        {{/if}}
    </div>
</div>
{{else}}
    <div style="display:none;" class="dashboard-loading-message">{{t "dashboard.loading"}}</div>
    <div style="display:none;" class="dashboard-details">
        <div class="widget-header">

        </div>
        <div class="widget-chart">

        </div>

        {{#if widgetTextDetails}}
            <div class="widget-title">
                {{widgetTextDetails}}
            </div>
        {{/if}}
    </div>
{{/unless}}