<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div class='pull-left version-icon'>
    <div class='circle-icon-xs bg-primary'>
        <i class='fa fa-download'></i>
    </div>
</div>
<div class='version-info'>
    <p>{{this.archive}}</p>
    <small class='text-muted'>
        {{t "templates.update.versions.revision"}}: {{this.version}}
    </small>
    </br>
    <small class='text-muted'>
        {{t "templates.update.versions.date"}}: {{this.date}}
    </small>
</div>
