<!-- Copyright 2016 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div class='pull-left version-icon'>
    <div class='circle-icon-xs bg-primary'>
        <i class='fa fa-history'></i>
    </div>
</div>
<div class='version-info'>
    <p>{{this.archive}}</p>
    <small class='text-muted center-block'>
        {{t "templates.update.history.updatedBy"}}: {{this.user}}
    </small>
    <small class='text-muted center-block'>
        {{t "templates.update.versions.date"}}: {{this.date}}
    </small>
</div>
