<div role="tabpanel" class="tab-pane" id="password">
    <div class="tab-pane-body">
        <div class="panel-collapse-group">
            <div class="panel panel-default panel-collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-password">{{t "common.user.password"}}</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password" id="input-password" name="password" value="" data-validation-dependents="passwordConfirm" data-validator-event="keyup" placeholder="************" />
                                <div class="validation-message"></div>
                                <span class="form-control-feedback"><i class='fa validation-icon'></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="input-confirmPassword">{{t 'common.user.confirmPassword'}}</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password" id="input-confirmPassword" value="" data-validator="passwordConfirm" data-validator-event="keyup" placeholder="************" />
                                <div class="validation-message"></div>
                                <span class="form-control-feedback"><i class='fa validation-icon'></i></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
