<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
{{#if newRelationship}}
<button id="{{buttonId}}" class="btn btn-default">
    <i class="fa fa-plus"></i>
    {{displayText}}
</button>
{{else}}
<div class="media">
    <div class="media-left">
        <div class="circle-icon circle-icon-xs">
            <i class="fa {{iconClass}}"></i>
        </div>
    </div>
    <div class="media-body media-middle">
        <a id="resourceEditLink-{{propName}}" href="#{{resourceEditPath}}">{{displayText}}</a> 
        <a id="relationshipLink-{{propName}}"  href="#" class="btn btn-default btn-xs updateRelationshipButton"><i class="fa fa-pencil"></i>{{editButtonText}}</a>
    </div>
</div>
{{/if}}