<div class="field">
    <label class="light">Task Name</label> 
    <input type="text" name="taskName" /> 
</div>
<div class="field">
    <label class="light">Application Name</label> 
    <input type="text" name="requestedApplicationName" /> 
</div>
<div class="field">
    <label class="light">Assignee</label> 
    <input type="text" name="assignee" /> 
</div>
<div class="field">
    <label class="light">User</label> 
    <input type="text" name="userData" /> 
</div>
<div class="field">
    <label class="light">Created at</label> 
    <input type="text" name="createTime" /> 
</div>
<div class="field">
    <label class="light">Decision</label> 
    <select name="decision">
        <option value="accept">Accept</option>
        <option value="reject">Reject</option>
    </select>
</div>
<div id="actions">
    <input type="button" name="claimButton" value="Claim" class="button gray floatLeft"/>  
    <input type="submit" name="saveButton" value="Update" class="button orange floatLeft"/>
</div>