<h3>
    <a href="#">{{taskName}}</a>
    <div style="float: right;">
        {{#count}}{{.}} requests{{/count}}
    </div>
</h3>
<div>
    <table>
        <thead>
	        <tr>
	            {{#headers}}
	                <th>{{.}}</th>
	            {{/headers}}
	        </tr>
        </thead>
        <tbody>
	        {{#tasks}}
	        <tr>
	            {{#.}}
	                <td>{{{.}}}</td>
	            {{/.}}
	        </tr>
	        
	        {{/tasks}}
        </tbody>
    </table>   
    {{#batchOperation}}
        <a href="#" class="buttonOrange cancelLink">{{t "common.form.cancel"}}</a> 
        <a href="#" class="buttonGrey saveLink">{{t "common.form.save"}}</a> 
    {{/batchOperation}}
</div>