<div style="height:100px">

	<div class="floatLeft" style="width: 110px;">
	    <img src="images/default_profile_image.gif" alt="default" />
	</div>
	
	<div class="floatRight">
	
	    <div class="line">
	        <label name="userName" class="head">{{userDisplayName}}</label>
	    </div>
	    
	    <div class="line">
	        <label name="position">{{userName}}</label>
	    </div>
	    
	    <div class="line">
	        <label name="requestedBy">{{t "templates.admin.ShowUserProfile.requestInitiator"}}: {{requesterDisplayName}}</label>
	    </div>
	    
	</div>
	
</div>