<div class="shadowFrame" style="width: 310px; float: left; height: 200px; background-color: #5A646D;">
    
     <div id="tasksMenu">
	    <h3><a href="#">Apps Acceptance - Admin Approval (2)</a></h3>
	    <div>
			<table>
			    <tr>
			        <th>App</th>
			        <th>Requesther</th>
			        <th>Date</td>
			    </tr>
			    <tr>
			              <td>Salesforce</td>
			              <td>mbilski</td>
			              <td>12/12/12</td>
			          </tr>
			    <tr>
			              <td>Gmail</td>
			              <td>yaromin</td>
			              <td>11/11/11</td>
			          </tr>
			</table>    
	    </div>
	    <h3><a href="#">Apps Acceptance - Manager Approval</a></h3>
        <div>
			<table>
				<tr>
				    <th>Group</th>
				    <th>Requester</th>
				    <th>Date</th>
				</tr>
				<tr>
				    <td>management</td>
				    <td>mbilski</td>
				    <td>12/12/12</td>
				</tr>
				<tr>
				    <td>admins</td>
				    <td>yaromin</td>
				    <td>11/11/11</td>
				</tr>
			</table>   
        </div>
	    <h3><a href="#">Groups Acceptance - Admin Approval</a></h3>
	    <div>
	       <table>
                <tr>
                    <th>Group</th>
                    <th>Requester</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>management</td>
                    <td>mbilski</td>
                    <td>12/12/12</td>
                </tr>
                <tr>
                    <td>admins</td>
                    <td>yaromin</td>
                    <td>11/11/11</td>
                </tr>
            </table> 
	    </div>
	    <h3><a href="#">Groups Acceptance - Manager Approval (2)</a></h3>
        <div>
            <ul>
                <li>mbilski requested management membership</li>
                <li>yaromin requested admin membership</li>
            </ul>
        </div>
    </div>    
</div>

<div class="shadowFrame" style="float: right; width: 630px;">
    <h2 class="head floatLeft">Tasks Details</h2>
    <form>
	    <div class="field">
		    <label class="light">Name</label> 
		    <input type="text" name="taskName" value="Application acceptance"/> 
		</div>
		<div class="field">
		    <label class="light">Created at</label> 
		    <input type="text" name="createTime" value="12/12/12"/> 
		</div>
		<div class="field">
            <label class="light">User</label> 
            <input type="text" name="createTime" value="mbilski" /> 
        </div>
        <div class="field">
            <label class="light">Application</label> 
            <input type="text" name="createTime" value="Salesforce"/> 
        </div>
		<div class="field">
		    <label class="light">Decision</label> 
		    <select name="decision">
		        <option value="accept">Accept</option>
		        <option value="reject">Reject</option>
		    </select>
		</div>
		<div id="actions">
		    <input type="button" name="backButton" value="Back" class="button gray floatLeft"/>  
		    <input type="submit" name="saveButton" value="Update" class="button orange floatLeft"/>
		</div>  
	</form>
</div>

<div class="clear">
</div>
