<div id='registration' style="width : 1000px;">
    <div id="dashboard" class="center">
        <div class="floatLeft" style="width : 480px;">
            <h2 class="underline" style="margin-right: 15px">Candidate Tasks</h2>
            <div id='candidateTasks' class="tasksTable"></div>
        </div>
        <div class="floatRight" style="width : 480px; margin-right: 15px;">
            <h2 class="underline">My Tasks</h2>
            <div id='myTasks' class="tasksTable"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class='clear'></div>