<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<p> {{t "templates.user.ConfirmPasswordDialogTemplate.explanation2"}} </p>
<form id="confirmPasswordForm" class="form-horizontal" autocomplete="off">
    <fieldset>
        <div class="form-group">
            <label for="currentPassword" class="col-sm-4 control-label">{{t "common.user.currentPassword"}}</label>
            <div class="col-sm-6">
                <input class="form-control" type="password" name="currentPassword" id="currentPassword" data-validator="required" data-validator-event="change keyup" autofocus required/>
                <span class="form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>
    </fieldset>
</form>
