<form id="passwordChange" role="form" action="" class="form-horizontal" method="post" onsubmit="return false">
    <fieldset style="width:100%" class="fieldset">
        <p>{{t "templates.MandatoryChangePassword.mandatoryNewPassword"}}</p>

        <div class="col-md-5">
            <div class="form-group no-right-padding">
                <label for="password">{{t "common.user.password"}}</label>
                <input class="form-control" type="password" name="password" value="" data-validation-dependents="passwordConfirm" id="password" required autofocus/>
                <input type="hidden" name="oldPassword"/>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
            <div class="form-group no-right-padding">
                <label for="passwordConfirm">{{t "common.user.confirmPassword"}}</label>
                <input class="form-control" type="password" name="passwordConfirm" value="" data-validator="passwordConfirm" data-validator-event="keyup change" id="passwordConfirm" required/>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="col-md-6 validationRules well" data-for-validator="password"></div>
    </fieldset>
</form>