<h1 id='changeUserPasswordHeadingLabel'>{{t "templates.MandatoryChangePassword.title"}}</h1>
<p>{{t "templates.MandatoryChangePassword.mandatoryNewPassword"}}</p>

<form id="passwordChange" action="" class="form clearfix" method="post" autocomplete="off">
    <fieldset class="fieldset">
        <p>{{t "templates.MandatoryChangePassword.enterNewPasswordToChange"}}</p>
        <div class="float-left">

            <div class="group-field-block">
                <label for="password" class="align-right">{{t "common.user.password"}}</label>
                <input type="hidden" name="oldPassword" />
                <div class="group-input-span">
                    <input type="password" name="password" value="" data-validation-dependents="passwordConfirm" data-validation-force-server="true" id="password" required autofocus/>
                    <span class="error">x</span>
                </div>
            </div>


            <div class="group-field-block">
                <label for="passwordConfirm" class="align-right">{{t "common.user.confirmPassword"}}</label>
                <div class="group-input-span">
                    <input type="password" name="passwordConfirm" value="" data-validator="passwordConfirm" data-validator-event="keyup change" id="passwordConfirm" required />
                    <span class="error">x</span>
                </div>
            </div>

        </div>

        <div class="group-field-errors validationRules float-left" data-for-validator="password passwordConfirm">
            <div class="field-rule">
                <span class="error">x</span><span data-for-validator="passwordConfirm">{{t "common.form.validation.confirmationMatchesPassword"}}</span>
            </div>
        </div>
    </fieldset>
    <input type="submit" name="submitButton" class="button float-right" value="{{t "common.form.update"}}" />
</form>
