<div class="content-bg">

    <h1>{{t "common.user.createNewAccount"}}</h1>

    <form action="" method="post" class="form clearfix">
  
         <div class="col2">

            <div class="group-field-block ">
                <label for="userName" class="light align-right">{{t "common.user.username"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="text" id="userName" name="userName" value="" data-validation-dependents="password" required autofocus/>
                        <span class="error">x</span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>


            <div class="group-field-block">
                <label for="mail" class="light align-right">{{t "common.user.emailAddress"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="email" id="mail" name="mail" value=""  required />
                        <span class="error">x</span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>

   
            <div class="group-field-block">
                <label for="givenName" class="light align-right">{{t "common.user.givenName"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="text" id="givenName" name="givenName" value="" data-validation-dependents="password" required />
                        <span class="error">x</span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>


            <div class="group-field-block">
                <label for="sn" class="light align-right">{{t "common.user.familyName"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="text" id="sn" name="sn" value="" data-validation-dependents="password" required />
                        <span class="error">x</span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>

      
            <div class="group-field-block">
                <label for="telephoneNumber" class="light align-right">{{t "common.user.phoneNumber"}}</label>
                <div class="float-left separate-message">
                    <div class="group-input-span">
                        <input type="tel" id="telephoneNumber" name="telephoneNumber" value=""  required />
                        <span class="error">x</span>
                    </div>
                    <div class="validation-message"></div>
                </div>
            </div>

            <div class="group-field-block" >
                <label class="light align-right">{{t "common.user.role"}}</label> 
                {{checkbox roles "roles"}}
            </div>

        </div>

        <div class="col2">

            <div class="group-field-block ">
                <label for="password" class="light align-right">{{t "common.user.password"}}</label>
                <div class="group-input-span">
                    <input type="password" name="password" value="" data-validation-dependents="passwordConfirm" required/>
                    <span class="error">x</span>
                </div>
            </div>


            <div class="group-field-block">
                <label for="passwordConfirm" class="light align-right">{{t "common.user.confirmPassword"}}</label>
                <div class="group-input-span">
                    <input type="password" name="passwordConfirm" value="" data-validator="passwordConfirm" data-validator-event="keyup change" required />
                    <span class="error">x</span>
                </div>
            </div>

    
            <div class="group-field-errors validationRules col2b" data-for-validator="password passwordConfirm">
                <div class="field-rule">
                    <span class="error">x</span><span data-for-validator="passwordConfirm">{{t "common.form.validation.confirmationMatchesPassword"}}</span>
                </div>
            </div>  

        </div>

        <div class="float-right group-actions-block"> 
            <input type="submit" name="createButton"  value="{{t 'common.form.create'}}" class="button"  disabled />   
            <input type="button" name="backButton" value="{{t "common.form.back"}}" class="button"/>
        </div>
 
    </form>

</div>