<div id="users" class="content-bg">
    <div class="clearfix">
        <h1 class="float-left">{{t "common.user.usersList"}}</h1>
        <div class="float-right">
        	<a href="#users/add/" class="button" >{{t "common.form.addUser"}}</a>
        	<input type="button"  class="button"  id="reloadGridBtn" value="{{t 'common.form.reloadGrid'}}" />
        	<input type="button"  class="button"  id="clearFiltersBtn" value="{{t 'common.form.clearFilters'}}" disabled />
        </div>
    </div>
        
    
    <table id="usersTable"></table>
       
</div>