<h1>Reset password</h1>
<div id="fgtnMessages"></div>
<div id="fgtnEmailDiv">
	<p>Please enter your email in the field below to reset your password.</p>
	<form action='' method='post' onsubmit="return false">
		<fieldset>
			<div class='field'>
				<label>Email/login</label> <input name='forgottenEmail' value='' />
				<span class='error'>x</span>
				<div class='validationMessage'></div>
			</div>
		</fieldset>
	</form>
</div>
<div id="fgtnAnswerDiv">
	<form action='' method='post'>
		<fieldset>
			<div class="groupField">
				<div class="fields">
					<div class='field'>
						<label>Security question</label><div id='fgtnSecurityQuestion' class="textLabelValign"></div>
					</div>
					<div class='field'>
						<label>Security answer</label> <input name='fgtnSecurityAnswer' value='' /><span
							class='error'>x</span><div class='validationMessage'></div>
					</div>
				</div>
					
				<div class="groupFieldInputs floatLeft">
					<div class='field'>
						<label>New password</label> <input type='password' name='password' value='' />
						<span class='error'>x</span>
								<div class='validationMessage'></div>
					</div>
					<div class='field'>
						<label>Confirm new Password</label> <input type='password' name='passwordConfirm' value='' />
						<span class='error'>x</span>
								<div class='validationMessage'></div>
					</div>
				</div>
				<div class="groupFieldErrors floatRight marginTop100 radious">
					<!-- <span class='error'>x</span> <label id="new">Cannot match old password</label> -->
					<!-- <span class='error'>x</span> <label id="correct-answer">Correct security answer</label> -->
					<div class="groupFieldErrorsRule">
						<span class='error'>x</span> <label id="one-capital">At least one capital letter</label>
					</div>
					<div class="groupFieldErrorsRule">
						<span class='error'>x</span> <label id="one-number">At least one number</label>
					</div>
					<div class="groupFieldErrorsRule">
						<span class='error'>x</span> <label id="min-8">At least 8 characters</label>
					</div>
					<div class="groupFieldErrorsRule">
						<span class='error'>x</span> <label id="not-equal-username">Cannot match login</label>
					</div>
					<!-- <div class="groupFieldErrorsRule">
						<span class='error'>x</span> <label id="old-pass">Cannot match previous password</label>				
					</div> -->
					<div class="groupFieldErrorsRule">
						<span class='error'>x</span> <label id="same">Confirmation matches password</label>
					</div>
				</div>
				<div class="clear"></div>
				
			</div>
		</fieldset>
	</form>
</div>
<!-- <div id="answerRemember">
	<a href="#" id="passwordResetLink" title="password forgot" class="ice">Forgot your security answer?</a>
</div> -->