
<div id="profile" class="center">
	<div class="shadowFrame">

		<form class="form">

			<h1 id="userProfileHeadingLabel">User profile</h1>

			<div id="profileData">
				
						{{#admin}}
						<div class="floatLeft">
							<div class="field">
								<label class="light">Email address</label> 
								<input type="text" name="email"/> 
								<span></span>
								<div class="validationMessage"></div>
							</div>
						</div>
						<div class="floatRight">
							<div class="field">
								<label class="light"></label> 
								<a href="#" id="passwordChangeLink" class="ice hrefInput">Change password</a>
							</div>
						</div>
						{{/admin}}
						<div class="floatLeft">
							<div class="field">
								<label class="light">First Name</label>
								<input type="text" name="firstName" />
								<span></span>
	                  			<div class="validationMessage"></div>
							</div>
							{{#admin}}
							<div class="field">
								<label class="light">Account status</label> 
								<select name="accountStatus" >
									<option value="active">Active</option>
									<option value="inactive">Inactive</option>
								</select>								
								<div class="validationMessage"></div>
							</div>
							{{/admin}}
							{{#user}}
							<div class="field">
								<label class="light">Email address</label> 
								<input type="text" name="email"/> 
								<span></span>
								<div class="validationMessage"></div>
							</div>
							{{/user}}
						</div>
						
						<div class="floatRight">
							<div class="field">
								<label class="light">Last Name</label>
								<input type="text" name="lastName" />
								<span></span>
	                            <div class="validationMessage"></div>
							</div>
							<div class="field">
								<label class="light">Mobile Phone</label>
								<input type="text" name="phoneNumber" />
								<span></span>
	                            <div class="validationMessage"></div>
							</div>
						</div>
						
						<div class="clear"></div>
						
<!-- 						<h2>Adress Information</h2> -->
					
						<div class="floatLeft">
							<div class="field">
								<label class="light">Address 1</label>
								<input type="text" name="address1" />
								<span></span>
	                            <div class="validationMessage"></div>
							</div>
							<div class="field">
								<label class="light">Country</label>
								<select name="country" ></select>
								<span></span>
	                            <div class="validationMessage"></div>
							</div>
							<div class="field">
								<label class="light">State/Province</label>
								<select name="stateProvince" ></select>
								<span></span>
	                            <div class="validationMessage"></div>
							</div>
						
						</div>
						
						<div class="floatRight">
							<div class="field">
								<label class="light">Address 2</label>
								<input type="text" name="address2" />
								<span></span>
	                            <div class="validationMessage"></div>
							</div>
							
							<div class="field">
								<label class="light">City</label>
								<input type="text" name="city" />
								<span></span>
	                        	<div class="validationMessage"></div>
							</div>
							
							<div class="field">
								<label class="light">Postal Code</label>
								<input type="text" name="postalCode" />
								<span></span>
	                        	<div class="validationMessage"></div>
							</div>
													
						</div>						
						<div class="clear"></div>

						{{#user}}
						<div class="floatLeft">
							<div class="field">
								<label class="light"></label> 
								<a href="#" id="securityDialogLink" class="ice hrefInput">Change Security Data</a>
							</div>
						</div>
						<div class="floatRight">
							<div class="field">
								<label class="light"></label> 
								<a href="#" id="passphraseLink" class="ice hrefInput">Change Site Identification</a>
							</div>
						</div>
						{{/user}}
		
						
						{{#admin}}
						<div class="floatLeft">
							<div class="field">
								<label class="light">Date last password set</label> 
								<input type="text" name="lastPasswordSet" class="readOnly" disabled="disabled" value="01/10/11"/> 
								<span></span>
								<div class="validationMessage"></div>
							</div>			
						</div>						
						{{/admin}}
						<div class="clear"></div>
					
						<div id="actions">
							<input type="button" name="saveButton" value="Update" class="button ashy floatRight"/>
							{{#admin}}
							<input type="button" name="deleteButton" value="Delete" class="button orange floatRight"/>
							<input type="button" name="backButton" value="Back" class="button gray floatRight"/>							
							{{/admin}}							
						</div>

			</div>
			<!-- #profileData -->

			<div class="clear"></div>

		</form>

	</div>

</div>
&nbsp;

