<h1>New security answer</h1>
<p>Please enter your password and then new security question and answer in the fields below.</p>
<form action='' method='post' onsubmit="return false">
	<fieldset>
		<div class='field'>
			<label>Password</label> 
			<input type='password' name='fgtnPassword' value='' />
			<span class='error'>x</span>
			<div class='validationMessage'></div>
		</div>
		<div class="field">
			<label>New security question</label>
			<select name="fgtnSecurityQuestion"></select>
			<span class='error'>x</span>
       		<div class="validationMessage"></div>
		</div>
		<div class='field'>
			<label>New security answer</label> 
			<input name='fgtnSecurityAnswer' value='' />
			<span class='error'>x</span><div class='validationMessage'></div>
		</div>
		<div class="clear"></div>
	</fieldset>
</form>

