<h1>Site Image</h1>
<form action='#' method='post'>
	<fieldset>
		<div id="passphrasePictures"
			style="text-align: right; margin-right: 0pt; width: 495px; float: left;">
			<label>Site Image</label> <img
				src="images/passphrase/mail.png" class="pictureSelected" /> <input
				type="hidden" value="mail.png" /> <img
				src="images/passphrase/user.png" class="pictureNotSelected" /> <input
				type="hidden" value="user.png" /> <img
				src="images/passphrase/report.png" class="pictureNotSelected" /> <input
				type="hidden" value="report.png" /> <img
				src="images/passphrase/twitter.png" class="pictureNotSelected" /> <input
				type="hidden" value="twitter.png" />
		</div>

		<p style="width: 210px; float: right;">The Site Image and Phrase selected will be shown to you upon login to confirm
			that you are logging in to the genuine site</p>

		<div class="field">
			<label>Site Phrase</label> 
			<input type="text" name="passphrase" /> 
			<span class='error'>x</span>
			<div class="validationMessage"></div>
		</div>
	</fieldset>
</form>


