<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div class="editRoleViewContainer">
	<div class="back-bar">
	    <div class="container">
            <a href="#resource/managed/role/list/" class="backToList">{{t "templates.admin.RoleUsersTemplate.backToRoles"}}</a>
        </div>
	</div>
    <div class="container">
        <div class="page-header profile-header">
           <div class="media ">
              <div class="media-left media-top">
                 <span class="user-avatar"><i class="fa fa-key"></i></span>
              </div>
              <div class="media-body  media-top">
                 <h4 class="page-type">{{t "templates.admin.RoleUsersTemplate.role"}}
                    {{#if role.created}}<span class="meta">{{role.created}} by <span class="roleCreatedBy">{{role.createdBy}}</span></span>{{/if}}
                 </h4>
                 <h1 class="media-heading">{{#if newRole}}{{t "templates.admin.RoleUsersTemplate.newRole"}}{{else}}{{role.name}}{{/if}}</h1>
              </div>
           </div>
        </div>
    </div>
    <div class="container">
        <div class=" tab-menu">
           <ul class="nav nav-tabs" role="tablist">
              <li class="dropdown pull-right tabdrop hide">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-align-justify"></i> <i class="fa fa-ellipsis-v"></i></a>
                 <ul class="dropdown-menu"></ul>
              </li>
              <li class="active"><a href="#role-settings" role="tab" data-toggle="tab" aria-expanded="true">{{t "templates.admin.RoleUsersTemplate.details"}}</a></li>
              {{#unless newRole}}
              <li class=""><a href="#role-entitlements" role="tab" data-toggle="tab" aria-expanded="false">{{t "templates.admin.RoleEntitlementsTemplate.entitlements"}}</a></li>
              <li class=""><a href="#role-users" role="tab" data-toggle="tab" aria-expanded="false">{{t "templates.admin.RoleUsersTemplate.users"}}</a></li>
              {{/unless}}
           </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
           <div role="tabpanel" class="tab-pane active" id="role-settings">
             <div class="panel-collapse-group">
                <div class="panel panel-default panel-collapse">
                   <div class="panel-body">
                      <form class="form-horizontal" id="addEditRoleForm">
                         <div class="form-group has-feedback">
                            <label for="inputConnectorName" class="col-sm-3 control-label">{{t "templates.admin.RoleUsersTemplate.roleName"}}</label>
                            <div class="col-sm-8">
                               <input type="hidden" name="role._id" value="{{role._id}}">
                               <input type="text" class="form-control" name="role.name" value="{{role.name}}">
                            </div>
                         </div>
                         <div class="form-group">
                            <label for="selectEnabled" class="col-sm-3 control-label">{{t "templates.admin.RoleUsersTemplate.description"}}</label>
                            <div class="col-sm-8">
                               <textarea class="form-control" name="role.description" rows="3">{{role.description}}</textarea>
                            </div>
                         </div>
                      </form>
                   </div>
                </div>
             </div>
             <div class="panel-footer">
                <div class="pull-right">
                   <a href="#resource/managed/role/list/" class="btn btn-default backToList" id="cancelButton">{{t "common.form.cancel"}}</a>
                   {{#if newRole}}
                   <a href="#" id="createRoleButton" class="btn btn-primary saveRole">{{t "common.form.create"}}</a>
                   {{else}}
                   <a href="#" id="deleteRole" class="btn btn-default">{{t "common.form.delete"}}</a>
                   <a href="#" class="btn btn-primary saveRole" id="updateButton">{{t "common.form.update"}}</a>
                   {{/if}}
                </div>
             </div>
           </div>
           <div role="tabpanel" class="tab-pane" id="role-entitlements">

           </div>
           <div role="tabpanel" class="tab-pane" id="role-users">

           </div>
        </div>
    </div>
</div>
