<div role="tabpanel">
    {{#unless assignmentName}}
    <div class="form-group">
        <label class="control-label">{{t "templates.admin.RoleEntitlementsTemplate.nameOfEntitlement"}}: </label>
        <input type="text" class="form-control assignment-name" autocomplete="off">
    </div>
    {{/unless}}
   <!-- Nav tabs -->
   <ul class="nav nav-tabs">
      <li class="active"><a href="#role-edit-attributes" data-toggle="tab">{{t "templates.admin.RoleEntitlementsTemplate.attributes"}}</a></li>
      <li><a href="#role-edit-events" data-toggle="tab">{{t "templates.admin.RoleEntitlementsTemplate.events"}}</a></li>
      {{#if assignmentName}}
      <li><a href="#role-edit-mappings" data-toggle="tab">{{t "templates.admin.RoleEntitlementsTemplate.mappings"}}</a></li>
      <li><a href="#role-edit-condition" data-toggle="tab">{{t "templates.admin.RoleEntitlementsTemplate.condition"}}</a></li>
      {{/if}}
   </ul>
   <!-- Tab panes -->
   <div class="tab-content">
      <div class="tab-pane active" id="role-edit-attributes">
         <p class="panel-description">{{t "templates.admin.RoleEntitlementsTemplate.attributesDescription"}}</p>
         <form>
            <fieldset>
               <div class="row">
                  <div class="col-sm-12 list-table">
                     <div class="list-group list-table-form">
                        <div class="list-group-header">
                           <div class="row">
                              <div class="col-xs-10">
                                 <div class="row">
                                    <div class="col-sm-3">
                                       {{t "common.user.name"}}
                                    </div>
                                    <div class="col-sm-8">
                                       {{t "templates.admin.RoleEntitlementsTemplate.value"}}
                                    </div>
                                    <div class="col-sm-1">
                                       {{t "templates.admin.RoleEntitlementsTemplate.operations"}}
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <ul class="list-group assignment-attributes" id="assignment-attributes">
                           {{#each assignment.attributes}}
                           <li class="list-group-item">
                              <div class="row">
                                 <div class="col-xs-10">
                                    <div class="row">
                                       <div class="col-sm-3">
                                          <div class="attribute-name">
                                             <div class="form-group ">
                                                <input type="text" class="form-control input-typeahead-attribute" autocomplete="off" value="{{name}}">
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-sm-8">
                                          <div class="attribute-value compactJSON" attrName="{{name}}"></div>
                                       </div>
                                       <div class="col-sm-1">
                                          <div class="attribute-operations">
                                              <div class="btn-group">
                                                 <button type="button" class="btn btn-default btn-toggle-attribute-operations" data-toggle="popover">
                                                 <i class="fa fa-cog"></i> <span class="caret"></span>
                                                 </button>
                                                 <div class="operations-popover" style="display:none;">
                                                    <div class='form-group operations-popover-group'>
                                                       <label class='control-label'>{{t "templates.admin.RoleEntitlementsTemplate.assignmentOperation"}}</label>
                                                       <select class='form-control' name="onAssignment">
                                                          <option value="mergeWithTarget">{{t "templates.admin.RoleEntitlementsTemplate.mergeWithTarget"}}</option>
                                                          <option value="removeFromTarget">{{t "templates.admin.RoleEntitlementsTemplate.removeFromTarget"}}</option>
                                                          <option value="replaceTarget">{{t "templates.admin.RoleEntitlementsTemplate.replaceTarget"}}</option>
                                                          <option value="noOp">{{t "templates.admin.RoleEntitlementsTemplate.noOp"}}</option>
                                                       </select>
                                                    </div>
                                                    <div class='form-group operations-popover-group'>
                                                       <label class='control-label'>{{t "templates.admin.RoleEntitlementsTemplate.unassignmentOperation"}}</label>
                                                       <select class='form-control' name="onUnassignment">
                                                          <option value="mergeWithTarget">{{t "templates.admin.RoleEntitlementsTemplate.mergeWithTarget"}}</option>
                                                          <option value="removeFromTarget">{{t "templates.admin.RoleEntitlementsTemplate.removeFromTarget"}}</option>
                                                          <option value="replaceTarget">{{t "templates.admin.RoleEntitlementsTemplate.replaceTarget"}}</option>
                                                          <option value="noOp">{{t "templates.admin.RoleEntitlementsTemplate.noOp"}}</option>
                                                       </select>
                                                    </div>
                                                    <button class='btn btn-primary btn-hide-attribute-operations pull-right'>{{t "common.form.ok"}}</button>
                                                 </div>
                                              </div>
                                              <input type="hidden" class="hiddenOnAssignment" value="{{assignmentOperation}}"/>
                                              <input type="hidden" class="hiddenOnUnassignment" value="{{unassignmentOperation}}"/>
                                           </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-xs-2">
                                    <div class="btn-group pull-right">
                                       <button class="btn btn-link btn-delete-attribute"><i class="fa fa-times"></i></button>
                                    </div>
                                 </div>
                              </div>
                           </li>
                           {{/each}}
                        </ul>
                        <div id="attributeTemplate" style="display:none;">
                            <li class="list-group-item">
                               <div class="row">
                                  <div class="col-xs-10">
                                     <div class="row">
                                        <div class="col-sm-3">
                                           <div class="attribute-name">
                                              <div class="form-group ">
                                                 <input type="text" class="form-control input-typeahead-attribute" autocomplete="off" value="">
                                              </div>
                                           </div>
                                        </div>
                                        <div class="col-sm-8">
                                           <div class="attribute-value compactJSON"></div>
                                        </div>
                                        <div class="col-sm-1">
                                          <div class="attribute-operations">
                                              <div class="btn-group">
                                                 <button type="button" class="btn btn-default btn-toggle-attribute-operations" data-toggle="popover">
                                                 <i class="fa fa-cog"></i> <span class="caret"></span>
                                                 </button>
                                                 <div class="operations-popover" style="display:none;">
                                                    <div class='form-group operations-popover-group'>
                                                       <label class='control-label'>{{t "templates.admin.RoleEntitlementsTemplate.assignmentOperation"}}</label>
                                                       <select class='form-control' name="onAssignment">
                                                          <option value="mergeWithTarget">{{t "templates.admin.RoleEntitlementsTemplate.mergeWithTarget"}}</option>
                                                          <option value="removeFromTarget">{{t "templates.admin.RoleEntitlementsTemplate.removeFromTarget"}}</option>
                                                          <option value="replaceTarget">{{t "templates.admin.RoleEntitlementsTemplate.replaceTarget"}}</option>
                                                          <option value="noOp">{{t "templates.admin.RoleEntitlementsTemplate.noOp"}}</option>
                                                       </select>
                                                    </div>
                                                    <div class='form-group operations-popover-group'>
                                                       <label class='control-label'>{{t "templates.admin.RoleEntitlementsTemplate.unassignmentOperation"}}</label>
                                                       <select class='form-control' name="onUnassignment">
                                                          <option value="mergeWithTarget">{{t "templates.admin.RoleEntitlementsTemplate.mergeWithTarget"}}</option>
                                                          <option value="removeFromTarget">{{t "templates.admin.RoleEntitlementsTemplate.removeFromTarget"}}</option>
                                                          <option value="replaceTarget">{{t "templates.admin.RoleEntitlementsTemplate.replaceTarget"}}</option>
                                                          <option value="noOp">{{t "templates.admin.RoleEntitlementsTemplate.noOp"}}</option>
                                                       </select>
                                                    </div>
                                                    <button class='btn btn-primary btn-hide-attribute-operations pull-right'>{{t "common.form.ok"}}</button>
                                                 </div>
                                              </div>
                                              <input type="hidden" class="hiddenOnAssignment" value="mergeWithTarget"/>
                                              <input type="hidden" class="hiddenOnUnassignment" value="removeFromTarget"/>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="col-xs-2">
                                     <div class="btn-group pull-right">
                                        <button class="btn btn-link btn-delete-attribute"><i class="fa fa-times"></i></button>
                                     </div>
                                  </div>
                               </div>
                            </li>
                        </div>
                        <div class="add-item-inline">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="form-group">
                                    <button type="submit" class="btn btn-default " id="btn-add-attribute"><i class="fa fa-plus"></i> {{t "templates.admin.RoleEntitlementsTemplate.addAttribute"}}</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </fieldset>
         </form>
      </div>
      <div class="tab-pane " id="role-edit-events">
         <form class="form-horizontal">
            <div class="form-group">
               <label class="col-sm-1">onAssignment:</label>
               <div class="col-sm-12 event-onAssignment">
                  
               </div>
            </div>
            <div class="form-group">
               <label class="col-sm-1">onUnassignment:</label>
               <div class="col-sm-12  event-onUnassignment">
                  
               </div>
            </div>
         </form>
      </div>
      <div class="tab-pane " id="role-edit-mappings">
           <p class="panel-description">{{t "templates.admin.RoleEntitlementsTemplate.addEntitlementToMapping"}}</p>
           <div class="list-table">
              <ul class="list-group">
                 <li class="list-group-header">
                    <div class="row">
                       <div class="col-xs-10 ">
                          <div class="row">
                             <div class="col-md-4">
                                {{t "templates.admin.RoleEntitlementsTemplate.mapping"}}
                             </div>
                          </div>
                       </div>
                    </div>
                 </li>
                 {{#unless mappings}}
                    <li class="list-group-item">{{t "templates.admin.RoleEntitlementsTemplate.noMappings"}}</li>
                 {{/unless}}
                 {{#each mappings}}
                 <li class="list-group-item">
                    <div class="row">
                       <div class="col-xs-10">
                          <div class="list=group-item-content">
                             <div class="row">
                                <div class="col-md-4">
                                   <div class="list-table-label">{{t "templates.admin.RoleEntitlementsTemplate.mapping"}}:</div>
                                   <a class="mappingLink" href="#properties/{{name}}/">{{name}}</a>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="col-xs-2 ">
                          <div class="btn-group pull-right">
                             <button class="btn btn-link removeMapping" mapping="{{name}}"><i class="fa fa-times"></i></button>
                          </div>
                       </div>
                    </div>
                 </li>
                 {{/each}}
              </ul>
              <div class="row add-item-inline clearfix">
                 <div class="form-group col-sm-5">
                    <select class="form-control assignment-list" id="mappingSelection">
                       <option value="">{{t "templates.admin.RoleEntitlementsTemplate.selectMapping"}}</option>
                       {{#each availableMappings}}
                       <option value="{{name}}">{{name}}</option>
                       {{/each}}
                    </select>
                 </div>
                 <div class="form-group col-sm-2">
                    <button type="button" class="btn btn-default" id="addMapping"><i class="fa fa-plus"></i> {{t "templates.admin.RoleEntitlementsTemplate.addToMapping"}}</button>
                 </div>
              </div>
           </div>
      </div>
      <div class="tab-pane " id="role-edit-condition">
         <label class="control-label" for="assignmentLinkQualifiers">{{t "templates.admin.RoleEntitlementsTemplate.linkQualifiers"}}: </label>
         <input id="assignmentLinkQualifiers" type="text" style="display:none;" value="{{assignment.linkQualifiers}}"/>
      </div>
   </div>
</div>