<div class="tab-pane-body">
   <div class="panel-body">
      <p class="panel-description">{{t "templates.admin.RoleEntitlementsTemplate.description"}}</p>
      <div class="list-table">
         <ul class="list-group" id="assignments-list">
            <li class="list-group-header">
               <div class="row">
                  <div class="col-xs-9">
                     {{t "templates.admin.RoleEntitlementsTemplate.entitlements"}}
                  </div>
               </div>
            </li>
            {{#each role.assignments}}
            <li class="list-group-item role-assignment-item" assignmentName="{{@key}}">
               <div class="row">
                  <div class="col-xs-8">
                     <div class="">
                        <a href="#" class="edit-assignment" id="edit-assignment-{{@key}}">{{@key}}</a>
                     </div>
                  </div>
                  <div class="col-xs-4">
                     <div class="btn-group pull-right">
                        <button class="btn btn-link edit-assignment"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-link delete-assignment"><i class="fa fa-times"></i></button>
                     </div>
                  </div>
               </div>
            </li>
            {{/each}}
         </ul>
         <div class="add-item-inline">
            <div class="row">
               <div class="col-sm-3">
                  <div class="form-group">
                     <button class="btn btn-default add-assignment"><i class="fa fa-plus"></i> {{t "templates.admin.RoleEntitlementsTemplate.addEntitlement"}} </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>