<h1>Password and security question change</h1>
<form action='' method='post' onsubmit="return false">
    <fieldset>
        <div id="securityPassword">     
            <p>Please enter your old password</p>   
            <div class='field'>
                <label>Old password</label> 
                <input type='password' name='oldPassword' value='' data-validator="oldPassword" />
                <span class='error'>x</span>
                <div class='validationMessage'></div>
            </div>                  
        </div>      
    </fieldset>
</form>