<h1>Forgotten password?</h1>
<div id="resetMessages"></div>
		<p>Please enter your email in the field below to continue.</p>
		<form action='' method='post'>
			<fieldset>
				<div class='field'>
					<label>*Email/login</label> 
					<input name='resetEmail' value='' data-validator="resetPasswordCorrectEmail"/>
					<span class='error'>x</span>
					<div class='validationMessage'></div>
				</div>
				<div class="clear"></div>
				<div id="fgtnAnswerDiv" style="display: none;">
	                <div class="fields">
	                    <div class='field'>
	                        <label>Security question</label>
	                        <div id='fgtnSecurityQuestion' class="textLabelValign"></div>
	                    </div>
	                    <div class='field'>
	                        <label>Security answer</label> 
	                        <input name='fgtnSecurityAnswer' value='' data-validator="securityAnswer" />
	                        <span class='error'>x</span>
	                    </div>
	                </div>
	                <div class="groupFieldInputs floatLeft">
	                    <div class='field'>
	                        <label>New Password</label> 
	                        <input type='password' name='password' value='' data-validator="password" data-validator-event="keyup" />
	                        <span class='error'>x</span>
						</div>
						<div class='field'>
	                        <label>Confirm Password</label> 
	                        <input type='password' name='passwordConfirm' value='' data-validator="passwordConfirm" data-validator-event="keyup" />
	                        <span class='error'>x</span>
	                    </div>
	                </div>
	                <div class="groupFieldErrors floatRight radious">
			            <div class="groupFieldErrorsRule">
			              <span class='error'>x</span> 
			              <label data-for-validator="password">At least one capital letter</label>
			            </div>
			            <div class="groupFieldErrorsRule">
			              <span class='error'>x</span> 
			              <label data-for-validator="password">At least one number</label>
			            </div>
			            <div class="groupFieldErrorsRule">
			              <span class='error'>x</span> 
			              <label data-for-validator="password">At least 8 characters</label>
			            </div>
	                    <div class="groupFieldErrorsRule">
	                        <span class='error'>x</span> 
	                        <label data-for-validator="password">Cannot match login</label>
						</div>
						<div class="groupFieldErrorsRule">
                            <span class='error'>x</span> 
                            <label data-for-validator="passwordConfirm">Confirmation matches password</label>
                        </div>
						<div class="clear"></div>
					</div>
				</div>
			</fieldset>
		</form>