<div class="shadowFrame paddingVertical40">
	<div class="floatLeft" style="width: 380px; border-right: 1px solid #C0C0C0; padding-right: 55px; margin-left: 30px;">
		<form action="" method="post">
			<fieldset>
				<div class="field">
					<label class="short">Login</label> <input type="text" name="login"
						data-validator="required" data-validator-event="keyup" />
				</div>
				<div class="field">
					<label class="short">Password</label> <input type="password" name="password"
						data-validator="required" data-validator-event="keyup" />
				</div>
				<div class="field" style="margin-left: 125px;">
                    <label class="checkbox"><input type="checkbox" name="loginRemember" />Remember my username</label>
                </div>
				<div style="margin-left: 128px;">
					<input type="submit" name="loginButton" class="button orange" value="Login" />
				</div>
			</fieldset>
		</form>
	</div>
	<div class="floatRight" style="width: 260px; padding-left: 15px;">
	   <div class="field">
	       <span class="bold block">Don't have an account?</span>
	       <a href="#register/" class="ice">Register your account</a>
	   </div>
	   <div class="field">
	       <span class="bold block">Having trouble logging in?</span>
	       <a href="#profile/forgotten_password/" class="ice block">Reset my password</a>
	   </div>
	</div>
	<div class="clear"></div>
</div>