<div id="bg">
    <div id="loginContainer">
        <div id="header-short">
            <div id="logo-short">
                <a href="#" title="idm"><img src="images/logo.png" width="226" height="60" alt="idm logo" /> </a>
            </div>
        </div>
        <div id="content"></div>
    </div>

    <div id="footer">
        <div id="footer-content">
            <a href="http://forgerock.com/" target="_blank">
                <img src="images/footer_logo.png" alt="aRockGroupCompany" width="228" height="41" />
            </a>
            <br /> 
            <a href="mailto: info@forgerock.com" class="orange">info@forgerock.com</a>, or phone +47 21520108.<br />
            Copyright © 2010-11 ForgeRock, all rights reserved.
        </div>
    </div>
</div>