<div id="profile" class="center">
    <div class="shadowFrame">
        <form class="form">
            <h1 id="userProfileHeadingLabel">User profile</h1>
            <div id="profileData">                
                        <div class="floatLeft">
                            <div class="field">
                                <label class="light">First Name</label>
                                <input type="text" name="givenName" data-validator="name" />
                                <span></span>
                                <div class="validationMessage"></div>
                            </div>
                            <div class="field">
                                <label class="light">Email address</label> 
                                <input type="text" name="email" data-validator="profileEmail" /> 
                                <span></span>
                                <div class="validationMessage"></div>
                            </div>
                        </div>
                        
                        <div class="floatRight">
                            <div class="field">
                                <label class="light">Last Name</label>
                                <input type="text" name="familyName" data-validator="name" />
                                <span></span>
                                <div class="validationMessage"></div>
                            </div>
                            <div class="field">
                                <label class="light">Mobile Phone</label>
                                <input type="text" name="phoneNumber" data-validator="phone" />
                                <span></span>
                                <div class="validationMessage"></div>
                            </div>
                        </div>                        
                        <div class="clear"></div>
                    
                        <div class="floatLeft">
                            <div class="field">
                                <label class="light">Address 1</label>
                                <input type="text" name="address1" />
                                <span></span>
                                <div class="validationMessage"></div>
                            </div>
                            <div class="field">
                                <label class="light">Country</label>
                                <select name="country" ></select>
                                <span></span>
                                <div class="validationMessage"></div>
                            </div>
                            <div class="field">
                                <label class="light">State/Province</label>
                                <select name="stateProvince" ></select>
                                <span></span>
                                <div class="validationMessage"></div>
                            </div>
                        
                        </div>
                        
                        <div class="floatRight">
                            <div class="field">
                                <label class="light">Address 2</label>
                                <input type="text" name="address2" />
                                <span></span>
                                <div class="validationMessage"></div>
                            </div>
                            
                            <div class="field">
                                <label class="light">City</label>
                                <input type="text" name="city" />
                                <span></span>
                                <div class="validationMessage"></div>
                            </div>
                            
                            <div class="field">
                                <label class="light">Postal Code</label>
                                <input type="text" name="postalCode" />
                                <span></span>
                                <div class="validationMessage"></div>
                            </div>
                                                    
                        </div>                      
                        <div class="clear"></div>

                        <div class="floatLeft">
                            <div class="field">
                                <label class="light"></label> 
                                <a href="#profile/old_password/" id="securityDialogLink" class="ice hrefInput">Change Security Data</a>
                            </div>
                        </div>
                        <div class="floatRight">
                            <div class="field">
                                <label class="light"></label> 
                                <a href="#profile/site_identification/" id="passPhraseLink" class="ice hrefInput">Change Site Identification</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    
                        <div id="actions">
                            <input type="submit" name="saveButton" value="Update" class="button floatRight"/>                      
                        </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>
