<!-- Copyright 2016 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div class="container">
    <div class="page-header">
        <h1>{{t "templates.selfservice.userRegistration"}}</h1>
    </div>
    <div class="toggle-header">
        <label class="control-label">{{t "templates.selfservice.enableUserRegistration"}}</label>
        <div class="checkbox checkbox-slider-primary checkbox-slider checkbox-slider--b checkbox-slider-md">
            <label>
                <input class="all-check" type="checkbox"><span></span>
            </label>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" id="optionTab" class="active"><a href="#options" data-toggle="tab" aria-controls="options" role="tab">{{t "templates.selfservice.options"}}</a></li>
            <li role="presentation" id="advancedTab"><a href="#advanced" data-toggle="tab" aria-controls="advanced" role="tab">{{t "templates.selfservice.advanced"}}</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="options">
                <div id="stepsBody">
                    <div class="panel-body">
                        <div role="alert" id="emailStepWarning" class="alert alert-danger" {{#if hideEmailError}} style="display:none !important;" {{/if}}>
                        <i class="fa fa-exclamation-circle"></i><strong>{{t "templates.selfservice.error"}}</strong>
                        <span class="message">{{t "templates.selfservice.noEmailConfig"}} <a class="alert-link" href="#settings/email/">{{t "templates.selfservice.emailConfigLink"}}</a></span>
                    </div>
                    <div role="alert" id="captchaNotConfiguredWarning" class="alert alert-danger">
                        <i class="fa fa-exclamation-circle"></i><strong>{{t "templates.selfservice.error"}}</strong>
                        <span class="message">{{t "templates.selfservice.captchaNotConfigured"}} <a id="configureCaptcha" class="alert-link" href="#">{{t "templates.selfservice.emailConfigLink"}}</a></span>
                    </div>

                    <div class="selfservice-holder">
                        <div class="simple-section clearfix">
                            <label class="col-sm-3 control-label">{{t "templates.selfservice.storageLookup"}}</label>
                            <div class="col-sm-7">
                                {{#each storageLookup}}
                                {{> _toggleIconBlock this}}
                                {{/each}}
                            </div>
                        </div>

                        <div class="simple-section clearfix">
                            <label class="col-sm-3 control-label">{{t "templates.selfservice.userVerification"}}</label>
                            <div class="col-sm-7">
                                {{#each userverification}}
                                {{> _toggleIconBlock this}}
                                {{/each}}
                            </div>
                        </div>

                        <div class="simple-section clearfix">
                            <label class="col-sm-3 control-label">Social Registration</label>
                            <div class="col-sm-7">
                                {{#if socialProviders.providerList}}
                                <div class="self-service-card card wide-card {{#unless socialProviders.enabled}}disabled{{/unless}}" data-editable="{{socialProviders.editable}}" data-type="{{socialProviders.type}}" {{#if socialProviders.name}}data-name="{{name}}"{{/if}}>
                                    <div class="card-body">
                                        <div class="switch-holder panel-heading">
                                            <div class="checkbox checkbox-slider-primary checkbox-slider checkbox-slider--b checkbox-slider-md">
                                                <label>
                                                    <input class="section-check" type="checkbox" {{#if socialProviders.enabled}}checked{{/if}}><span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="details panel-body">
                                            <div class="logo-holder">
                                                {{#each socialProviders.providerList}}
                                                <div class="image circle self-service-icon">
                                                    <i class="fa fa-{{displayIcon}}"></i>
                                                </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                                <div class="well text-center">
                                    {{t "templates.selfservice.socialSystemMessage"}}
                                </div>
                            </div>
                        </div>

                        <div class="simple-section clearfix">
                            <label class="col-sm-3 control-label">{{t "templates.selfservice.securityQuestions"}}</label>
                            <div class="col-sm-7">
                                {{#each securityQuestions}}
                                {{> _toggleIconBlock this}}
                                {{/each}}
                            </div>
                        </div>
                        <div class="simple-section clearfix">
                            <label class="col-sm-3 control-label">{{t "templates.selfservice.licensingAndConsent"}}</label>
                            <div class="col-sm-7">
                                {{#each licensingAndConsent}}
                                {{> _toggleIconBlock this}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> selfservice/_advancedoptions}}
    </div>
</div>
