<!-- Copyright 2016 ForgeRock AS.
License terms: https://forgerock.org/cddlv1-0/ -->
<div class="panel-heading widget-section-title">
    <div class="pull-left widget-title">
        {{widgetTitle}}
    </div>
    {{#if showConfigButton}}
    <div class="pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-link btn-move"><i class="fa fa-arrows"></i></button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-link fa-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li class="widget-settings"><a href="#"><i class="fa fa-gear"></i>Settings</a></li>
                {{#if menuItems}}
                    {{#each menuItems}}
                        <li class="{{menuClass}}"><a href="#"><i class="fa {{icon}}"></i>{{title}}</a></li>
                    {{/each}}
                {{/if}}
                <li class="divider"></li>
                <li class="widget-delete"><a href="#"><i class="fa fa-times"></i>Delete</a></li>
            </ul>
        </div>
    </div>
    {{/if}}
    <div style="clear:both;"></div>
</div>