<h1>{{t "templates.user.EnterOldPasswordDialog.passwordAndSecurityQuestionChange"}}</h1>
<form id="enterOldPassword" class="form large center no-margin" action="" method="post" onsubmit="return false">
    <fieldset>
        <div id="securityPassword">     
            <p>{{t "templates.user.EnterOldPasswordDialog.enterYourOldPassword"}}</p>   
            <div class="field">
                <label>{{t "common.user.oldPassword"}}</label> 
                <input type="password" name="oldPassword" value="" data-validator="oldPassword" />
                <span class="error">x</span>
                <div class="validation-message"></div>
            </div>                  
        </div>      
    </fieldset>
</form>