<h1>{{t "templates.user.EnterOldPasswordDialog.passwordAndSecurityQuestionChange"}}</h1>
<p>{{t "templates.user.EnterOldPasswordDialog.enterYourOldPassword"}}</p>   
<form id="enterOldPassword" class="form clearfix" action="" method="post" onsubmit="return false">


    <div class="group-field-block"  id="securityPassword">
        <label for="oldPassword" class="light align-right">{{t "common.user.oldPassword"}}</label>
        <div class="float-left separate-message">
            <div class="group-input-span">
                <input type="password" id="oldPassword" name="oldPassword" value="" data-validator="oldPassword" required autofocus >
                <span class="error">x</span>
            </div>
            <div class="validation-message"></div>
        </div>
    </div>

</form>