<h1>{{t "templates.user.ForgottenPasswordTemplate.forgottenPasswordQuestion"}}</h1>
<div id="resetMessages"></div>
<p>{{t "templates.user.ForgottenPasswordTemplate.enterLogin"}}</p>
<form name="forgottenPassword" class="form clearfix" action="" method="post">

    <!-- hidden field used to help with password validation -->
    <input type="hidden" name="_id" />

    <fieldset class="clearfix" >
       
        <div class="group-field-block">
            <label for="resetUsername" class="align-right">{{t "common.user.login"}}</label> 
            <div class="float-left separate-message">
                <div class="group-input-span">
                    <input type="text" name="resetUsername" value="" data-validator="resetPasswordCorrectLogin" id="resetUsername" autofocus required/>
                    <span class="error">x</span>
                </div>
                <div class="validation-message"></div>
            </div>
            <input type="button" name="submitUsername" value="{{t 'common.form.submit'}}" class="button" >
        </div>

    </fieldset>


    <fieldset id="fgtnAnswerDiv" class="clearfix" style="display: none">

        <div class="group-field-block">
            <label for="fgtnSecurityQuestion" class="align-right">{{t "common.user.securityQuestion"}}</label>
            <div class="group-input-span">
                 <div id="fgtnSecurityQuestion" class="input"></div>
            </div>
        </div>

        <div class="group-field-block">
            <label for="fgtnSecurityAnswer" class="align-right">{{t "common.user.securityAnswer"}}</label>
            <div class="float-left separate-message">
                <div class="group-input-span">
                    <input type="text" name="fgtnSecurityAnswer" value="" data-validator="securityAnswer" data-validator-event="validate" id="fgtnSecurityAnswer" required />
                    <span class="error">x</span>
                </div>
                <div class="validation-message"></div>
            </div>
            <input type="button" name="submitAnswer" value="{{t 'common.form.submit'}}" class="button">
        </div>

    </fieldset>

    <fieldset id="fgtnPasswordDiv" style="display: none">

        <div class="group-field-block">
            <label for="password" class="align-right">{{t "common.user.password"}}</label>
            <div class="group-input-span">
                <input type="password" name="password" value="" data-validation-dependents="passwordConfirm" data-validation-force-server="true" id="password" required />
                <span class="error">x</span>
            </div>
        </div>


        <div class="group-field-block">
            <label for="passwordConfirm" class="align-right">{{t "common.user.confirmPassword"}}</label>
            <div class="group-input-span">
                <input type="password" name="passwordConfirm" value="" data-validator="passwordConfirm" data-validator-event="keyup change" id="passwordConfirm" required />
                <span class="error">x</span>
            </div>
        </div>

        <div class="group-field-errors validationRules col2b" data-for-validator="password passwordConfirm">
            <div class="field-rule">
                <span class="error">x</span><span data-for-validator="passwordConfirm">{{t "common.form.validation.confirmationMatchesPassword"}}</span>
            </div>
        </div>
          
    </fieldset>

</form>