<div class="container-shadow" id="login-container">
    <div class="column-layout" style="padding-top: 30px;">
        <div{{#hasOptionalUIFeatures}} class="column2"{{/hasOptionalUIFeatures}}>
            <form action="" method="post" class="form">
                <fieldset{{#hasOptionalUIFeatures}} style="border-right: 1px solid #C0C0C0;"{{/hasOptionalUIFeatures}}>
                    <div class="field">
                        <label class="short">{{t "common.user.login"}}</label> <input type="text" name="login"
                            data-validator="required" data-validator-event="keyup" />
                    </div>
                    <div class="field">
                        <label class="short">{{t "common.user.password"}}</label> <input type="password" name="password"
                            data-validator="required" data-validator-event="keyup" />
                    </div>
                    <div class="field field-checkbox">
                        <label style="text-align:left;"><input type="checkbox" name="loginRemember" />{{t "templates.user.LoginTemplate.loginRemember"}}</label>
                    </div>
                    <div class="field field-submit">
                        <input type="submit" name="loginButton" class="button active" value="{{t "common.user.login"}}" />
                    </div>
                </fieldset>
            </form>
        </div>
        {{#if hasOptionalUIFeatures}}
        <div class="column2" style="padding-top: 20px;">
            <div class="row-layout">
                {{#siteIdentification}}
                <div class="row">
                    <h5>{{t "templates.user.LoginTemplate.siteIdentificationHeader"}}</h5>
                    <div id="identificationMessage">{{t "templates.user.LoginTemplate.siteIdentificationExplanation"}}</div>
                    <div id="siteImage"></div>
                    <div id="passPhrase"></div>
                </div>      
                {{/siteIdentification}}
                {{#selfRegistration}}
                <div class="row">
                    <h5>{{t "templates.user.LoginTemplate.noAccountQuestion"}}</h5>
                    <a href="{{url 'selfRegistration'}}">{{t "templates.user.LoginTemplate.registerAccount"}}</a>
                </div>
                {{/selfRegistration}}
                
                {{#if passwordResetLink}}
                <div class="row">
                    <h5>{{t "templates.user.LoginTemplate.problemLoggingQuestion"}}</h5>
                    <a href="{{passwordResetLink}}">{{t "templates.user.LoginTemplate.resetPassword"}}</a>
                </div>
                {{else}}
                
                    {{#if securityQuestions}}
                    <div class="row">
                        <h5>{{t "templates.user.LoginTemplate.problemLoggingQuestion"}}</h5>
                        <a href="{{url 'forgottenPassword'}}">{{t "templates.user.LoginTemplate.resetPassword"}}</a>
                    </div>
                    {{/if}}
                
                {{/if}}
            </div>
        </div>
        {{/if}}
    </div>
</div>