<style>
#loginDialog div.field {
    height: auto;
    margin-bottom: 10px;
}

#loginDialog form label {
    text-align:left;
}

#loginDialog input {
    float: none;
}
</style>
<h1>{{t "common.form.sessionExpired"}}</h1>
<div id="loginDialog">
    <div style="width: 380px;">
        <form action="" method="post" class="form small">
            <fieldset>
                <div class="field">
                    <label>{{t "common.user.login"}}</label>
                    <input type="text" name="login" data-validator="required" data-validator-event="keyup" />
                </div>
                <div class="field">
                    <label>{{t "common.user.password"}}</label> 
                    <input type="password" name="password" data-validator="required" data-validator-event="keyup" />
                </div>
                <div class="field field-checkbox">
                    <label>
                        <input type="checkbox" class="check" name="refreshOnLogin" value="yes" />
                        {{t "templates.user.LoginDialog.refreshOnLogin"}}
                    </label> 
                </div>
            </fieldset>
        </form>
    </div>

</div>