<form id="configDialogForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">{{t "templates.selfservice.userIdValidation.queryFields"}}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control array-selection" data-formName="queryFields" value="{{queryFields}}">
        </div>
    </div>

    {{> form/_basicInput value=identityIdField label="templates.selfservice.userIdValidation.identityIdField" property="identityIdField" noValidation="true" }}
    {{> form/_basicInput value=identityEmailField label="templates.selfservice.userIdValidation.identityEmailField" property="identityEmailField" noValidation="true"}}
    {{> form/_basicInput value=identityServiceUrl label="templates.selfservice.userIdValidation.identityServiceUrl" property="identityServiceUrl" noValidation="true"}}
    {{> form/_basicInput value=email.serviceUrl label="templates.selfservice.userEmailValidation.emailServiceUrl" property="email.serviceUrl" noValidation="true"}}
    {{> form/_basicInput value=email.from label="templates.selfservice.userEmailValidation.emailFrom" property="email.from" noValidation="true"}}
    {{> form/_basicInput value=email.subject label="templates.selfservice.userEmailValidation.emailSubject" property="email.subject" noValidation="true"}}
    {{> form/_basicInput value=email.message label="templates.selfservice.userEmailValidation.emailMessage" property="email.message" noValidation="true"}}
    {{> form/_basicInput value=email.verificationLinkToken label="templates.selfservice.userEmailValidation.verificationLinkToken" property="email.verificationLinkToken" noValidation="true"}}
    {{> form/_basicInput value=email.verificationLink label="templates.selfservice.userEmailValidation.emailVerificationLink" property="email.verificationLink" noValidation="true" helpKey="templates.selfservice.userEmailValidation.emailVerificationLinkHelp"}}
</form>