<div class="col-sm-2 selectPanel">
    {{#if defaultConfigs}}
    <div class="object-config-selector">
        <label for="selectObjectConfig" class="light">{{t "templates.connector.objectTypes.objectTypeConfigs"}}:</label>
        <select class="form-control" data-type="{{defaultConfigs.0.type}}" id="selectObjectConfig" required>
            {{#each defaultConfigs}}
            <option value="{{fileName}}">{{displayName}}</option>
            {{/each}}
        </select>
    </div>
    {{/if}}
    <button class="btn btn-primary json-editor-btn-edit" id="newObjectType">{{t "templates.connector.objectTypes.addNewObjecttype"}}</button>
    <select class="form-control" id="objectTypesList" name="objectTypesList" multiple></select>
</div>

<div class="col-sm-10 objectTypeForm">
    <div id="objectType"></div>

    <div id="multiSelectOptions" style="display:none;">
        <p>{{t "templates.connector.objectTypes.bulkDeleteMsg"}}</p>
        <button class="btn" id="deleteMultiple">{{t "templates.connector.objectTypes.deleteObjectTypes"}}</button>
    </div>

    <span id="objectTypeButtons">
        <button class='btn btn-default deleteObject'>
            {{t "templates.connector.objectTypes.deleteObject"}}
        </button>

        <button class='btn btn-primary saveObject'>
            {{t "templates.connector.objectTypes.saveObject"}}
        </button>
    </span>
</div>
