<div id='registration'>
	<h2 class='floatLeft'>{{t "common.user.registerNewAccount"}}</h2>

	<div class='clear'></div>

	<div class='shadowFrame'>
		<form action='' method='post'>
			<fieldset>
				<div class='fields'>
                    <div class='field'>
                        <label>{{t "common.user.username"}}</label> <input type='text' name='userName'
                            data-validator="userName" /> <span class='error'>x</span>
                        <div class='validationMessage'></div>
                    </div>
					<div class='field'>
						<label>{{t "common.user.emailAddress"}}</label> <input type='text' name='email'
							data-validator="registrationEmail" /> <span class='error'>x</span>
						<div class='validationMessage'></div>
					</div>

					<div class='field'>
						<label>{{t "common.user.givenName"}}</label> <input type='text' name='givenName'
							data-validator="name" /> <span class='error'>x</span>
						<div class='validationMessage'></div>
					</div>

					<div class='field'>
						<label>{{t "common.user.familyName"}}</label> <input type='text' name='familyName'
							data-validator="name" /> <span class='error'>x</span>
						<div class='validationMessage'></div>
					</div>

					<div class='field'>
						<label>{{t "common.user.phoneNumber"}}</label> <input type='text'
							name='phoneNumber' data-validator="phone" /> <span class='error'>x</span>
						<div class='validationMessage'></div>
					</div>

					<div class="groupField">
						<div class="groupFieldInputs floatLeft">
							<div class='field'>
								<label>{{t "common.user.password"}}</label> <input type='password' name='password'
									value='' data-validator="password" data-validator-event="keyup" />
								<span class='error'>x</span>
							</div>

							<div class='field'>
								<label>{{t "common.user.confirmPassword"}}</label> <input type='password'
									name='passwordConfirm' value=''
									data-validator="passwordConfirm" data-validator-event="keyup" />
								<span class='error'>x</span>
							</div>
						</div>
						<div class="groupFieldErrors floatRight radious">
							<div class="groupFieldErrorsRule">
								<span class='error'>x</span> <label
									data-for-validator="password">{{t "common.form.validation.atLeastOneCapitalLetter"}}</label>
							</div>
							<div class="groupFieldErrorsRule">
								<span class='error'>x</span> <label
									data-for-validator="password">{{t "common.form.validation.atLeastOneNumber"}}</label>
							</div>
							<div class="groupFieldErrorsRule">
								<span class='error'>x</span> <label
									data-for-validator="password">{{t "common.form.validation.atLeast8Characters"}}</label>
							</div>
							<div class="groupFieldErrorsRule">
								<span class='error'>x</span> <label
									data-for-validator="password">{{t "common.form.validation.cannotMatchLogin"}}</label>
							</div>
							<div class="groupFieldErrorsRule">
								<span class='error'>x</span> <label
									data-for-validator="passwordConfirm">{{t "common.form.validation.confirmationMatchesPassword"}}</label>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<input type='submit' name='createButton' class='button gray' value='Create user' />
				<div class='inputValidationMessage'>{{t "common.form.validation.formContainsErrors"}}</div>
			</fieldset>
		</form>
	</div>
</div>
&nbsp;
