<div id="profile" class="content-bg">

    <h1 id="userProfileHeadingLabel">{{t 'openidm.ui.admin.users.AdminUserProfileView.profileOwnership' profileName}}</h1>
    
        <form class="form two-columns">
            <input type="hidden" name="_id">

            <div class="column-layout">
                <div class="column2">
                    <div class="field">
                        <label class="light">{{t "common.user.username"}}</label> 
                        <input type="text" name="userName" /> 
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                    <div class="field">
                        <label class="light">{{t "common.user.emailAddress"}}</label> 
                        <input type="text" name="email" /> 
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                    <div class="field">
                        <label class="light">{{t "common.user.givenName"}}</label>
                        <input type="text" name="givenName" />
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                    <div class="field">
                        <label class="light">{{t "common.user.accountStatus"}}</label> 
                        <select name="accountStatus" >
                            <option value="active">{{t "common.user.active"}}</option>
                            <option value="inactive">{{t "common.user.inactive"}}</option>
                        </select>                               
                        <div class="validation-message"></div>
                    </div>
                    <div class="field">
                        <label class="light">{{t "common.user.address1"}}</label>
                        <input type="text" name="address1" />
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                    <div class="field">
                        <label class="light">{{t "common.user.country"}}</label>
                        <select name="country" ></select>
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                    <div class="field">
                        <label class="light">{{t "common.user.stateProvince"}}</label>
                        <select name="stateProvince" ></select>
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                    <div class="field">
                        <label class="light">{{t "common.user.lastPasswordSet"}}</label> 
                        <input type="text" name="lastPasswordSet" class="read-only" disabled="disabled" value="01/10/11"/> 
                        <span></span>
                        <div class="validation-message"></div>
                    </div>   
                </div>
                <div class="column2">
                    <div class="floatRight">
                        <div class="field">
                            <label class="light"></label> 
                            <a href="{{url 'adminUserChangePassword' user.userName}}" id="passwordChangeLink" class="ice hrefInput">{{t "common.user.changePassword"}}</a>
                        </div>
                    </div>
                    <div class="field">
                        <label class="light">{{t "common.user.familyName"}}</label>
                        <input type="text" name="familyName" />
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                    <div class="field">
	                    <label class="light">{{t "common.user.role"}}</label> 
	                    {{checkbox roles "roles"}}
	
	                    <span class="error"></span>
	                    <div class='validation-message'></div>
	                </div>
                    <div class="field">
                        <label class="light">{{t "common.user.phoneNumber"}}</label>
                        <input type="text" name="phoneNumber" />
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                    <div class="field">
                        <label class="light">{{t "common.user.address2"}}</label>
                        <input type="text" name="address2" />
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                    
                    <div class="field">
                        <label class="light">{{t "common.user.city"}}</label>
                        <input type="text" name="city" />
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                    
                    <div class="field">
                        <label class="light">{{t "common.user.postalCode"}}</label>
                        <input type="text" name="postalCode" />
                        <span></span>
                        <div class="validation-message"></div>
                    </div>
                </div>
            </div>
            <div class="column-layout">
                <div class="float-right" style="margin-right: 30px;">
                    <div class="field submit-field">
                        <input type="submit" name="saveButton" value="{{t "common.form.update"}}" class="button"/>
                        <input type="button" name="deleteButton" value="{{t "common.form.delete"}}" class="button active"/>
                        <input type="button" name="backButton" value="{{t "common.form.back"}}" class="button gray"/>
                        <input type="text" name="oldUserName" style="display: none" />
                    </div>
                </div>
            </div>
			
		</form>
</div>

