<h1 id='changeUserPasswordHeadingLabel'>Security data change</h1>
<form action='' method='post' onsubmit="return false">
    <fieldset>
        <div id="securityMore">      
            <p>Please enter new password in the fields below to change user's password.</p>
            <div class="groupField">
                <div class="groupFieldInputs floatLeft">
                    <div class='field'>
                        <label>New password</label> 
                        <input type='password' name='password' value='' data-validator="password" data-validator-event="keyup" />
                        <span class='error'>x</span>
                    </div>

                    <div class='field'>
                        <label>Confirm new password</label> 
                        <input type='password' name='passwordConfirm' value='' data-validator="passwordConfirm" data-validator-event="keyup" />
                        <span class='error'>x</span>
                    </div>
                </div>
                <div class="groupFieldErrors floatRight radious">
                    <div class="groupFieldErrorsRule">
                        <span class='error'>x</span> 
                        <label data-for-validator="password">At least one capital letter</label>
                    </div>
                    <div class="groupFieldErrorsRule">
                        <span class='error'>x</span> 
                        <label data-for-validator="password">At least one number</label>
                    </div>
                    <div class="groupFieldErrorsRule">
                        <span class='error'>x</span> 
                        <label data-for-validator="password">At least 8 characters</label>
                    </div>
                    <div class="groupFieldErrorsRule">
                        <span class='error'>x</span> 
                        <label data-for-validator="password">Cannot match login</label>              
                    </div>
                    <div class="groupFieldErrorsRule">
                        <span class='error'>x</span> 
                        <label data-for-validator="passwordConfirm">Confirmation matches password</label>
                    </div>
                </div>
                <div class="clear"></div>
            </div>   
            <div class="clear"></div>
        </div>
    </fieldset>
</form>