<h1 id='changeUserPasswordHeadingLabel'>{{t "templates.admin.ChangeUserPasswordDialogTemplate.securityDataChange"}}</h1>
<form id="securityDataChange" action="" class="form large center no-margin" method="post" onsubmit="return false">
    <fieldset>
        <div id="securityMore">      
            <p>{{t "templates.admin.ChangeUserPasswordDialogTemplate.enterNewPasswordToChange"}}</p>
            <div class="group-field">
                <div class="group-field-inputs">
                    <div class="field">
                        <label>{{t "common.user.password"}}</label> 
                        <input type="password" name="password" value="" data-validation-dependents="passwordConfirm"/>
                        <span class="error">x</span>
                    </div>

                    <div class="field">
                        <label>{{t "common.user.confirmPassword"}}</label> 
                        <input type="password" name="passwordConfirm" value="" data-validator="passwordConfirm" data-validator-event="keyup change" />
                        <span class="error">x</span>
                    </div>
                </div>
                <div class="group-field-errors validationRules" data-for-validator="password passwordConfirm">

                    <div class="field-rule">
                        <span class="error">x</span> 
                        <span data-for-validator="passwordConfirm">{{t "common.form.validation.confirmationMatchesPassword"}}</span>
                    </div>
                </div>
            </div>
        
            <div class="clear"></div>
        </div>
    </fieldset>
</form>