<h1 id='changeUserPasswordHeadingLabel'>{{t "templates.admin.ChangeUserPasswordDialogTemplate.securityDataChange"}}</h1>
<form action='' method='post' onsubmit="return false">
    <fieldset>
        <div id="securityMore">      
            <p>{{t "templates.admin.ChangeUserPasswordDialogTemplate.enterNewPasswordToChange"}}</p>
            <div class="groupField">
                <div class="groupFieldInputs floatLeft">
                    <div class='field'>
                        <label>{{t "common.user.newPassword"}}</label> 
                        <input type='password' name='password' value='' data-validator="password" data-validator-event="keyup" />
                        <span class='error'>x</span>
                    </div>

                    <div class='field'>
                        <label>{{t "common.user.confirmNewPassword"}}</label> 
                        <input type='password' name='passwordConfirm' value='' data-validator="passwordConfirm" data-validator-event="keyup" />
                        <span class='error'>x</span>
                    </div>
                </div>
                <div class="groupFieldErrors floatRight radious">
                    <div class="groupFieldErrorsRule">
                        <span class='error'>x</span> 
                        <label data-for-validator="password">{{t "common.form.validation.atLeastOneCapitalLetter"}}</label>
                    </div>
                    <div class="groupFieldErrorsRule">
                        <span class='error'>x</span> 
                        <label data-for-validator="password">{{t "common.form.validation.atLeastOneNumber"}}</label>
                    </div>
                    <div class="groupFieldErrorsRule">
                        <span class='error'>x</span> 
                        <label data-for-validator="password">{{t "common.form.validation.atLeast8Characters"}}</label>
                    </div>
                    <div class="groupFieldErrorsRule">
                        <span class='error'>x</span> 
                        <label data-for-validator="password">{{t "common.form.validation.cannotMatchLogin"}}</label>              
                    </div>
                    <div class="groupFieldErrorsRule">
                        <span class='error'>x</span> 
                        <label data-for-validator="passwordConfirm">{{t "common.form.validation.labelconfirmationMatchesPassword"}}</label>
                    </div>
                </div>
                <div class="clear"></div>
            </div>   
            <div class="clear"></div>
        </div>
    </fieldset>
</form>