<div id="users">
    <div class="shadowFrame">
    
        <h2 class="head floatLeft">{{t "common.user.usersList"}}</h2>
        <br />
        <br />
        
        <table id="usersTable" width="100%">
            <thead>
                <tr>
                    <th width="40"><input type="checkbox" /></th>
                    <th width="150">{{t "common.user.username"}}</th>
                    <th width="200">{{t "common.user.name"}}</th>
                    <th width="220">{{t "common.user.status"}}</th>
                    <th>{{t "common.user.email"}}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
       
    </div>
</div>