<div class="panel panel-default">
    <div class="panel-heading widget-heading">
        <h4 class="panel-title pull-left"><div class="panel-title-icon"><i class="fa {{widget.icon}}"></i></div>{{widget.name}}</h4>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-link fa-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-gear"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li  style="display:none;" class="widget-menu-item pause"><span><i class="fa fa-pause"></i>{{t "dashboard.pause"}}</span></li>
                <li  style="display:none;" class="widget-menu-item start"><span><i class="fa fa-play"></i>{{t "dashboard.start"}}</span></li>
                <li  style="display:none;" class="widget-menu-item refresh"><span><i class="fa fa-refresh"></i>{{t "dashboard.refresh"}}</span></li>
            </ul>
        </div>
    </div>

    <div class="panel-body widget-body">

    </div>
</div>