<div id="saveMappingDialog">
    <p>{{t "templates.mapping.saveMappingMessage"}}</p>

    <form class="form-horizontal" role="form">
        <div class="form-group required">
            <label class="col-sm-3 control-label">{{t "templates.mapping.mappingName"}}</label>
            <div class="col-sm-8">
                <input data-validator="spaceCheck" data-validator-event="keyup blur" class="mappingName form-control" type="text" name="mappingName" value="{{mappingName}}" required autofocus>
                <div class="validation-message"></div>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="form-group required">
            <label class="col-sm-3 control-label">{{t "templates.mapping.linkedMapping"}}</label>
            <div class="col-sm-8">
                <select class="mappingLinked form-control" name="mappingLinked">
                    <option value="none">{{t "templates.mapping.noLinkedMapping"}}</option>
                    {{#each availableLinks}}
                        <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </form>
</div>