<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<form id="configDialogForm" class="form-horizontal">
    {{> form/_basicInput value=from label="templates.selfservice.emailUsername.emailFrom" property="from" noValidation="true"}}
    {{> form/_basicInput value=mimeType label="templates.selfservice.emailUsername.mimeType" property="mimeType" noValidation="true"}}
    {{> form/_basicInput value=usernameToken label="templates.selfservice.emailUsername.usernameToken" property="usernameToken" noValidation="true"}}


    {{> selfservice/_translationMap
        label="templates.selfservice.emailUsername.subjectTranslations"
        property=subjectTranslations
        fieldName="subjectTranslations"}}

    {{> selfservice/_translationMap
        label="templates.selfservice.emailUsername.messageTranslations"
        property=messageTranslations
        fieldName="messageTranslations"}}
</form>
