<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<form id="configDialogForm" class="form-horizontal">
    {{> form/_basicInput value=from label="templates.selfservice.userEmailValidation.emailFrom" property="from" noValidation="true"}}
    {{> form/_basicInput value=mimeType label="templates.selfservice.userEmailValidation.mimeType" property="mimeType" noValidation="true"}}
    {{> form/_basicInput value=verificationLinkToken label="templates.selfservice.userEmailValidation.verificationLinkToken" property="verificationLinkToken" noValidation="true"}}
    {{> form/_basicInput value=verificationLink label="templates.selfservice.userEmailValidation.emailVerificationLink" property="verificationLink" noValidation="true" helpKey="templates.selfservice.userEmailValidation.emailVerificationLinkHelp"}}


    {{> selfservice/_translationMap
        label="templates.selfservice.userEmailValidation.emailSubject"
        property=subjectTranslations
        fieldName="subjectTranslations"}}

    {{> selfservice/_translationMap
        label="templates.selfservice.userEmailValidation.emailMessage"
        property=messageTranslations
        fieldName="messageTranslations"}}
</form>
