<!-- Copyright 2016 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<form id="configDialogForm" class="form-horizontal">
    {{> form/_basicInput value=from label="templates.selfservice.userEmailValidation.emailFrom" property="from" noValidation="true"}}

    <div class="form-group">
        <label class="col-sm-3 control-label" for="select-mimeType">{{t "templates.selfservice.userEmailValidation.mimeType"}}</label>
        <div class="col-sm-6">

            <select id="select-mimeType"
                    class="form-control basic-selectize-field"
                    name="mimeType">
                {{#staticSelect mimeType}}
                <option value="text/html">text/html</option>
                <option value="text/plain">text/plain</option>
                {{/staticSelect}}
            </select>
        </div>
    </div>

    {{> form/_basicInput value=verificationLinkToken label="templates.selfservice.userEmailValidation.verificationLinkToken" property="verificationLinkToken" noValidation="true"}}
    {{> form/_basicInput value=verificationLink label="templates.selfservice.userEmailValidation.emailVerificationLink" property="verificationLink" noValidation="true" helpKey="templates.selfservice.userEmailValidation.emailVerificationLinkHelp"}}


    {{> selfservice/_translationMap
        label="templates.selfservice.userEmailValidation.emailSubject"
        property=subjectTranslations
        fieldName="subjectTranslations"}}

    {{> selfservice/_translationMap
        label="templates.selfservice.userEmailValidation.emailMessage"
        property=messageTranslations
        useCodeMirror=true
        fieldName="messageTranslations"}}
</form>
