/*
  Clean up CSS
*/

.checkboxList ol {
  padding-left:20px;
  margin-bottom:0px;
  list-style: none;
}

.form-group.no-bottom-margin {
  margin-bottom:0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background-image:none;
  background-color:none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background-image:none;
}

.detailsLink {
  margin-left:15px;
  text-decoration:underline;
}


/*
  Messages
*/

#notifications .ui-accordion .ui-accordion-icons {
  padding-left:0px;
}

#notifications .notification-title .message-icon {
  float:left;
  font-size:26px;
  margin-right:5px;
  margin-left:5px;
}

#notifications .details {
  margin-left:5px;
}

#notifications .ui-accordion-header-icon {
  background-image:none;
}

/*
  manager search
*/

.manager-search .selectize-input .fa,
.manager-search .selectize-control .selectize-dropdown .fa {
  margin-right:5px;
}

.selectize-control .selectize-dropdown .manager-fullname {
  display:block;
}

.selectize-control .selectize-dropdown .manager-title {
  display:block;
}

.manager-search .selectize-input .caption,
.selectize-control .selectize-dropdown .caption {
  font-size: 12px;
  opacity: 0.5;
}


/*
  Reports Details
*/

#reportsHolder {
  margin-bottom:30px;

  .table tbody tr td {
    padding:15px;
  }

  .table tbody tr:hover {
    background-color:#f3f3f3;
  }
}

#reportsHolder .panel {
  margin-bottom:0px;
}

#reportsHolder thead tr{
  text-transform: uppercase;
}

/*
  Graph Display
*/


#reportsGraphBody, .reportsGraphBody {
  overflow:hidden;
  .node circle {
    fill: #fff;
    stroke: @base-theme-color;
    stroke-width: 3px;
  }

  .node text { font: 12px; }

  .link {
    fill: none;
    stroke: #2a2f32;
    stroke-width: 2px;
  }
}

/*
Dialog Catch
*/

.dialogInner .modal-header {
  padding-bottom:15px;
}
/*

  generic resource Display
*/

.resourcesContainer {
  margin-bottom:25px;
  padding-top: 10px;

  .btn-toolbar,  {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }


  td.noData {
    padding: 10px;
  }

  .ui-widget-content {
    border-color:transparent !important;
  }

  .ui-jqgrid {
    margin: auto;
    margin-top: 10px;
    border: 1px solid #eee;

    .ui-state-default {
      border-color:transparent;
    }
    tr.ui-row-ltr td {
      padding: 14px;
    }
    tr.ui-row-ltr :first-child {
      padding: 12px;
    }
    .ui-jqgrid-sortable {
      text-transform: uppercase;
    }
    .ui-jqgrid-pager {
      background-color: #fff;
    }
    thead {
      border-bottom: 2px solid #ddd;
      tr td {
        padding-bottom: 10px;
      }
    }
  }
}

.editResourceViewContainer {
  .resource-avatar {
    display: table;
    background: @base-theme-color;
    color: #fff;
    text-align: center;
  }

  .profile-header .resource-avatar {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    line-height: 70px;
    font-size: 36px;
  }

  .panel-footer {
    padding: 10px 15px;
    border-radius: 0;
    background-color: transparent;
    overflow: auto;
  }

  .page-header h4.page-type {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #666;
    font-weight: 600;
    margin-top: 0;
  }

  .page-header .meta {
    margin: -10px 0 10px;
    color: #777;
    text-transform: none;
    letter-spacing: 0;
    border-left: 1px solid #ddd;
    padding-left: 5px;
    margin-left: 4px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0;
  }

  .tab-content {
    background-color: #fff;
    margin-bottom: 50px;
  }

  .fa-search {
    margin-top: 10px;
  }

  .resourceCollectionTab {
    padding-top: 10px;
  }

  #resource>div>h3, .tabHeaderTemplate, .tabContentTemplate  {
    display: none !important;
  }

  .back-bar a {
    color: #777;
  }

  #linkToResource span{
    margin-top: 10px;
  }

  .well {
    background-color: transparent;
    border-color: transparent;
  }

  li.resourceListItem:hover {
    background-color: #ededed;
  }
}

/*
  Password Change
*/
#dialogs .modal-header {
  height: 50px;
  margin-bottom: 15px;
  border:none;
}

#dialogs .modal-title {
  float:left;
  font-weight: 600;
  font-size:16px;
}

#dialogs .modal-content .dialogCloseCross {
  float:right;
}

#dialogs .modal-content .dialogCloseCross a {
  color: rgb(42, 47, 50);
  opacity: .4;
}

#dialogs .modal-content .dialogCloseCross a:hover {
  opacity: .8;
}

#changeSecuirtyDataDialog .well,
#mandatoryPasswordChangeDialog .well {
  margin-left:45px;
}