/*
  Clean up CSS
*/

.checkboxList ol {
  padding-left:20px;
  margin-bottom:0px;
  list-style: none;
}

.form-group.no-bottom-margin {
  margin-bottom:0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background-image:none;
  background-color:none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background-image:none;
}

.detailsLink {
  margin-left:15px;
  text-decoration:underline;
}

/*
  Messages
*/

#notifications .ui-accordion .ui-accordion-icons {
  padding-left:0px;
}

#notifications .notification-title .message-icon {
  float:left;
  font-size:26px;
  margin-right:5px;
  margin-left:5px;
}

#notifications .details {
  margin-left:5px;
}

#notifications .ui-accordion-header-icon {
  background-image:none;
}


/*
Dialog Catch
*/

.dialogInner .modal-header {
  padding-bottom:15px;
}

/*
  Password Change
*/
#dialogs .modal-header {
  height: 50px;
  margin-bottom: 15px;
  border:none;
}

#dialogs .modal-title {
  float:left;
  font-weight: 600;
  font-size:16px;
}

#dialogs .modal-content .dialogCloseCross {
  float:right;
}

#dialogs .modal-content .dialogCloseCross a {
  color: rgb(42, 47, 50);
  opacity: .4;
}

#dialogs .modal-content .dialogCloseCross a:hover {
  opacity: .8;
}

#changeSecuirtyDataDialog .well,
#mandatoryPasswordChangeDialog .well {
  margin-left:45px;
}

/*
  Panel
*/

#dashboardWorkflow .panel.panel-collapse {
  box-shadow:none;
}