/*
  Clean up CSS
*/
.resourcesContainer {
    margin-bottom:25px;

    .btn-toolbar,  {
      border-bottom: none;
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
    }
    
    .ui-jqgrid {
      margin: auto;
      margin-top: 10px;
    }
}

.checkboxList ol {
  padding-left:20px;
  margin-bottom:0px;
  list-style: none;
}

.form-group.no-bottom-margin {
  margin-bottom:0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background-image:none;
  background-color:none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background-image:none;
}

.detailsLink {
  margin-left:15px;
  text-decoration:underline;
}


/*
  Messages
*/

#notifications .ui-accordion .ui-accordion-icons {
  padding-left:0px;
}

#notifications .notification-title .message-icon {
  float:left;
  font-size:26px;
  margin-right:5px;
  margin-left:5px;
}

#notifications .details {
  margin-left:5px;
}

#notifications .ui-accordion-header-icon {
  background-image:none;
}
 


