<div class="correlationBody">
    <form class="form clearfix" autocomplete="off">
        <fieldset>
            <legend><span>{{t "templates.correlation.defaultRules"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
            <div class="group-body" id="correlationQueryView">
            </div>
        </fieldset>

        <fieldset>
            <legend><span>{{t "templates.correlation.userAssociationManagment"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
            <div class="group-body" id="analysisView">
            </div>
        </fieldset>
    </form>
</div>
