<form id="authenticationForm" class="form clearfix" autocomplete="off">
    <div class="group-field-block">
        <label>{{t "templates.situationalPolicies.currentPolicy"}}</label>
        <select id="policyPatterns"></select>
    </div>

    <span id="patternDescription"></span>

    <fieldset id="sessionModuleForm">
        <legend><span>{{t "templates.situationalPolicies.policies"}}</span></legend>

        <div class="group-body">
            <div id="situationCopy" class="situationRow group-field-block">
                <label class="light situation">{{t "templates.situationalPolicies.situation"}}</label>
                <select class="action">
                    <option value="CREATE">CREATE</option>
                    <option value="UPDATE">UPDATE</option>
                    <option value="DELETE">DELETE</option>
                    <option value="LINK">LINK</option>
                    <option value="UNLINK">UNLINK</option>
                    <option value="EXCEPTION">EXCEPTION</option>
                    <option value="IGNORE">IGNORE</option>
                    <option value="REPORT">REPORT</option>
                    <option value="NOREPORT">NOREPORT</option>
                    <option value="ASYNC">ASYNC</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>

<p>&#9733; {{t "templates.situationalPolicies.starDef"}}</p>