<div class="sync-input-body">
    <form id="syncForm" class="form clearfix" autocomplete="off">
        <fieldset id="sessionModuleForm">
            <legend><span>{{t "templates.sync.syncTitle"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
            <div class="group-body">
                <h3>{{t "templates.sync.currentPolicy"}}: <span id="policyPatternName"></span></h3>
                <p id="policyPatternDesc"></p>
                <div class="group-field-block group-lead">
                </div>

                <div class="float-right form-button-bar">
                    <input type="button" class="button" id="situationalPolicyEditorButton" value="{{t "templates.sync.modifySituationalPolicies"}}" />
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend><span>{{t "templates.sync.situationalScripts"}}</span><i class="fa fa-lg {{#if hideSituational}}fa-plus-square-o{{else}}fa-minus-square-o{{/if}}"></i></legend>
            <div class="group-body" id="situationalQueries" {{#if hideSituational}}style="display: none;"{{/if}}></div>
        </fieldset>

        <fieldset>
            <legend><span>{{t "templates.sync.reconciliationScript"}}</span><i class="fa fa-lg {{#if hideRecon}}fa-plus-square-o{{else}}fa-minus-square-o{{/if}}"></i></legend>
            <div class="group-body" id="reconQueryView" {{#if hideRecon}}style="display: none;"{{/if}}></div>
        </fieldset>

        <fieldset id="syncWidget">
            <legend><span>{{t "templates.sync.schedules"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
            <div class="group-body">
                <div id="schedules"></div>
                <div id="addNew">
                    <h3>
                        <span>{{t "templates.sync.addReconciliationSchedule"}}</span>
                    </h3>
                </div>

                <div class="liveSyncContainer">
                    <span class="managedLiveSyncEnabled systemObjectMessage fieldHidden"><i class="fa fa-check-circle-o "></i> {{t "templates.sync.liveSyncEnabled"}}</span>
                    <span class="managedLiveSyncDisabled noLiveSyncMessage fieldHidden"><i class="fa fa-times-circle-o "></i> {{t "templates.sync.liveSyncDisabled"}}</span>

                    <div class="group-field-block-inline no-validation-block fieldHidden">
                        <label class="light">{{t "templates.sync.enableLiveSync"}}</label>
                        <input type="checkbox" value="false" class="liveSyncEnabled"/>
                    </div>

                    <div class="group-field-block">
                        <p class="managedSourceMessage fieldHidden">{{t "templates.sync.managedObjects"}}</p>
                        <p class="systemObjectMessage fieldHidden">
                            {{t "templates.sync.systemObjects1"}} <span class="liveSyncSeconds">0</span> {{t "templates.sync.systemObjects2"}}
                        </p>
                        <p class="noLiveSyncMessage fieldHidden">{{t "templates.sync.noLiveSync"}}</p>
                    </div>

                    <input type="button" class="float-right button saveLiveSync" value="{{t 'common.form.save'}}" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
