<tr class="policyParamEditableRow">
    <td class="renderable">
        <input type="text" class="policyParamName form-control" value="{{paramName}}"/>
    </td>
    <td class="renderable">
        <input type="text" class="policyParamValue form-control" value="{{value}}"/>
    </td>
    <td class="renderable">
        <i class="fa fa-undo grid-icon col-sm-1 pull-right cancelEditPolicyParam" title="{{t "templates.managed.schemaEditor.undo"}}"></i>
        <i class="fa fa-check grid-icon col-sm-1 pull-right saveEditPolicyParam" title="{{t "common.form.save"}}"></i>
    </td>
</tr>
