<tr class="refPropertiesEditableRow">
    <td class="renderable">
        <input type="text" class="editRefPropertyName form-control" value="{{name}}"/>
    </td>
    <td class="renderable">
        <input type="text" class="editRefPropertyLabel form-control" value="{{label}}"/>
    </td>
    <td class="renderable">
        <i class="fa fa-undo grid-icon col-sm-1 pull-right cancelEditRefProperty" title="{{t "templates.managed.schemaEditor.undo"}}"></i>
        <i class="fa fa-check grid-icon col-sm-1 pull-right saveEditRefProperty" title="{{t "common.form.save"}}"></i>
    </td>
</tr>
