<tr class="resourceCollectionFieldEditableRow">
    <td class="renderable overflow-visible">
        <select  class="resourceCollectionFieldName form-control">
            {{#each availableProps}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </td>
    <td class="renderable">
        <i class="fa fa-undo grid-icon col-sm-1 pull-right cancelEditResourceCollectionFieldRow" title="{{t "templates.managed.schemaEditor.undo"}}"></i>
        <i class="fa fa-check grid-icon col-sm-1 pull-right saveEditResourceCollectionFieldRow" title="{{t "common.form.save"}}"></i>
    </td>
</tr>
