<form id="passwordChange" action="" class="form-horizontal" role="form" method="post" onsubmit="return false">
    <fieldset class="fieldset">
        <p>{{t "templates.MandatoryChangePassword.mandatoryNewPassword"}}</p>

        <div class="col-md-5">
            <div class="form-group no-right-padding has-feedback">
                <label for="password">{{t "common.user.password"}}</label>
                <input class="form-control" type="password" name="password" value="" data-validation-dependents="passwordConfirm" id="password" required autofocus/>
                <input type="hidden" name="oldPassword"/>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
            <div class="form-group no-right-padding has-feedback">
                <label for="passwordConfirm">{{t "common.user.confirmPassword"}}</label>
                <input class="form-control" type="password" name="passwordConfirm" value="" data-validator="passwordConfirm" data-validator-event="keyup change" id="passwordConfirm" required/>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="col-md-6 validationRules well" data-for-validator="password"></div>
    </fieldset>
</form>

{{#equals userComponent "managed/user"}}   
{{#securityQuestions}}

<form id="securityDataChange" action="" role="form" class="form-horizontal" method="post" onsubmit="return false">
    <fieldset  class="fieldset">
        <p>{{t "templates.user.ChangeSecurityDataDialogTemplate.selectQuestionAndAnserIfYouWant"}}</p>

        <div class="col-md-5">
            <div class="form-group">
                <label for="securityQuestion">{{t "common.user.securityQuestion"}}</label>
                <input type="hidden" name="oldSecurityQuestion" />
                <select class="col-md-12" id="securityQuestion" name="securityQuestion"></select>
            </div>
            <div class="form-group has-feedback">
                <label for="securityAnswer">{{t "common.user.securityAnswer"}}</label>
                <input class="form-control" type="text" name="securityAnswer"/>
                <div class="validation-message"></div>
                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
            </div>
        </div>

        <div class="col-md-6 security-question well">
            <p>{{t "templates.user.ChangeSecurityDataDialogTemplate.securityQuestionAndAnserExplanation"}}</p>
        </div>

    </fieldset>
</form>

{{/securityQuestions}}
{{/equals}}