<form id="siteImageChange" role="form" action="" class="form-horizontal" method="post" onsubmit="return false">
    <fieldset class="fieldset">

        <input type="hidden" name="oldSiteImage" />

        <p>{{t "templates.user.ChangeSiteIdentificationDialogTemplate.siteImageAndPhaseExplanation"}}</p>

        <div id="passPhrasePictures" class="site-image-select" style="padding-bottom:20px;">
            <div class="btn-group" data-toggle="buttons">
                {{siteImages siteImages}}
            </div>
        </div>

        <input type="hidden" name="siteImage" data-validator="siteImage" data-validation-status="disabled" />

        <div class="form-group col-md-9 has-feedback">
            <label for="passPhrase">{{t "common.user.sitePhrase"}}</label>
            <input class="form-control" type="text" name="passPhrase" value=""  data-validator="oldPassword" id="passPhrase" required autofocus/>
            <div class="validation-message"></div>
            <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
        </div>
    </fieldset>
</form>