<form id="enterOldPassword" role="form" action="" class="form-horizontal" method="post" onsubmit="return false">
    <fieldset class="fieldset">
        <p>{{t "templates.user.EnterOldPasswordDialog.enterYourOldPassword"}}</p>
        <div class="form-group col-md-9 has-feedback">
            <label for="oldPassword">{{t "common.user.oldPassword"}}</label>
            <input class="form-control" type="password" name="oldPassword" value=""  data-validator="oldPassword" id="oldPassword" required autofocus/>
        </div>
    </fieldset>
</form>