<!-- Copyright 2016 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<form id="preferences">
    <div class="panel-body">
        <label class="control-label col-sm-3">{{t "templates.preferences.emailPref"}}</label>
        <div class="col-sm-7">

            <div class="checkbox">
                <label>
                    <input name="preferences.updates" value="true" type="checkbox"{{#if preferences.updates}} checked{{/if}}>

                    {{t "templates.preferences.updates"}}
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input name="preferences.marketing" value="true" type="checkbox"{{#if preferences.marketing}} checked{{/if}}>

                    {{t "templates.preferences.marketing"}}
                </label>
            </div>

        </div>
    </div>

    <div class="panel-footer clearfix">
        <div class="pull-right">
            <input class="btn btn-primary save-pref" type="submit" value="{{t "common.form.update"}}" />
        </div>
    </div>

</form>


