<div class="container">
    <div class="page-header">
        <h3>{{t "common.form.usersList"}}</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button class="btn btn-primary pull-right" type="button" name="addUserButton">{{t "common.user.addUsers"}}</button>
    </div>

    <div id="users">

        <table id="usersTable" class="radious">
            <tr>
                <th width="245">{{t "common.user.email"}}</th>
                <th width="210">{{t "common.user.familyName"}}</th>
                <th width="110">{{t "common.user.givenName"}}</th>
                <th width="110" style="text-align: center;">{{t "common.form.actions"}}</th>
            </tr>
        </table>

        <span id="remainingUsers"></span> {{t "templates.admin.UsersTemplate.remainingUsers"}}.

    </div>
</div>