/*
  Dashboard
*/

.widget-heading {
  height:45px;
}

.widget-heading button {
  bottom:8px;
  color: #777;
}

.widget-heading button:hover {
  bottom:8px;
  color: #36625a;
}

.dashboard-loading-message {
  position:absolute;
  top: 50%;
  margin-top:-25px;
  left: 50%;
  margin-left: -60px;
  border: 2px solid @panel-hover-color;
  background-color:@base-theme-color;
  color:white;
  padding:20px;
}

/*
  Quick Start Widget
*/
#dashboardWidgets .panel-body .card-container {
  margin-bottom:0px;
}