a:hover {
  text-decoration: none;
}

.btn-social-provider {
  margin-top: 10px;

  img {
    max-width: 21px;
    float:left;
  }
}

a:hover {
  .btn-google {
    color: #6d6d6d;
    background-color: #eeeeee;
    border-color: #ccc;
  }
}

.btn-google {
  background-color: #fff;
  border-color: #ddd;
  color: #757575;
}

