<div class="float-right">
    <button class="button" id="saveBtn">{{t "common.form.save"}}</button>
    {{#unless newObject}}
        <button class="button" id="resetBtn">{{t "common.form.reset"}}</button>
        <button class="button" id="deleteBtn">{{t "common.form.delete"}}</button>
    {{/unless}}
    <button class="button" id="backBtn">{{t "templates.admin.ManagedObjectEdit.backToList"}}</button>
</div>
<h1>
    {{#if newObject}}
        {{t "common.form.add"}}
    {{else}}
        {{t "common.form.edit"}}
    {{/if}}
</h1>
<div id="managedObject" class="jsonEditor"></div>