<h2>{{t "templates.admin.LinkedTemplate.linkedSystems"}}</h2>

{{#if linkedResources}}
    <div class="group-field-block">
        <label class="light">{{t "templates.admin.LinkedTemplate.linkedResource"}}</label>
        <select id="linkedViewSelect">
            {{#each_with_index linkedResources}}
                <option value="{{index}}">{{value}}</option>
            {{/each_with_index}}
            </each_with_index>
        </select>
    </div>

    <div id="linkedViewContent"></div>
{{else}}
    <div class="data-not-found">
        {{t "templates.admin.LinkedTemplate.noLinkedSystems"}}
    </div>
{{/if}}