<h3>{{t "templates.mapping.addMapping"}}</h3>
<div class="resource-input-body">
     <form id="mappingForm" class="form clearfix" autocomplete="off">
         <fieldset>
             <legend><span>{{t "common.form.details"}}</span><i class="fa fa-lg fa-minus-square-o"></i></legend>
             <div class="group-body">
                 <div class="group-field-block group-lead">
                     <div class="separate-message">
                         <label for="mappingSource" class="light">{{t "templates.mapping.source"}}</label>
                         <select class="form-size-l select-button-form" id="mappingSource" name="source" data-validator="required" data-validator-event="change" required>
                             <option value=""></option>
                             {{#each availableObjectsMap.managed}}
                             <option value="{{fullName}}" {{#source}}selected{{/source}}>{{fullName}}</option>
                             {{/each}}
                             {{#each availableObjectsMap.system}}
                             <option value="{{fullName}}" {{#source}}selected{{/source}}>{{fullName}}</option>
                             {{/each}}
                         </select>
                         <span></span>
                         <div class="validation-message"></div>
                     </div>
                 </div>
                 <div class="group-field-block group-lead">
                     <div class="separate-message">
                         <label for="mappingTarget" class="light">{{t "templates.mapping.target"}}</label>
                         <select class="form-size-l select-button-form" id="mappingTarget" name="target" data-validator="required" data-validator-event="change" required>
                             <option value=""></option>
                             {{#each availableObjectsMap.managed}}
                             <option value="{{fullName}}" {{#target}}selected{{/target}}>{{fullName}}</option>
                             {{/each}}
                             {{#each availableObjectsMap.system}}
                             <option value="{{fullName}}" {{#target}}selected{{/target}}>{{fullName}}</option>
                             {{/each}}
                         </select>
                         <span></span>
                         <div class="validation-message"></div>
                     </div>
                 </div>
             </div>
                 <div class="group-field-block group-lead">
                     <div class="separate-message">
                         <label for="mappingName" class="light">{{t "common.user.name"}}</label>
                         <input id="mappingName" class="form-size-l" type="text" name="name" value="{{mapping.name}}" data-validator="required" data-validator-event="keyup blur" required autofocus>
                         <span></span>
                         <div class="validation-message"></div>
                     </div>
                 </div>
             </div>
         </fieldset>

        <div class="float-right form-button-bar">
            <input type="submit" id="addMapping" name="addButton" value="{{t 'templates.mapping.saveNewMapping'}}" class="button">
        </div>
     </form>
</div>