<div class="changesPending box-shadow round ui-state-highlight" style="margin: 10px 5px;"><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>{{t "templates.mapping.changesPending"}}</div>
 <div class="float-left">
    <h3>{{pageTitle}}</h3>
</div>
<div class="float-right">
     <button id="deleteMapping" class="button">{{t "templates.mapping.deleteMapping"}}</button>
     <button id="clearChanges" class="button">{{t "common.form.reset"}}</button>
     <input type="submit" id="updateMappingButton" name="updateMappingButton" value="{{t 'common.form.update'}}" class="button">
 </div>
<br/><br/><br/>
<div>
   <h5>Source: {{mapping.source}} => Target: {{mapping.target}}</h5>
</div>
<div id="mappingTabs">
    <ul>
        <li><a href="#propertyMapping">{{t "templates.mapping.properties"}}</a></li>
    </ul>
    <div id="propertyMapping"></div>
</div>