<section>
    <div class="back-bar">
        <div class="container">
            <a href="#mapping/"><span class="header-link-text">{{t "templates.mapping.backToMapping"}}</span></a>
        </div>
    </div>

    <div class="container">
        <div class="page-header clearfix">
            <span class="header-icon pull-left"><i class="fa fa-map-marker"></i></span>
            <h4 class="page-type">{{t "templates.mapping.mappingDetailTitle"}}</h4>
            <div class="page-header-button-group">
                <button id="stopSyncButton" type="button" title="{{t "templates.mapping.stopSync"}}" class="btn btn-primary btn-actions" style="display:none;"><i class="fa fa-clock-o"></i> <span>{{t "common.form.cancel"}}</span></button>
                <button id="syncNowButton" type="button" title="{{t "templates.mapping.syncNow"}}" class="btn btn-primary btn-actions"><i class="fa fa-clock-o"></i> <span>{{t "templates.mapping.syncNow"}}</span></button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-secondary dropdown-toggle btn-actions" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-v fa-lg"></i>
                    </button>
                    <ul class="dropdown-menu pull-rightAd" role="menu">
                        <li id="deleteMapping"><a href="#"><i class="fa fa-times"></i>{{t "common.form.delete"}}</a></li>
                    </ul>
                </div>
            </div>
            <h1>{{mapping.name}}</h1>
        </div>
    </div>
</section>
<div class="container">
    <div id="mappingConfigHolder">
        <div class="mapping mapping-config-body" mapping="{{name}}">
            <div class="panel panel-default">
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="connector source">
                                <div class="panel-body">
                                    <div class="media">
                                        <span class="media-left"">
                                        <div class="image circle">
                                            <i class="mapping-icon left-icon {{mapping.sourceIcon}}"></i>
                                        </div>
                                        </span>
                                        <div class="media-body">
                                            <h4 class="connector-role">{{t "templates.mapping.source"}}</h4>
                                            <h3>{{mapping.source}}</h3>
                                            <p class="">{{sourceType}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="arrow">
                                    <div class="arrow-inner">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="connector target">
                                <div class="panel-body">
                                    <div class="media">
                                        <span class="media-left">
                                            <div class="image circle">
                                                <i class="mapping-icon left-icon {{mapping.targetIcon}}"></i>
                                            </div>
                                        </span>
                                        <div class="media-body">
                                            <h4 class="connector-role">{{t "templates.mapping.target"}}</h4>
                                            <h3>{{mapping.target}}</h3>
                                            <p>{{targetType}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row no-gutters">
                            <div class="col-sm-6">
                                <div class="connector-info">
                                    <div id="syncStatus" class="sync-status">
                                        <i class="fa fa-caret-right"></i>
                                        <span id="syncLabel">{{syncLabel}}</span>
                                        <span id="syncMessage">{{syncStatus}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="connector-actions">
                                    <div>
                                        <a href="{{docHelpUrl}}integrators-guide/index.html#sync-types" target="_blank" class="btn btn-link button icon-button help-link" role="button"><i class="fa fa-question-circle"></i> <span>{{t "templates.connector.help"}}</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="syncStatusDetails" style="display:none;"></div>
                </div>
            </div>
        </div>
    </div>

    <ul id="mappingTabs" class="nav nav-tabs">
        <li id="propertiesTab" data-route-name="propertiesView" class="active"><a data-toggle="tab" href="#mappingContent">Properties</a></li>
        <li id="associationTab" data-route-name="associationView"><a data-toggle="tab" href="#mappingContent">Association</a></li>
        <li id="behaviorsTab" data-route-name="behaviorsView"><a data-toggle="tab" href="#mappingContent">Behaviors</a></li>
        <li id="scheduleTab" data-route-name="scheduleView"><a data-toggle="tab" href="#mappingContent">Scheduling</a></li>
    </ul>

    <div class="tab-content" id="mappingContent"></div>

</div>