<style>
    #submenu { display: none; }
</style>
<div class="add-mapping-button float-right">
    <a href="#resources/open"><button type="button" class="icon-button button" id="addMapping"><span>{{t 'templates.mapping.addMapping'}}</span><i class="fa fa-lg fa-plus"></i></button></a>
</div>

{{#if mappingConfig.length}}
<div id="mappingConfigHolder">
    {{#each mappingConfig}}
    <div class="mapping-config-body" mapping="{{name}}">
        <div class="mapping-body">
            <span class="mapping-icon"><i class="fa fa-2x {{sourceIcon}}"></i></span>
            <div class="mapping-source">
                <p class="mapping-header">{{t "templates.mapping.source"}}</p>
                <p class="mapping-title">{{source}}</p>
                <p>{{sourceType}}</p>
            </div>
            <div class="mapping-arrow">
                <div class="arrow-box">
                    <i class="fa fa-arrow-right"></i>
                </div>
            </div>
            <span class="mapping-icon left-icon"><i class="fa fa-2x {{targetIcon}}"></i></span>
            <div class="mapping-target">
                <p class="mapping-header">{{t "templates.mapping.target"}}</p>
                <p class="mapping-title">{{target}}</p>
                <p>{{targetType}}</p>
            </div>
        </div>
        <div class="mapping-bottom-bar">
            <div class="inline">{{name}}</div>
            <button type="button"  name="" class="button icon-button pull-right edit-button"><span>{{t "common.form.edit"}}</span><i class="fa fa-lg fa-pencil"></i></button>
            <button type="button"  name="" class="button icon-button pull-right delete-button"><span>{{t "common.form.delete"}}</span><i class="fa fa-lg fa-times-circle-o"></i></button>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<div id="noMappingsDefined" {{#if mappingConfig}}style="display:none;"{{/if}}>{{t "templates.mapping.noMappingsDefined"}}</div>