<!-- Copyright 2016 ForgeRock AS.
    License terms: https://forgerock.org/cddlv1-0/ -->
<section>
    <div class="container">
        <div class="page-header">
            <h1>{{t "templates.mapping.mappingListingTitle"}}
                <div  class="pull-right help-link">
                    <a href="{{docHelpUrl}}integrators-guide#chap-synchronization" target="_blank">{{t "templates.connector.help"}} <i class="fa fa-question-circle"></i></a>
                </div>
            </h1>
        </div>
        <div class="toolbar page-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-left left-group" role="group" aria-label="...">
                <a href="#mapping/add/">
                    <button type="button" class="btn btn-primary" id="addMapping">
                        <i class="fa fa-plus"></i>
                        {{t "templates.connector.addMapping"}}
                    </button>
                </a>
            </div>
            <div class="pull-right">
                <div class="btn-group btn-icon" data-toggle="btns">
                    <a class="btn toggle-view-btn fr-btn-secondary active" href="#mappingConfigHolder" data-toggle="tab"><i class="fa fa-th"></i></a>
                    <a class="btn toggle-view-btn fr-btn-secondary" href="#mappingConfigGridHolder" data-toggle="tab"><i class="fa fa-list"></i></a>
                </div>
                <div class="toolbar-search">
                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" class="form-control filter-input" aria-label="Mapping Filter" placeholder="Filter...">
                        <div class="form-control-feedback "><i class="fa fa-search"></i></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<div class="container">
    {{#if mappingConfig.length}}
    <div class="tab-content tab-content-transparent">
        <div id="mappingConfigHolder" class="mapping-listing mappings-list tab-pane active">
            {{#each mappingConfig}}
                <div class="wide-card card mapping mapping-config-body" mapping="{{name}}">
                    <div class="panel panel-default">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="connector source">
                                    <div class="panel-body">
                                        <div class="media">
                                            <div class="media-left">
                                                {{#if sourceConnector.isMissing}}
                                                <div class="image circle missing">
                                                    <i class="fa fa-question"></i>
                                                </div>
                                                {{else}}
                                                <div class="image circle">
                                                    <i class="mapping-icon left-icon {{sourceIcon}}"></i>
                                                </div>
                                                {{/if}}
                                            </div>
                                            <div class="media-body">
                                                <h4 class="connector-role">{{t "templates.mapping.source"}}</h4>
                                                {{#if sourceConnector.isMissing}}
                                                <h3 class="text-muted">{{source}}</h3>
                                                {{else}}
                                                <h3>{{source}}</h3>
                                                {{/if}}
                                                <p class="">{{sourceType}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="arrow">
                                        <div class="arrow-inner">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="connector target">
                                    <div class="panel-body">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                {{#if targetConnector.isMissing}}
                                                <div class="image circle missing">
                                                    <i class="fa fa-question"></i>
                                                </div>
                                                {{else}}
                                                <div class="image circle">
                                                    <i class="mapping-icon left-icon {{targetIcon}}"></i>
                                                </div>
                                                {{/if}}
                                            </a>
                                            <div class="media-body">
                                                <h4 class="connector-role">{{t "templates.mapping.target"}}</h4>
                                                {{#if targetConnector.isMissing}}
                                                <h3 class="text-muted">{{target}}</h3>
                                                {{else}}
                                                <h3>{{target}}</h3>
                                                {{/if}}
                                                <p>{{targetType}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="row no-gutters">
                                <div class="col-sm-6">
                                    <div class="connector-info">
                                        <h2 class="connector-name mapping-config-header sync-label">
                                            {{name}}
                                        </h2>
                                        <div class="connector-status">
                                            <i class="{{name}}_syncStatus_icon fa"></i>
                                            <span class="{{name}}_syncStatus"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 connector-actions-buttons">
                                    <div class="connector-actions">
                                        <div>
                                            <button type="button" class="btn btn-link button icon-button move-button" title="Move" ><i class="fa fa-arrows"></i> <span>{{t "templates.mapping.move"}}</span></button>
                                            <button type="button" class="btn btn-link button icon-button"><i class="fa fa-pencil"></i> <span>{{t "common.form.edit"}}</span></button>
                                            <button type="button" class="btn btn-link button icon-button delete-button card-button"><i class="fa fa-times"></i> <span>{{t "common.form.delete"}}</span></button>
                                            <button type="button" class="btn btn-link button icon-button sync-now card-button" mappingName="{{name}}"><i class="fa fa-refresh"></i><span>{{t "templates.mapping.syncNow"}}</span></button>
                                            <button type="button" class="btn btn-link button icon-button stop-sync card-button" mappingName="{{name}}" style="display:none;" disabled><i class="fa fa-times-circle"></i><span>{{t "templates.mapping.stopSync"}}</span></button>
                                        </div>
                                    </div>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#properties/{{name}}/"><i class="fa fa-pencil"></i>{{t "common.form.edit"}}</a></li>
                                        <li class="delete-button mapping-delete card-button"><span><i class="fa fa-times"></i>{{t "common.form.delete"}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {{/each}}
        </div>
        <div id="mappingConfigGridHolder" class="tab-pane">
            <div class="panel panel-default">
                <div class="panel-body" id="mappingGrid"></div>
            </div>
        </div>
    </div>
    {{/if}}

    {{#unless mappingConfig.length}}
    <div id="noMappingsDefined">{{t "templates.mapping.noMappingsDefined"}}</div>
    {{/unless}}
</div>
