<div class="float-left">
    <input type="button" class="addProperty button" value="{{t "templates.mapping.addProperty"}}" />
    <span id="allPropertiesMapped" style="display:none;padding:20px;">{{t "templates.mapping.allPropertiesMapped"}}</span>
</div>
<!-- <fieldset class="float-right">
    <label for="findSampleSource" class="inline">{{t "templates.mapping.sampleSource"}}:</label> <input type="text" id="findSampleSource" value="{{sampleSource}}">
</fieldset> -->
<div style="margin-top: 45px;">
    <table id="mappingTable"></table>
</div>