
<form action="" class="form center no-margin" method="post" onsubmit="return false" id="propertyAddForm" autocomplete="off">
    <div id="Property_List">
       <div class="row">
           <div class="col-sm-11">
               <label for="propertyList">{{t "templates.mapping.propertyAdd.listLabel"}}</label>
           </div>
           <div class="col-sm-5">
               <input name="propertyList" value="" class="form-control" autocomplete="off"/>
               <div class="validation-message"></div>
           </div>
       </div>
    </div>
</form>
