<div class="panel-collapse-group">

    <div id="linkQualifierPanel" class="panel panel-default panel-collapse">
        <div class="panel-heading" role="tab" id="linkQualifierHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#linkQualifierBody" {{#if hasLinkQualifiers}} aria-expanded="true" {{else}} aria-expanded="false" {{/if}} aria-controls="linkQualifierHeading">Link Qualifiers</a>
            </h4>
        </div>
        <div id="linkQualifierBody" class="collapse {{#if hasLinkQualifiers}} in {{/if}}" role="tabpanel" aria-labelledby="linkQualifierHeading">
            <div id="mappingLinkQualifiers"></div>
        </div>
    </div>

    <div id="attributesGridPanel" class="panel panel-connector panel-default panel-collapse">
        <div class="panel-heading" role="tab" id="attributesHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#attributesBody" aria-expanded="true" aria-controls="attributesHeading" class="">Attributes Grid</a>
            </h4>
        </div>
        <div id="attributesBody" class="collapse in" role="tabpanel" aria-labelledby="attributesHeading" aria-expanded="true" style="">
            <div id="attributesGrid"></div>
        </div>
    </div>

    <div id="roleEntitlementsPanel" class="panel panel-default panel-collapse">
        <div class="panel-heading" role="tab" id="roleEntitlementsHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#roleEntitlementsBody" aria-expanded="false" aria-controls="roleEntitlementsHeading">{{t "templates.mapping.roleEntitlements"}}</a>
                <!--<span class="help-text">{{t "templates.mapping.roleEntitlementsDescription"}}</span></a>-->
            </h4>
        </div>
        <div id="roleEntitlementsBody" class="collapse" role="tabpanel" aria-labelledby="roleEntitlementsHeading">
            <div id="mappingRoleEntitlements"></div>
        </div>
    </div>
</div>