<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div class="panel-collapse-group">

    <!-- Scheduler View -->
    <div class="panel panel-default panel-collapse">
        <div class="panel-heading" role="tab" id="scheduleBaseHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#scheduleBase" aria-expanded="true" aria-controls="scheduleBaseHeadings" class="">{{t "templates.scheduler.scheduler"}}</a>
            </h4>
        </div>
        <div id="scheduleBase" class="collapse in" role="tabpanel" aria-labelledby="scheduleBase" aria-expanded="true">
            <div class="clearfix panel-body" id="schedulerView"></div>
        </div>
    </div>

    <!-- Live Sync View -->
    <div class="panel panel-default panel-collapse">
        <div class="panel-heading" role="tab" id="liveSyncBaseHeading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#liveSyncBase" aria-expanded="true" aria-controls="liveSyncBaseHeading" class="">{{t "templates.schedule.liveSyncTitle"}}</a>
            </h4>
        </div>
        <div id="liveSyncBase" class="collapse in" role="tabpanel" aria-labelledby="liveSyncBase" aria-expanded="true">
            <div class="panel-body" id="liveSyncView"></div>
        </div>
    </div>

</div>
