<div class="container">
    <div class="page-header">
        <h1>{{t "templates.socialProviders.socialIdentityTitle"}}</h1>
    </div>
</div>

<div class="container">
    <div id="socialProviderContent" class="panel">
        <div class="panel-body selfservice-holder">
            <p class="panel-description">{{t "templates.socialProviders.sectionDetails"}}</p>
            <div class="">
                {{#each providers}}
                {{> _toggleIconBlock this}}
                {{/each}}
            </div>
        </div>
    </div>
</div>