<!-- Copyright 2016 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div class="container">
    <div class="page-header">
        <h1>{{t "templates.selfservice.forgotUsername"}}</h1>
    </div>
    <div class="toggle-header">
        <label class="control-label">{{t "templates.selfservice.enableForgotUsername"}}</label>
        <div class="checkbox checkbox-slider-primary checkbox-slider checkbox-slider--b checkbox-slider-md">
            <label>
                <input class="all-check" type="checkbox"><span></span>
            </label>
        </div>
    </div>
    {{> selfservice/_steps this}}
</div>
