<!-- Copyright 2016 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div class="checkbox">
    <label>
        <input name="preferences.updates" value="true" type="checkbox"{{#if preferences.updates}} checked{{/if}}>

        {{t "templates.preferences.updates"}}
    </label>
</div>

<div class="checkbox">
    <label>
        <input name="preferences.marketing" value="true" type="checkbox"{{#if preferences.marketing}} checked{{/if}}>

        {{t "templates.preferences.marketing"}}
    </label>
</div>
