<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
{{!-- Depricated: Please use LoginBaseTemplate --}}
<div id="medium-base">
    <div class="main-logo-holder">
        <img class="main-logo" src="{{theme.settings.loginLogo.src}}" style="{{#if theme.settings.loginLogo.width}}width:{{theme.settings.loginLogo.width}};{{/if}}{{#if theme.settings.loginLogo.height}} height:{{theme.settings.loginLogo.height}};{{/if}}" alt="{{theme.settings.loginLogo.alt}}" />
    </div>
    <div id="content"></div>
</div>
