<!-- Copyright 2016 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->

<div class="panel panel-default panel-collapse">
    <div class="panel-heading" role="tab" id="connectorSpecificBaseHeading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#connectorSpecificBase" aria-expanded="true" aria-controls="connectorSpecificBaseHeading" class="">{{t "templates.connector.baseTitle"}}</a>
        </h4>
    </div>

    <div id="connectorSpecificBase" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="connectorSpecificBase" aria-expanded="true">
        <div class="panel-body">
            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="instance">{{t "templates.connector.marketo.instance"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="instance" data-validator-event="keyup blur" data-validator="required" name="configurationProperties.instance" value="{{connectorDefaults.configurationProperties.instance}}" />
                    <span class="help-block">{{t "templates.connector.marketo.instanceHelp"}}</span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="clientId">{{t "templates.connector.oAuthGeneral.clientId"}}</label>
                <div class="col-sm-8">
                    <textarea class="form-control" type="text" id="clientId" name="configurationProperties.clientId" data-validator-event="keyup blur" data-validator="required">{{connectorDefaults.configurationProperties.clientId}}</textarea>
                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    <span class="help-block">{{t "templates.connector.marketo.clientIdHelp"}}</span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="clientSecret">{{t "templates.connector.oAuthGeneral.clientSecret"}}</label>
                <div class="col-sm-8">
                    {{#if connectorDefaults.configurationProperties.clientSecret}}
                    <input id="clientSecret" data-validator-event="keyup blur" data-validator="changed" placeholder="**********" class="form-control" type="password" name="configurationProperties.clientSecret">
                    {{else}}
                    <input id="clientSecret" data-validator-event="keyup blur" data-validator="required" class="form-control" type="password" name="configurationProperties.clientSecret" required>
                    {{/if}}

                    <div class="validation-message"></div>
                    <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                    <span class="help-block">{{t "templates.connector.marketo.clientSecretHelp"}}</span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="listName">{{t "templates.connector.marketo.listName"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" data-validator-event="keyup blur" data-validator="required" id="listName" name="configurationProperties.listName" value="{{connectorDefaults.configurationProperties.listName}}" />
                    <span class="help-block">{{t "templates.connector.marketo.listNameHelp"}}</span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="leadFields">{{t "templates.connector.marketo.leadFields"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="leadFields" name="configurationProperties.leadFields" value="{{connectorDefaults.configurationProperties.leadFields}}" />
                    <span class="help-block">{{t "templates.connector.marketo.leadFieldsHelp"}}</span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="partitionName">{{t "templates.connector.marketo.partitionName"}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="partitionName" name="configurationProperties.partitionName" value="{{connectorDefaults.configurationProperties.partitionName}}" />
                    <span class="help-block">{{t "templates.connector.marketo.partitionNameHelp"}}</span>
                </div>
            </div>
        </div>
    </div>
</div>