<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<li class="list-group-item">
    <div class="row">
        <div class="col-xs-10">
            <div class="row">
                <div class="col-sm-3">
                    <div class="attribute-name">
                        <div class="form-group ">
                            <select type="text" class="form-control select-attribute" autocomplete="off" value="{{name}}">
                                {{#each resourceSchema}}
                                <option value="{{@key}}">{{@key}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="attribute-value compactJSON" attrName="{{name}}"></div>
                </div>
                <div class="col-sm-1">
                    <div class="attribute-operations">
                        <div>
                            <button type="button" class="btn btn-default btn-toggle-attribute-operations" data-toggle="popover">
                                <i class="fa fa-cog"></i> <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="btn-group pull-right">
                <button class="btn btn-link delete-attribute"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</li>