<!-- Copyright 2015 ForgeRock AS.
	License terms: https://forgerock.org/cddlv1-0/ -->
<div class="operations-popover">
    <div class='form-group operations-popover-group'>
        <label class='control-label'>{{t "templates.admin.AssignmentTemplate.assignmentOperation"}}</label>
        <select class='form-control onAssignment-select' name="onAssignment">
            {{#staticSelect assignmentOperation}}
                <option value="mergeWithTarget">{{t "templates.admin.AssignmentTemplate.mergeWithTarget"}}</option>
                <option value="removeFromTarget">{{t "templates.admin.AssignmentTemplate.removeFromTarget"}}</option>
                <option value="replaceTarget">{{t "templates.admin.AssignmentTemplate.replaceTarget"}}</option>
                <option value="noOp">{{t "templates.admin.AssignmentTemplate.noOp"}}</option>
            {{/staticSelect}}
        </select>
    </div>
    <div class='form-group operations-popover-group'>
        <label class='control-label'>{{t "templates.admin.AssignmentTemplate.unassignmentOperation"}}</label>
        <select class='form-control unAssignment-select' name="onUnassignment">
            {{#staticSelect unassignmentOperation}}
                <option value="mergeWithTarget">{{t "templates.admin.AssignmentTemplate.mergeWithTarget"}}</option>
                <option value="removeFromTarget">{{t "templates.admin.AssignmentTemplate.removeFromTarget"}}</option>
                <option value="replaceTarget">{{t "templates.admin.AssignmentTemplate.replaceTarget"}}</option>
                <option value="noOp">{{t "templates.admin.AssignmentTemplate.noOp"}}</option>
            {{/staticSelect}}
        </select>
    </div>
    <button class='btn btn-primary save-operations'>{{t "common.form.ok"}}</button>
</div>